


.h100vh {
  height: 100vh;
}

.main-content  {
  flex-grow: 1;
}

a {
  color: #0057b8;
  text-decoration: none;

  &:hover, &:focus {
    text-decoration: none;
    color: lighten(#0057b8, 10);
  }
}


