.h100vh {
  height: 100vh;
}

.main-content  {
  flex-grow: 1;
}

.site-promo-logo {
  max-width: 160px;
}

a {
  color: #0057b8;
  text-decoration: none;

  &:hover, &:focus {
    text-decoration: none;
    color: lighten(#0057b8, 10);
  }
}

@media print {
  .dataTables_filter
  {
    display: none !important;
  }
}
