/* BASE
--------------------------------------------------------------------------
========================================================================*/

*, *::before, *::after {
  box-sizing: border-box;
}

/* Document
------------------------------------------------------------------------*/

body, html {
  width: 100%;
  height: 100%;
  background-color: $color-white;
}

body {
  margin: 0;
  padding: 0;
}

.viewport-fit {
  background: #8059a2;
}

img[data-lazy-src] {
  width: 100%;
}

picture {
  img {
    display: block;
    width: 100%;
  }
}

.row {
  max-width: 105rem;
}

a, button {
  cursor: pointer;
  text-decoration: none;
  transition: all .2s;
}

* {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent; /* For some Androids */
}

.page-wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
}

body > img {
  display: block;
  overflow: hidden;
  width: 0;
  height: 0;
}

[hidden] {
  display: none !important;
}

/* Animate items
------------------------------------------------------------------------*/

[data-animate-item] {
  opacity: 0;
  transform: translateY(5px);
  //will-change: opacity, transform;
  //filter: blur(10px);
  //will-change: opacity, filter;

  @keyframes load-in {
    to {
      opacity: 1;
      //filter: blur(0);
      transform: translateY(0);
    }
  }

  &.animated {
    animation: load-in 0.5s forwards;
  }
}
