/* COLORS
--------------------------------------------------------------------------
========================================================================*/

/* Base
------------------------------------------------------------------------*/

$color-primary: #02394C;
$color-primary-light: #cb89ff;
$color-primary-dark: #491B72;

$color-secondary: #FC907C;
$color-secondary-dark: #001748;

$color-text: #00212D;
$color-blue: #28ABB5;
$color-light-blue: #03E0D5;
$color-light-gray: #F0E0D3;
$color-light-coral: #F5F0EC;

$color-light: #EEE;
$color-dark: #333;
$color-white: #fff;

// validation
$color-error: #FF3E5E;
$color-success: #53B585;
