<tr>
  <td>analiza (wiersza)</td>
  <td>аналіз (вірша)</td>
  <td>analiz (wirsza)</td>
</tr>
<tr>
  <td>argument</td>
  <td>аргумент</td>
  <td>arhument</td>
</tr>
<tr>
  <td>arkusz&nbsp;egzaminacyjny</td>
  <td>екзамінаційний&nbsp;аркуш</td>
  <td>ekzaminacijnyj&nbsp;arkusz</td>
</tr>
<tr>
  <td>aula</td>
  <td>актовий зал</td>
  <td>aktowyj zał</td>
</tr>
<tr>
  <td>autor&nbsp;utworu/dzieła malarskiego</td>
  <td>автор&nbsp;твору/картини</td>
  <td>awtor&nbsp;tworu/kartyny</td>
</tr>
<tr>
  <td>brudnopis</td>
  <td>чорновик</td>
  <td>czornowyk</td>
</tr>
<tr>
  <td>butelka&nbsp;wody</td>
  <td>пляшка води</td>
  <td>pliaszka wody</td>
</tr>
<tr>
  <td>Centralna&nbsp;Komisja Egzaminacyjna (CKE)</td>
  <td>Центральна&nbsp;Екзаменаційна Комісія</td>
  <td>centralna&nbsp;ekzamenacijna komisija</td>
</tr>
<tr>
  <td>certyfikat&nbsp;językowy</td>
  <td>мовний&nbsp;сертифікат</td>
  <td>mownyj&nbsp;sertyfikat</td>
</tr>
<tr>
  <td>czas&nbsp;na wykonanie zadania</td>
  <td>час на виконання&nbsp;завдання</td>
  <td>czas na&nbsp;wykonannia zawdannia</td>
</tr>
<tr>
  <td>
    części&nbsp;egzaminu: <br>
    - słuchanie  <br>
    - czytanie <br>
    - pisanie <br>
    - test
  </td>
  <td>
    частини&nbsp;екзамену: <br>
    - слухання <br>
    - читання <br>
    - письмо <br>
    - тест
  </td>
  <td>
    czastyny&nbsp;ekzamenu: <br>
    - sluchannia <br>
    - czytannia <br>
    - pyśmo <br>
    - test
  </td>
</tr>
<tr>
  <td>długopis&nbsp;z czarnym wkładem/tuszem</td>
  <td>ручка з чорною&nbsp;заправкою/чорним чорнилом</td>
  <td>ruczka z&nbsp;czornoju zaprawkoju/czornym czornylom</td>
</tr>
<tr>
  <td>dokończ&nbsp;zdanie</td>
  <td>закінчи речення</td>
  <td>zakinczy&nbsp;reczennia</td>
</tr>
<tr>
  <td>dokument&nbsp;tożsamości/ dowód osobisty</td>
  <td>посвідчення&nbsp;особи</td>
  <td>poswidczennia&nbsp;osoby</td>
</tr>
<tr>
  <td>dowód&nbsp;(matematyczny)</td>
  <td>доказ&nbsp;(математичний)</td>
  <td>dokaz&nbsp;(matamatycznyj)</td>
</tr>
<tr>
  <td>dysleksja</td>
  <td>дислексія</td>
  <td>dyslekcija</td>
</tr>
<tr>
  <td>egzamin&nbsp;wstępny</td>
  <td>вступний екзамен</td>
  <td>wstupnyj ekzamen</td>
</tr>
<tr>
  <td>egzamin&nbsp;maturalny</td>
  <td>випускний&nbsp;екзамен </td>
  <td>wypusknyj&nbsp;ekzamen </td>
</tr>
<tr>
  <td>email/rozprawka</td>
  <td>електронний&nbsp;лист/есе</td>
  <td>elektronnyj&nbsp;łyst/ese</td>
</tr>
<tr>
  <td>godzina&nbsp;rozpoczęcia</td>
  <td>час початку</td>
  <td>czas poczatku</td>
</tr>
<tr>
  <td>hipoteza</td>
  <td>гіпотеза</td>
  <td>hipoteza</td>
</tr>
<tr>
  <td>Ile&nbsp;czasu pozostało?</td>
  <td>Скільки&nbsp;залишилось часу?</td>
  <td>Skilky&nbsp;zalyszylos’ czasu?</td>
</tr>
<tr>
  <td>karta&nbsp;odpowiedzi</td>
  <td>аркуш відповідей</td>
  <td>arkusz&nbsp;widpowidej</td>
</tr>
<tr>
  <td>karta&nbsp;wzorów matematycznych / tablice matematyczne</td>
  <td>аркуш&nbsp;математичних формул (рівнянь) / математичні таблиці</td>
  <td>arkusz&nbsp;matematycznyjch formul (riwniań) / matematyczni tablyci</td>
</tr>
<tr>
  <td>kierunek&nbsp;w malarstwie/sztuce</td>
  <td>напрямок у&nbsp;живописі/мистецтві</td>
  <td>napriamok u&nbsp;żywopysi/mystectwi</td>
</tr>
<tr>
  <td>klasa&nbsp;maturalna</td>
  <td>матуральний клас</td>
  <td>maturalnyj klas</td>
</tr>
<tr>
  <td>klucz&nbsp;odpowiedzi</td>
  <td>ключ відповіді</td>
  <td>kliucz widpowidi</td>
</tr>
<tr>
  <td>kodowanie&nbsp;odpowiedzi</td>
  <td>кодування&nbsp;відповіді</td>
  <td>koduwannia&nbsp;widpowidi</td>
</tr>
<tr>
  <td>kwitnące&nbsp;kasztany</td>
  <td>квітучі каштани</td>
  <td>kwituczi&nbsp;kasztany</td>
</tr>
<tr>
  <td>legitymacja</td>
  <td>посвідчення</td>
  <td>poswidczennia</td>
</tr>
<tr>
  <td>lektury&nbsp;obowiązkowe</td>
  <td>обов'язкова&nbsp;література</td>
  <td>obowjazkowa&nbsp;literatura</td>
</tr>
<tr>
  <td>limit&nbsp;słów</td>
  <td>обмеження слів</td>
  <td>obmeżennia sliw</td>
</tr>
<tr>
  <td>margines</td>
  <td>поле</td>
  <td>pole</td>
</tr>
<tr>
  <td>
    matura: <br>
    - podstawowa <br>
    - rozszerzona
  </td>
  <td>
    матура (“іспит&nbsp;зрілості”): <br>
    - основний (рівень) <br>
    - розшерений (рівень)
  </td>
  <td>
    matura (“ispyt&nbsp;zrillosti”): <br>
    - osnownyj (riweń) <br>
    - rozszerenyj (piweń)
  </td>
</tr>

<tr>
  <td>maturzysta/maturzystka</td>
  <td>випускник/випускниця</td>
  <td>wypusknyk/wypusknycia</td>
</tr>
<tr>
  <td>miejsce&nbsp;na obliczenia/odpowiedź</td>
  <td>місце для&nbsp;розрахунку/ відповіді</td>
  <td>misce dlia&nbsp;rozrachunku/widrowidi</td>
</tr>
<tr>
  <td>numer&nbsp;PESEL</td>
  <td>номер PESEL</td>
  <td>nomer pesel</td>
</tr>
<tr>
  <td>oceń&nbsp;prawdziwość zdań</td>
  <td>оціни істинність&nbsp;речень</td>
  <td>ociny istynnist’&nbsp;reczeń</td>
</tr>
<tr>
  <td>określ</td>
  <td>уточни</td>
  <td>utoczny</td>
</tr>
<tr>
  <td>opisz</td>
  <td>опиши</td>
  <td>opyszy</td>
</tr>
<tr>
  <td>orzeczenie&nbsp;o wydłużonym czasie pracy</td>
  <td>довідка про&nbsp;подовжений робочий день</td>
  <td>dowidka pro&nbsp;podowżenyj roboczyj deń</td>
</tr>
<tr>
  <td>pióro&nbsp;z czarnym atramentem</td>
  <td>чорнильна ручка&nbsp;з чорним чорнилом</td>
  <td>czornylna ruczka&nbsp;z czornym czornylom</td>
</tr>
<tr>
  <td>podaj&nbsp;przykład/cechę</td>
  <td>наведи приклад/&nbsp;особливість</td>
  <td>nawedy&nbsp;pryklad/osoblywist’</td>
</tr>
<tr>
  <td>polecenie</td>
  <td>рекомендація</td>
  <td>rekomendacija</td>
</tr>
<tr>
  <td>próg&nbsp;punktowy</td>
  <td>прохідний бал</td>
  <td>prochidnyj bal</td>
</tr>
<tr>
  <td>przybory&nbsp;geometryczne</td>
  <td>геометричні&nbsp;приладдя</td>
  <td>heometryczni&nbsp;pryladdia</td>
</tr>
<tr>
  <td>punktacja&nbsp;(zadania)</td>
  <td>підрахунок балів</td>
  <td>pidrachunok&nbsp;baliw</td>
</tr>
<tr>
  <td>
    pytania: <br>
    - otwarte <br>
    - zamknięte <br>
    - prawda/fałsz
  </td>
  <td>
    питання: <br>
    - відкриті <br>
    - закриті <br>
    - правда/неправда
  </td>
  <td>
    pytannia: <br>
    - widkryti <br>
    - zakryti <br>
    - prawda/neprawda
  </td>
</tr>
<tr>
  <td>rozstrzygnij</td>
  <td>виріши</td>
  <td>wyriszy</td>
</tr>
<tr>
  <td>rozważ&nbsp;problem</td>
  <td>розглянь&nbsp;проблему</td>
  <td>rozhliań&nbsp;problemu</td>
</tr>
<tr>
  <td>rycina</td>
  <td>фігура</td>
  <td>fihura</td>
</tr>
<tr>
  <td>rysunek&nbsp;pomocniczy</td>
  <td>допоміжний&nbsp;малюнок</td>
  <td>dopomiżnyj&nbsp;maljunok</td>
</tr>
<tr>
  <td>sala&nbsp;gimnastyczna</td>
  <td>спортивний зал</td>
  <td>sportywnyj zał</td>
</tr>
<tr>
  <td>sformułuj&nbsp;wniosek</td>
  <td>сформулюй&nbsp;висновок</td>
  <td>sformuljuj&nbsp;wysnowok</td>
</tr>
<tr>
  <td>
    słownik: <br>
    - języka polskiego <br>
    - ortograficzny <br>
    - wyrazów obcych <br>
    - wyrazów bliskoznacznych <br>
    - poprawnej polszczyzny
  </td>
  <td>
    словник: <br>
    - польської мови <br>
    - орфографічний <br>
    - іноземних слів <br>
    - синонімів <br>
    - правильної польської мови <br>
  </td>
  <td>
    slownyk: <br>
    - pols’koji mowy <br>
    - orfohraficznyj <br>
    - inozemnych sliw <br>
    - synonimiw <br>
    - prawylnoij pols’koji mowy
  </td>
</tr>
<tr>
  <td>streszczenie</td>
  <td>скорочення</td>
  <td>skoroczennia</td>
</tr>
<tr>
  <td>
    strój&nbsp;galowy/ strój oficjalny
  </td>
  <td>
    урочисте вбрання/ офіційне вбрання
  </td>
  <td>
    uroczyste wborannia/ oficijne wbrannia
  </td>
</tr>
<tr>
  <td>szkoła&nbsp;średnia</td>
  <td>середня школа</td>
  <td>serednia&nbsp;szkola </td>
</tr>
<tr>
  <td>świadectwo&nbsp;maturalne / dojrzałości</td>
  <td>атестат&nbsp;зрілості </td>
  <td>atestat zrilosti</td>
</tr>
<tr>
  <td>
    teksty: <br>
    - literackie <br>
    - kultury <br>
  </td>
  <td>
    тексти: <br>
    - літературний <br>
    - культурний
  </td>
  <td>
    teksty: <br>
    - literaturnyj
    - kulturnyj
  </td>
</tr>
<tr>
  <td>tematy&nbsp;maturalne</td>
  <td>теми творів на&nbsp;матурі</td>
  <td>temy tworiw na&nbsp;maturi</td>
</tr>
<tr>
  <td>teza</td>
  <td>теза</td>
  <td>teza</td>
</tr>
<tr>
  <td>uszereguj</td>
  <td>розстав</td>
  <td>rozstaw</td>
</tr>
<tr>
  <td>uzasadnienie</td>
  <td>обґрунтування</td>
  <td>obgruntuwannia</td>
</tr>
<tr>
  <td>uzupełnij&nbsp;tabelę/schemat</td>
  <td>заповнити&nbsp;таблицю/схему</td>
  <td>zalownyty&nbsp;tablycje/schemu</td>
</tr>
<tr>
  <td>wpisz&nbsp;do tabeli</td>
  <td>впиши до таблиці</td>
  <td>wpyszy do&nbsp;tablyci</td>
</tr>
<tr>
  <td>wybierz&nbsp;właściwą odpowiedź</td>
  <td>вибери правильну&nbsp;відповідь</td>
  <td>wybery prawylnu&nbsp;widpowid’</td>
</tr>
<tr>
  <td>wykres</td>
  <td>графік, діаграма</td>
  <td>hrafik, diahrama</td>
</tr>
<tr>
  <td>wyniki&nbsp;matur</td>
  <td>результати&nbsp;матури</td>
  <td>rezultaty matury</td>
</tr>
<tr>
  <td>wypracowanie</td>
  <td>твір</td>
  <td>twir</td>
</tr>
<tr>
  <td>wzory</td>
  <td>формули,&nbsp;рівняння</td>
  <td>formuly,&nbsp;riwniannia</td>
</tr>
<tr>
  <td>zadanie&nbsp;maturalne</td>
  <td>матуральні&nbsp;завдання</td>
  <td>maturalni&nbsp;zawdannia</td>
</tr>
<tr>
  <td>zaliczenie</td>
  <td>залік</td>
  <td>zalik</td>
</tr>
<tr>
  <td>zaplanuj&nbsp;(przebieg doświadczenia)</td>
  <td>заплануй (хід&nbsp;експерименту)</td>
  <td>zaplanuj (chid&nbsp;eksperymentu)</td>
</tr>
<tr>
  <td>
    zaznacz: <br>
    - krzyżykiem (poprawna odpowiedź) <br>
    - kółkiem (błędna odpowiedź)
  </td>
  <td>
    познач: <br>
    - хрестиком (правильна відповідь) <br>
    - колечком (неправильна відповідь)
  </td>
  <td>
    poznacz: <br>
    - chresrykom (prawylna widpowid’) <br>
    - koleczkom (neprawylna widpowid’)
  </td>
</tr>
<tr>
  <td>zostało&nbsp;(10 minut)</td>
  <td>залишилось (10&nbsp;хвилин)</td>
  <td>zalyszylos’ (10&nbsp;chwylyn)&nbsp;</td>
</tr>