<tr>
  <td>bryła</td>
  <td>тіло (геометричне тіло)</td>
  <td>tilo (heometryczne tilo)</td>
</tr>
<tr>
  <td>cięciwa</td>
  <td>хорда</td>
  <td>chorda</td>
</tr>
<tr>
  <td>figura</td>
  <td>фігура</td>
  <td>figura</td>
</tr>
<tr>
  <td>gęstość</td>
  <td>густина</td>
  <td>hustyna</td>
</tr>
<tr>
  <td>graniastosłup</td>
  <td>призма</td>
  <td>pryzma</td>
</tr>
<tr>
  <td>kąt</td>
  <td>кут</td>
  <td>kut</td>
</tr>
<tr>
  <td>koło</td>
  <td>коло</td>
  <td>kolo</td>
</tr>
<tr>
  <td>krzywa</td>
  <td>крива</td>
  <td>krywa</td>
</tr>
<tr>
  <td>kula</td>
  <td>куля</td>
  <td>kulia</td>
</tr>
<tr>
  <td>kwadrat</td>
  <td>квадрат</td>
  <td>kwadrat</td>
</tr>
<tr>
  <td>objętość</td>
  <td>об’єм</td>
  <td>objem</td>
</tr>
<tr>
  <td>odcinek</td>
  <td>відрізок</td>
  <td>widrizok</td>
</tr>
<tr>
  <td>okrąg</td>
  <td>круг</td>
  <td>kruh</td>
</tr>
<tr>
  <td>ostrosłup</td>
  <td>піраміда</td>
  <td>piramida</td>
</tr>
<tr>
  <td>podstawa</td>
  <td>основа </td>
  <td>osnowa</td>
</tr>
<tr>
  <td>pole powierzchni</td>
  <td>площа</td>
  <td>ploszcza</td>
</tr>
<tr>
  <td>promień</td>
  <td>радіус</td>
  <td>radis</td>
</tr>
<tr>
  <td>prosta</td>
  <td>пряма</td>
  <td>priama</td>
</tr>
<tr>
  <td>prostokąt</td>
  <td>прямокутник</td>
  <td>priamokutnyk</td>
</tr>
<tr>
  <td>prostopadłościan</td>
  <td>Прямокутний паралелепіпед</td>
  <td>priamokutnyj paralelepiped</td>
</tr>
<tr>
  <td>przekątna</td>
  <td>діагональ</td>
  <td>diagonal’</td>
</tr>
<tr>
  <td>punkt</td>
  <td>точка</td>
  <td>toczka</td>
</tr>
<tr>
  <td>romb</td>
  <td>ромб</td>
  <td>romb</td>
</tr>
<tr>
  <td>równoległobok</td>
  <td>паралелограм</td>
  <td>paralelohram</td>
</tr>
<tr>
  <td>stożek</td>
  <td>конус</td>
  <td>konus</td>
</tr>
<tr>
  <td>sześcian</td>
  <td>куб</td>
  <td>kub</td>
</tr>
<tr>
  <td>średnica</td>
  <td>діагональ</td>
  <td>diahonal’</td>
</tr>
<tr>
  <td>trapez</td>
  <td>трапеція</td>
  <td>trapecja</td>
</tr>
<tr>
  <td>trójkąt</td>
  <td>трикутник</td>
  <td>trykutnyk</td>
</tr>
<tr>
  <td>twierdzenie Pitagorasa</td>
  <td>теорема Піфагора</td>
  <td>teorema Pifahora</td>
</tr>
<tr>
  <td>wektor</td>
  <td>вектор</td>
  <td>wektor</td>
</tr>
<tr>
  <td>wysokość</td>
  <td>висота</td>
  <td>wysota</td>
</tr>