
<tr>
  <td>ar</td>
  <td>ap</td>
  <td>ar</td>
</tr>
<tr>
  <td>cal</td>
  <td>дюйм</td>
  <td>djujim</td>
</tr>
<tr>
  <td>centymetr </td>
  <td>сантиметр</td>
  <td>santymetr</td>
</tr>
<tr>
  <td>decymetr</td>
  <td>дециметр</td>
  <td>detsimetr</td>
</tr>
<tr>
  <td>dekagram</td>
  <td>декаграм</td>
  <td>dekahram</td>
</tr>
<tr>
  <td>funt</td>
  <td>фунт</td>
  <td>funt</td>
</tr>
<tr>
  <td>galon</td>
  <td>галон</td>
  <td>halon</td>
</tr>
<tr>
  <td>godzina (godz.)</td>
  <td>година (год)</td>
  <td>hodyna (hod)</td>
</tr>
<tr>
  <td>gram</td>
  <td>грам</td>
  <td>hram</td>
</tr>
<tr>
  <td>gros (144 sztuki)</td>
  <td>грос (144 штукл) </td>
  <td>hros</td>
</tr>
<tr>
  <td>hektar</td>
  <td>гекта́р</td>
  <td>hektar</td>
</tr>
<tr>
  <td>kilogram (kg)</td>
  <td>кілограм (кг)</td>
  <td>kilohram</td>
</tr>
<tr>
  <td>kilometr</td>
  <td>кілометр</td>
  <td>kilometr</td>
</tr>
<tr>
  <td>kopa (60 sztuk)</td>
  <td>копа (60 штук)</td>
  <td>kopa</td>
</tr>
<tr>
  <td>litr (l)</td>
  <td>літр (л)</td>
  <td>litr</td>
</tr>
<tr>
  <td>metr (m)</td>
  <td>метр (м)</td>
  <td>metr</td>
</tr>
<tr>
  <td>metr kwadratowy</td>
  <td>метр квадратний </td>
  <td>metr kwadratnyj</td>
</tr>
<tr>
  <td>metr sześcienny</td>
  <td>метр кубічний</td>
  <td>metr kubicznyj</td>
</tr>
<tr>
  <td>mila</td>
  <td>миля</td>
  <td>mylja</td>
</tr>
<tr>
  <td>mila morska</td>
  <td>морська миля</td>
  <td>mors’ka mylja</td>
</tr>
<tr>
  <td>miligram</td>
  <td>міліграм</td>
  <td>milihram</td>
</tr>
<tr>
  <td>mililitr</td>
  <td>мілілітр</td>
  <td>mililitr</td>
</tr>
<tr>
  <td>milimetr</td>
  <td>міліметр</td>
  <td>milimetr</td>
</tr>
<tr>
  <td>minuta (min)</td>
  <td>xвили́на (хв)</td>
  <td>hwylyna</td>
</tr>
<tr>
  <td>sekunda (s)</td>
  <td>cеку́нда</td>
  <td>sekunda</td>
</tr>
<tr>
  <td>stopa</td>
  <td>фут</td>
  <td>fut</td>
</tr>
<tr>
  <td>stopień</td>
  <td>градус</td>
  <td>hradus</td>
</tr>
<tr>
  <td>tona</td>
  <td>тонна</td>
  <td>tonna</td>
</tr>
<tr>
  <td>tuzin (12 sztuk)</td>
  <td>дюжинa (12 &nbsp;&nbsp;&nbsp;штук)</td>
  <td>djużyna</td>
</tr>
<tr>
  <td>złoty</td>
  <td>зло́тий</td>
  <td>zlotyj</td>
</tr>