<tr>
  <td>akordeon</td>
  <td>баян</td>
  <td>bajan</td>
</tr>
<tr>
  <td>altówka</td>
  <td>альт</td>
  <td>al’t</td>
</tr>
<tr>
  <td>bęben</td>
  <td>барабан</td>
  <td>baraban</td>
</tr>
<tr>
  <td>cymbałki / dzwonki</td>
  <td>цимбали</td>
  <td>cymbaly</td>
</tr>
<tr>
  <td>flet</td>
  <td>флейта</td>
  <td>flejta</td>
</tr>
<tr>
  <td>fortepian</td>
  <td>фортепіано</td>
  <td>fortepiano</td>
</tr>
<tr>
  <td>gitara</td>
  <td>гітара</td>
  <td>hitara</td>
</tr>
<tr>
  <td>instrumenty dęte</td>
  <td>духові інструменти</td>
  <td>duchowi instrumenty</td>
</tr>
<tr>
  <td>instrumenty perkusyjne</td>
  <td>ударні інструменти</td>
  <td>udarni instrumenty</td>
</tr>
<tr>
  <td>instrumenty strunowe</td>
  <td>струнні інструменти</td>
  <td>strunni instrumenty</td>
</tr>
<tr>
  <td>kontrabas</td>
  <td>контрабас</td>
  <td>kontrabas</td>
</tr>
<tr>
  <td>marakasy</td>
  <td>маракаси</td>
  <td>marakasy</td>
</tr>
<tr>
  <td>organy</td>
  <td>органи</td>
  <td>orhany</td>
</tr>
<tr>
  <td>pałeczki</td>
  <td>палочки</td>
  <td>paloczky</td>
</tr>
<tr>
  <td>perkusja</td>
  <td>перкусія</td>
  <td>perkusija</td>
</tr>
<tr>
  <td>pianino</td>
  <td>піаніно</td>
  <td>pianino</td>
</tr>
<tr>
  <td>puzon</td>
  <td>тромбон</td>
  <td>trombon</td>
</tr>
<tr>
  <td>saksofon</td>
  <td>саксофон</td>
  <td>saksofon</td>
</tr>
<tr>
  <td>skrzypce</td>
  <td>скрипка</td>
  <td>skrypka</td>
</tr>
<tr>
  <td>smyczek</td>
  <td>смичок</td>
  <td>smyczok</td>
</tr>
<tr>
  <td>tamburyn</td>
  <td>бубон</td>
  <td>bubon</td>
</tr>
<tr>
  <td>trąbka</td>
  <td>труба</td>
  <td>truba</td>
</tr>
<tr>
  <td>trójkąt</td>
  <td>трикутник</td>
  <td>trykutnyk</td>
</tr>
<tr>
  <td>wiolonczela</td>
  <td>віолончель </td>
  <td>wiolonczel’</td>
</tr>