<tr>
  <td>akompaniament</td>
  <td>акомпанемент </td>
  <td>akompanement</td>
</tr>
<tr>
  <td>akord</td>
  <td>акорд </td>
  <td>akord</td>
</tr>
<tr>
  <td>batuta</td>
  <td>диригентська паличка</td>
  <td>deryhentśka palyczka</td>
</tr>
<tr>
  <td>cicho</td>
  <td>тихо</td>
  <td>tycho</td>
</tr>
<tr>
  <td>dynamika</td>
  <td>динаміка</td>
  <td>dynamika</td>
</tr>
<tr>
  <td>emisja głosu</td>
  <td>емісія голосу</td>
  <td>emisija holosu</td>
</tr>
<tr>
  <td>gama solmizacyjna</td>
  <td>сольмізація</td>
  <td>sol’mizacija</td>
</tr>
<tr>
  <td>głośno</td>
  <td>голосно </td>
  <td>holosno</td>
</tr>
<tr>
  <td>improwizacje</td>
  <td>імпровізації</td>
  <td>improwizaciij</td>
</tr>
<tr>
  <td>klucz basowy</td>
  <td>басовий ключ</td>
  <td>basowyj kljucz</td>
</tr>
<tr>
  <td>klucz wiolinowy</td>
  <td>скрипковий ключ</td>
  <td>skrypkowyj kljucz</td>
</tr>
<tr>
  <td>melodia</td>
  <td>мелодія</td>
  <td>melodia</td>
</tr>
<tr>
  <td>metrum</td>
  <td>метр</td>
  <td>metr</td>
</tr>
<tr>
  <td>nuta</td>
  <td>нота</td>
  <td>nota</td>
</tr>
<tr>
  <td>partytura</td>
  <td>партитура</td>
  <td>partytura</td>
</tr>
<tr>
  <td>pięciolinia</td>
  <td>нотний стан</td>
  <td>notnyj stan</td>
</tr>
<tr>
  <td>polifonia</td>
  <td>поліфонія</td>
  <td>polifonija</td>
</tr>
<tr>
  <td>refren</td>
  <td>приспів</td>
  <td>pryspiw</td>
</tr>
<tr>
  <td>rytm</td>
  <td>ритм</td>
  <td>rytm</td>
</tr>
<tr>
  <td>śpiew</td>
  <td>спів</td>
  <td>spiw</td>
</tr>
<tr>
  <td>takt</td>
  <td>такт</td>
  <td>takt</td>
</tr>
<tr>
  <td>tempo</td>
  <td>темп</td>
  <td>temp</td>
</tr>
<tr>
  <td>trójdźwięk</td>
  <td>тризвук</td>
  <td>tryzwuk</td>
</tr>
<tr>
  <td>wielogłos</td>
  <td>багатоголосся</td>
  <td>bahatoholossia</td>
</tr>
<tr>
  <td>zapis nutowy</td>
  <td>нотний запис</td>
  <td>notnyj zapys</td>
</tr>
<tr>
  <td>zwrotka</td>
  <td>строфа</td>
  <td>strofa</td>
</tr>