<tr>
  <td>chór</td>
  <td>хор</td>
  <td>chor</td>
</tr>
<tr>
  <td>duet</td>
  <td>дует</td>
  <td>duet</td>
</tr>
<tr>
  <td>dyrygent</td>
  <td>диригент </td>
  <td>deryhent</td>
</tr>
<tr>
  <td>festiwal</td>
  <td>фестиваль</td>
  <td>festywal’</td>
</tr>
<tr>
  <td>filharmonia</td>
  <td>філармонія</td>
  <td>filarmonija</td>
</tr>
<tr>
  <td>folklor</td>
  <td>фолькльор </td>
  <td>fol’kl’or</td>
</tr>
<tr>
  <td>hymn</td>
  <td>гімн</td>
  <td>himn</td>
</tr>
<tr>
  <td>kapela</td>
  <td>гурт</td>
  <td>hurt</td>
</tr>
<tr>
  <td>kolęda</td>
  <td>коляда</td>
  <td>koliada</td>
</tr>
<tr>
  <td>kompozytor / kompozytorka</td>
  <td>композитор </td>
  <td>kompozytor</td>
</tr>
<tr>
  <td>koncert</td>
  <td>концерт</td>
  <td>koncert</td>
</tr>
<tr>
  <td>kwartet</td>
  <td>квартет</td>
  <td>kwartet</td>
</tr>
<tr>
  <td>marsz</td>
  <td>марш</td>
  <td>marsz</td>
</tr>
<tr>
  <td>oda</td>
  <td>ода</td>
  <td>oda</td>
</tr>
<tr>
  <td>opera</td>
  <td>опера</td>
  <td>opera</td>
</tr>
<tr>
  <td>orkiestra</td>
  <td>оркестр</td>
  <td>orkestr</td>
</tr>
<tr>
  <td>pieśń</td>
  <td>пісня</td>
  <td>pisnia</td>
</tr>
<tr>
  <td>piosenka</td>
  <td>пісня</td>
  <td>pisnia</td>
</tr>
<tr>
  <td>piosenkarz/piosenkarka</td>
  <td>співак співачка</td>
  <td>spiwak/spiwaczka</td>
</tr>
<tr>
  <td>psalm</td>
  <td>псалом</td>
  <td>psalom</td>
</tr>
<tr>
  <td>solista</td>
  <td>соліст</td>
  <td>solist</td>
</tr>
<tr>
  <td>śpiewak/śpiewaczka</td>
  <td>співак/співачка</td>
  <td>spiwak/spiwaczka</td>
</tr>
<tr>
  <td>taniec</td>
  <td>танець</td>
  <td>tanec’</td>
</tr>
<tr>
  <td>tancerz/tancerka</td>
  <td>танцюрист/танцюристка</td>
  <td>tanciuryst/tanciurystka</td>
</tr>
<tr>
  <td>tercet</td>
  <td>тріо</td>
  <td>trio</td>
</tr>
<tr>
  <td>zespół</td>
  <td>гурт</td>
  <td>hurt</td>
</tr>