<tr>
  <td>(coś) znajduje się w…</td>
  <td>(щось) знаходяться/є в</td>
  <td>(szczos’) znachodiat’sia/je w</td>
</tr>
<tr>
  <td>blisko</td>
  <td>близько</td>
  <td>blyz’ko</td>
</tr>
<tr>
  <td>daleko</td>
  <td>далеко</td>
  <td>daleko</td>
</tr>
<tr>
  <td>gdzie jest…?</td>
  <td>де є…?</td>
  <td>de je … ?</td>
</tr>
<tr>
  <td>gdzie mamy lekcje?</td>
  <td>де будуть заняття?</td>
  <td>de budut’ zaniattia?</td>
</tr>
<tr>
  <td>gdzie mogę…?</td>
  <td>де я можу?</td>
  <td>de ja moży … ?</td>
</tr>
<tr>
  <td>gdzie się spotkamy?</td>
  <td>де зустрічаємося?</td>
  <td>de zustriczajemosia?</td>
</tr>
<tr>
  <td>idę do…</td>
  <td>йду до…</td>
  <td>jdu do…</td>
</tr>
<tr>
  <td>idź prosto</td>
  <td>йди прямо</td>
  <td>jdy priamo</td>
</tr>
<tr>
  <td>idź tam.</td>
  <td>йди туди</td>
  <td>jdy tudy</td>
</tr>
<tr>
  <td>jak dojść do…?</td>
  <td>як дійти до?</td>
  <td>jak dijty do…?</td>
</tr>
<tr>
  <td>na dole</td>
  <td>внизу </td>
  <td>wnyzu</td>
</tr>
<tr>
  <td>na górze</td>
  <td>на горі/зверху</td>
  <td>na hori/zwerchu</td>
</tr>
<tr>
  <td>na rogu</td>
  <td>на рогу</td>
  <td>na rohu</td>
</tr>
<tr>
  <td>nie mogę znaleźć…</td>
  <td>не можу знайти</td>
  <td>ne możu znajty</td>
</tr>
<tr>
  <td>obok</td>
  <td>з боку</td>
  <td>z boku </td>
</tr>
<tr>
  <td>po lewej</td>
  <td>справа</td>
  <td>sprawa</td>
</tr>
<tr>
  <td>po prawej</td>
  <td>зліва </td>
  <td>zliwa</td>
</tr>
<tr>
  <td>pomiędzy</td>
  <td>між</td>
  <td>miż</td>
</tr>
<tr>
  <td>przed (czymś)</td>
  <td>перед (чимось)</td>
  <td>pered (czymos’)</td>
</tr>
<tr>
  <td>przejdź przez…</td>
  <td>пройди через</td>
  <td>projdy czerez</td>
</tr>
<tr>
  <td>skręć w lewo.</td>
  <td>поверни наліво</td>
  <td>powerny naliwo</td>
</tr>
<tr>
  <td>skręć w prawo.</td>
  <td>поверни направо</td>
  <td>powerny naprawo</td>
</tr>
<tr>
  <td>szukam…</td>
  <td>шукаю</td>
  <td>szukaju</td>
</tr>
<tr>
  <td>wejdź do…</td>
  <td>зайди в</td>
  <td>zajdy w</td>
</tr>
<tr>
  <td>wejdź schodami.</td>
  <td>підіймись сходами</td>
  <td>pidijmys’ schodamy</td>
</tr>
<tr>
  <td>wyjdź z…</td>
  <td>вийди з</td>
  <td>wyjdy z</td>
</tr>
<tr>
  <td>za (czymś)</td>
  <td>за (чимось)</td>
  <td>za (czymos’)</td>
</tr>
<tr>
  <td>zawróć.</td>
  <td>обернись/розвернись</td>
  <td>obernys’/rozwernys’</td>
</tr>
<tr>
  <td>zgubiłem się.</td>
  <td>заблукав/заблукала</td>
  <td>zablukaw/zablukala</td>
</tr>
<tr>
  <td>WF-ista / WF-istka</td>
  <td>фізкультурник / фізкультурниця</td>
  <td>fizkul’turnyk/fizkul’turnycia</td>
</tr>
<tr>
  <td>wicedyrektor/ wicedyrektorka</td>
  <td>заступник директора/ заступниця директора</td>
  <td>zastupnyk dyrektora/ zastupnycia dyrektora</td>
</tr>
<tr>
  <td>woźna/woźny</td>
  <td>прибиральник/ прибиральниця</td>
  <td>prybyralnyk/prybyralnycia</td>
</tr>
<tr>
  <td>wychowawca / wychowawczyni</td>
  <td>вихователь/вихователька</td>
  <td>wychowatel’/wychowatel’ka</td>
</tr>