<tr>
  <td>cyrkiel</td>
  <td>циркуль</td>
  <td>cyrkul’</td>
</tr>
<tr>
  <td>długopis</td>
  <td>ручка</td>
  <td>ruczka</td>
</tr>
<tr>
  <td>dziennik</td>
  <td>щоденник</td>
  <td>ściodennyk</td>
</tr>
<tr>
  <td>ekierka</td>
  <td>косинець</td>
  <td>kosynec</td>
</tr>
<tr>
  <td>gumka</td>
  <td>гумка</td>
  <td>humka</td>
</tr>
<tr>
  <td>kalkulator</td>
  <td>калькулятор</td>
  <td>kalkuliator</td>
</tr>
<tr>
  <td>kartka</td>
  <td>листочок</td>
  <td>lystoczok</td>
</tr>
<tr>
  <td>kątomierz</td>
  <td>транспортир</td>
  <td>transportyr</td>
</tr>
<tr>
  <td>kredka</td>
  <td>олівець (кольоровий)</td>
  <td>oliwec’ (kol’orowyj)</td>
</tr>
<tr>
  <td>kreda</td>
  <td>крейда</td>
  <td>krejda</td>
</tr>
<tr>
  <td>książka</td>
  <td>книжка</td>
  <td>knyżka</td>
</tr>
<tr>
  <td>linijka</td>
  <td>лінійка</td>
  <td>linijka</td>
</tr>
<tr>
  <td>ołówek</td>
  <td>олівець</td>
  <td>oliwec’</td>
</tr>
<tr>
  <td>pióro</td>
  <td>перо</td>
  <td>pero</td>
</tr>
<tr>
  <td>plecak</td>
  <td>портфель</td>
  <td>portfel’</td>
</tr>
<tr>
  <td>podręcznik</td>
  <td>підручник</td>
  <td>pidrucznyk</td>
</tr>
<tr>
  <td>temperówka/strugaczka</td>
  <td>стругачка</td>
  <td>struhaczka</td>
</tr>
<tr>
  <td>zbiór zadań</td>
  <td>збірка завдань</td>
  <td>zbirka zawdan’</td>
</tr>
<tr>
  <td>zeszyt</td>
  <td>зошит</td>
  <td>zoszyt</td>
</tr>