<tr>
  <td>asystent/asystentka</td>
  <td>асистент/систентка</td>
  <td>asystent/asystentka</td>
</tr>
<tr>
  <td>bibliotekarz/bibliotekarka</td>
  <td>бібліотекар/бібліотекарка</td>
  <td>bibliotekar/bibliotekarka</td>
</tr>
<tr>
  <td>biolog/biolożka</td>
  <td>біолог/біологиня</td>
  <td>bioloh/biolohynia</td>
</tr>
<tr>
  <td>chemik/chemiczka</td>
  <td>хімік/хімкиня</td>
  <td>chimik/chimkynia </td>
</tr>
<tr>
  <td>dyrektor/dyrektorka</td>
  <td>директор/директорка</td>
  <td>dyrektor/dyrektorka</td>
</tr>
<tr>
  <td>dyżurny/dyżurna</td>
  <td>черговий/чергова</td>
  <td>czerhowyj/czerhowa</td>
</tr>
<tr>
  <td>fizyk/fizyczka</td>
  <td>фізик/фізкиня</td>
  <td>fizyk/fizkynia</td>
</tr>
<tr>
  <td>geograf/geografka</td>
  <td>географ/географиня</td>
  <td>heohraf/heohrafynia</td>
</tr>
<tr>
  <td>higienista/higienistka</td>
  <td>гігієніст/гігієністка</td>
  <td>hihijenist/hihijenistka</td>
</tr>
<tr>
  <td>historyk/historyczka</td>
  <td>історик/історкиня</td>
  <td>istoryk/istorkynia</td>
</tr>
<tr>
  <td>informatyk</td>
  <td>інформатик</td>
  <td>informatyk</td>
</tr>
<tr>
  <td>informatyczka</td>
  <td>інформатикиня</td>
  <td>informatkynia</td>
</tr>
<tr>
  <td>kierowca/kierująca</td>
  <td>водій/водійка</td>
  <td>wodij/wodijka</td>
</tr>
<tr>
  <td>księgowy/księgowa</td>
  <td>бухгалтер/бухгалтерка</td>
  <td>buchhalter/buchhalterka</td>
</tr>
<tr>
  <td>kucharz/kucharka</td>
  <td>кухар/кухарка</td>
  <td>kuchar/kucharka</td>
</tr>
<tr>
  <td>matematyk/matematyczka</td>
  <td>математик математикиня</td>
  <td>matematyk/matematkynia</td>
</tr>
<tr>
  <td>muzyk/muzyczka</td>
  <td>музикант/музикантка</td>
  <td>muzykant/muzykantka</td>
</tr>
<tr>
  <td>nauczyciel/nauczycielka</td>
  <td>вчитель/вчителька</td>
  <td>wczytel’ wczytel’ka</td>
</tr>
<tr>
  <td>ochroniarz/ochroniarka</td>
  <td>охоронець/охоронниця</td>
  <td>ochoroneć/ochoronnycia</td>
</tr>
<tr>
  <td>opiekun/opiekunka</td>
  <td>опікун/опікунка</td>
  <td>opikun/opikunka</td>
</tr>
<tr>
  <td>pan/pani</td>
  <td>пан/пані</td>
  <td>pan/pani</td>
</tr>
<tr>
  <td>pedagog/pedagożka</td>
  <td>педагог/педагогиня</td>
  <td>pedahoh/pedahohynia</td>
</tr>
<tr>
  <td>pielęgniarz/pielęgniarka</td>
  <td>брат медичний/сестра медична </td>
  <td>brat medycznyj/sestra medyczna</td>
</tr>
<tr>
  <td>plastyk/plastyczka</td>
  <td>митець/мисткиня</td>
  <td>myteć/mystkynia</td>
</tr>
<tr>
  <td>polonista/polonistka</td>
  <td>полоніст/полоністка</td>
  <td>polonist/polonistka</td>
</tr>
<tr>
  <td>psycholog/psycholożka</td>
  <td>психолог/психологиня</td>
  <td>psycholoh/psycholohynia</td>
</tr>
<tr>
  <td>sekretarz/sekretarka</td>
  <td>секретар / секретарка </td>
  <td>sekretar/sekretarka</td>
</tr>
<tr>
  <td>sprzedawca/sprzedawczyni w sklepiku</td>
  <td>продавець/продавчиня</td>
  <td>prodaweć/prodawczynia</td>
</tr>
<tr>
  <td>stażysta/stażystka</td>
  <td>стажист/стажистка</td>
  <td>stażyst/stażystka</td>
</tr>
<tr>
  <td>szatniarz/szatniarka</td>
  <td>гардеробний/гардеробниця</td>
  <td>harderobnyj/harderobnycia</td>
</tr>
<tr>
  <td>WF-ista / WF-istka</td>
  <td>фізкультурник / фізкультурниця</td>
  <td>fizkul’turnyk/fizkul’turnycia</td>
</tr>
<tr>
  <td>wicedyrektor/ wicedyrektorka</td>
  <td>заступник директора/ заступниця директора</td>
  <td>zastupnyk dyrektora/ zastupnycia dyrektora</td>
</tr>
<tr>
  <td>woźna/woźny</td>
  <td>прибиральник/ прибиральниця</td>
  <td>prybyralnyk/prybyralnycia</td>
</tr>
<tr>
  <td>wychowawca / wychowawczyni</td>
  <td>вихователь/вихователька</td>
  <td>wychowatel’/wychowatel’ka</td>
</tr>