<tr>
  <td>akwarium</td>
  <td>акваріум</td>
  <td>akwarium</td>
</tr>
<tr>
  <td>biurko</td>
  <td>робочий стіл</td>
  <td>roboczyj stil</td>
</tr>
<tr>
  <td>dekoracje</td>
  <td>декор</td>
  <td>dekor</td>
</tr>
<tr>
  <td>doniczka</td>
  <td>горщик</td>
  <td>horszczyk</td>
</tr>
<tr>
  <td>drzwi (otworzyć/zamknąć)</td>
  <td>двері (відкрити/закрити)</td>
  <td>dweri (widkryty/zakryty)</td>
</tr>
<tr>
  <td>dywan</td>
  <td>килим</td>
  <td>kylym</td>
</tr>
<tr>
  <td>dzwonek</td>
  <td>дзвінок</td>
  <td>dzwinok</td>
</tr>
<tr>
  <td>firanka</td>
  <td>фіранка</td>
  <td>firanka</td>
</tr>
<tr>
  <td>fotel</td>
  <td>м’яке крісло</td>
  <td>mjake krislo</td>
</tr>
<tr>
  <td>gablota</td>
  <td>вітрина</td>
  <td>witryna</td>
</tr>
<tr>
  <td>gąbka</td>
  <td>губка</td>
  <td>hubka</td>
</tr>
<tr>
  <td>globus</td>
  <td>глобус</td>
  <td>hlobus</td>
</tr>
<tr>
  <td>kalendarz</td>
  <td>календар</td>
  <td>kalendar</td>
</tr>
<tr>
  <td>klucze</td>
  <td>ключі</td>
  <td>kljuczi</td>
</tr>
<tr>
  <td>komputer</td>
  <td>комп’ютер </td>
  <td>kompjuter</td>
</tr>
<tr>
  <td>konewka</td>
  <td>поливалка</td>
  <td>polywalka</td>
</tr>
<tr>
  <td>kosz na śmieci</td>
  <td>смітник</td>
  <td>smitnyk</td>
</tr>
<tr>
  <td>kreda</td>
  <td>крейда</td>
  <td>krejda</td>
</tr>
<tr>
  <td>krzesło</td>
  <td>крісло</td>
  <td>krislo</td>
</tr>
<tr>
  <td>krzesło obrotowe</td>
  <td>поворотне крісло</td>
  <td>poworotne krislo</td>
</tr>
<tr>
  <td>książki</td>
  <td>книжки</td>
  <td>knyżky</td>
</tr>
<tr>
  <td>lampa</td>
  <td>лампа</td>
  <td>lampa</td>
</tr>
<tr>
  <td>ławka </td>
  <td>парта</td>
  <td>parta</td>
</tr>
<tr>
  <td>mapa</td>
  <td>карта</td>
  <td>karta</td>
</tr>
<tr>
  <td>marker</td>
  <td>маркер</td>
  <td>marker</td>
</tr>
<tr>
  <td>odtwarzacz</td>
  <td>програвач</td>
  <td>prohrawacz</td>
</tr>
<tr>
  <td>okno</td>
  <td>вікно</td>
  <td>wikno</td>
</tr>
<tr>
  <td>parapet</td>
  <td>підвіконник</td>
  <td>pidwikonnyk</td>
</tr>
<tr>
  <td>plakat</td>
  <td>плакат</td>
  <td>plakat</td>
</tr>
<tr>
  <td>podłoga</td>
  <td>підлога</td>
  <td>pidloha</td>
</tr>
<tr>
  <td>projektor</td>
  <td>проектор</td>
  <td>proektor</td>
</tr>
<tr>
  <td>puf</td>
  <td>пуф</td>
  <td>puf</td>
</tr>
<tr>
  <td>regał</td>
  <td>книжкова полиця</td>
  <td>knyżkowa polycia</td>
</tr>
<tr>
  <td>segregator</td>
  <td>підшивка</td>
  <td>pidszywka</td>
</tr>
<tr>
  <td>stół</td>
  <td>стіл</td>
  <td>stil</td>
</tr>
<tr>
  <td>sufit</td>
  <td>стеля</td>
  <td>stelia</td>
</tr>
<tr>
  <td>szafa</td>
  <td>шафа</td>
  <td>szafa</td>
</tr>
<tr>
  <td>szafka</td>
  <td>шафка</td>
  <td>szafka</td>
</tr>
<tr>
  <td>ściana</td>
  <td>стіна</td>
  <td>stina</td>
</tr>
<tr>
  <td>ścierka</td>
  <td>ганчірка</td>
  <td>hanczirka</td>
</tr>
<tr>
  <td>tablet</td>
  <td>планшет</td>
  <td>planszet</td>
</tr>
<tr>
  <td>tablica</td>
  <td>дошка</td>
  <td>doszka</td>
</tr>
<tr>
  <td>tablica korkowa</td>
  <td>коркова дошка</td>
  <td>korkowa doszka</td>
</tr>
<tr>
  <td>tablica multimedialna</td>
  <td>інтерактивна дошка</td>
  <td>interaktywna doszka</td>
</tr>
<tr>
  <td>telewizor</td>
  <td>телевізор</td>
  <td>telewizor</td>
</tr>
<tr>
  <td>umywalka</td>
  <td>умивальник</td>
  <td>umywal’nyk</td>
</tr>
<tr>
  <td>wieszak</td>
  <td>вішалка</td>
  <td>wiszalka</td>
</tr>
<tr>
  <td>wieża stereo</td>
  <td>стерео колонка</td>
  <td>stereo kolonka</td>
</tr>
<tr>
  <td>zabawki</td>
  <td>іграшки</td>
  <td>ihraszky</td>
</tr>
<tr>
  <td>żarówka</td>
  <td>лампочка</td>
  <td>lampoczka</td>
</tr>
<tr>
  <td>żyrandol</td>
  <td>люстра</td>
  <td>ljustra</td>
</tr>