.menu-trigger {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 39px;
  padding: 0;
  margin: 20px 15px 0 0;
  position: absolute;
  right: 0;
  z-index: 10;
  cursor: pointer;
  border: none;

  .menu-trigger-helper {
    display: inline-block;
    position: relative;
    height: 3px;
    width: 20px;
    background-color: $color-secondary;
    z-index: 3;
    transition: .2s;

    &:after,
    &:before {
      content: '';
      position: absolute;
      z-index: 3;
      background-color: $color-secondary;
      height: 3px;
      width: 20px;
      left: 0;
      transition: .2s;
    }

    &:before {
      top: -6px
    }

    &:after {
      bottom: -6px
    }
  }

  &.active {
    .main-menu-wrapper-nav {
      position: relative;

      &:after {
        background-color: rgba(0,0,0,.4);
        content: '';
        position: absolute;
        z-index: 9;
        right: 100%;
        top: 0;
        height: 100%;
        width: 100%;
      }
    }

    .menu-trigger-helper {
      background-color: transparent !important;

      &:before {
        transform: translate(0, 6px) rotate(45deg);
      }

      &:after {
        transform: translate(0, -6px) rotate(-45deg);
      }
    }
  }
}

.main-menu-wrapper {
  &.active {
    .main-menu-wrapper-nav {
      &:after {
        content: '';
        position: absolute;
        z-index: 9;
        right: 100%;
        top: 0;
        height: 100%;
        width: 100%;
      }
    }
  }
}



