.dropdown-item {
  white-space: inherit;
  font-size: 12px;
  padding: 0.1rem 1rem;
  @include media-breakpoint-down(sm) {
    white-space: inherit;
  }
}

.dropdown-menu {
  @include media-breakpoint-up(sm) {
    min-width: 45rem;
  }
  ul {
    padding-left: 0;
  }
  li {
    list-style-type: none;
  }
}
