.lazy-player {
  max-width: 100%;
  position: relative;
  height: 0;
  margin: 5px;
  padding-bottom: 56.25%;
  border-radius: 10px;
  background: #000;
  overflow: hidden;
  z-index: 2;

  .cover {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000 var(--cover) no-repeat;
    background-size: cover;
    z-index: 2;
    cursor: pointer;

    &:before {
      @include icon-css-mixin;
      content: $icon-triangle;
      width: 76px;
      height: 76px;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 2px solid #fff;
      border-radius: 50%;
      background-color: rgba(29, 31, 33, 0.22);
      color: #fff;
      font-size: 32px;
      transition: 200ms ease;
      text-align: center;

      @include breakpoint(large) {
        width: 140px;
        height: 140px;
        font-size: 70px;
      }
    }

    &:hover {

      &:before {
        transform: scale(1.1);
      }
    }
  }

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}



