.section-what {
  position: relative;
  z-index: 2;
  background-color: $color-primary;
  border-radius: 24px;
  color:$color-white;

  @include breakpoint(large){
    margin-top: 70px;
    padding: 48px 0 92px;
  }
}

.what-box-head {
  @include breakpoint(large){
    font-size: 40px;
  }
}

.what-img-box {
  img {
    border-radius: 16px;
  }
}

.what-img-col {
  position: relative;

  &:after {
    position: absolute;
    content: $icon-vector-tubes-small;
    color: $color-light-gray;
    @include icon-css-mixin();

    @include breakpoint(large){
      bottom: -33px;
      right: -33px;
      font-size: 146px;
    }
  }
}

.what-box {
  @include breakpoint(large){
    display: flex;
    flex-direction: column;
    height: 100%;
  }
}

.what-img-row {
  @include breakpoint(large){
    margin-bottom: 80px;
  }
}

.what-row-list {
  text-align: center;

  @include breakpoint(large){

  }
}

.what-box-text {
  @include breakpoint(large){
    font-size: 24px;
  }
}

.what-box-inner {
  flex-grow: 1;
}

.what-box {
  @include breakpoint(large){
    padding-top: 48px;
  }
}

.what-pointer-text {
  display: flex;
  align-items: center;
  @include breakpoint(large){
    font-size: 32px;
    margin-bottom: 24px;
  }
}

.what-pointer-icon {
  @include breakpoint(large){
    font-size: 34px;
    margin-right: 10px;
  }
}


.what-img-item-box {

  img {
    @include breakpoint(large){
      width: 100%;
      max-width: 100px;
      margin: 0 auto 24px;
    }
  }
}