.section-inform {
  position: relative;
  z-index: 1;

  @include breakpoint(large){
    padding: 115px 0 70px;
    font-size: 17px;
  }

  &:after,
  &:before{
    position: absolute;
    color: $color-light-gray;
    @include icon-css-mixin();
    z-index: -1;
  }

  &:before {
    content: $icon-vector-tubes;

    @include breakpoint(large){
      left: 0;
      top: 80px;
      font-size: 189px;
    }
  }

  &:after {
    content: $icon-vector-tube;

    @include breakpoint(large){
      right: -200px;
      font-size: 358px;
      transform: translateY(-50%);
    }
  }
}

.inform-vector-box {
  position: absolute;

  @include breakpoint(large){
    width: 100%;
    max-width: 608px;
  }
}

.inform-head {
  @include breakpoint(large){
    text-align: center;
  }

  b {
    margin-bottom: 4px;
    display: block;
  }
}