$section-how-translate: 24px;

.section-how {
  background-color: $color-light-coral;
  position: relative;
  z-index: 1;

  @include breakpoint(large){
    padding: 114px 0 120px;
    transform: translateY(-$section-how-translate);
  }

  &:after,
  &:before{
    position: absolute;
    z-index: -1;
  }

  &:before{
    @include breakpoint(large){
      content: '';
      bottom: -$section-how-translate;
      width: 100%;
      height: 30px;
      border-bottom-left-radius: 24px;
      border-bottom-right-radius: 24px;
      background-color: $color-light-coral;
    }
  }


  &:after {
    content: $icon-vector-tube-big;
    color: $color-secondary;
    @include icon-css-mixin();

    @include breakpoint(large){
      bottom: -$section-how-translate;

      left: -363px;
      font-size: 516px;
    }
  }
}