html {
  &.no-avif-webp-support {
    .hero-content-box {
      @include breakpoint(medium down) {
        background-image: url(../images/section-hero/hero-header-mob.jpg);
      }
      @include breakpoint(large) {
        background-image: url(../images/section-hero/hero-header.jpg);
      }
    }
  }

  &.has-webp-only-support {
    .hero-content-box {
      @include breakpoint(medium down) {
        background-image: url(../images/section-hero/hero-header-mob.webp);
      }
      @include breakpoint(large) {
        background-image: url(../images/section-hero/hero-header.webp);
      }
    }
  }

  &.has-avif-webp-support {
    .hero-content-box {
      @include breakpoint(medium down) {
        background-image: url(../images/section-hero/hero-header-mob.avif);
      }
      @include breakpoint(large) {
        background-image: url(../images/section-hero/hero-header.avif);
      }
    }
  }
}


.section-hero {
  color: $color-white;

  @include breakpoint(large){
    margin-top: 100px;
  }
}

.hero-content-box {
  border-radius: 24px;

  @include breakpoint(large){
    min-height: 664px;
    padding: 120px 60px 220px;
    background-position: left center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}


