<tr>
  <td>“Solidarność”</td>
  <td>“Солідарність”</td>
  <td>“Solidarnist’’”</td>
</tr>
<tr>
  <td>11 listopada</td>
  <td>11 листопада</td>
  <td>Odynadcatoho&nbsp;lystopada</td>
</tr>
<tr>
  <td>15 sierpnia</td>
  <td>15 серпня</td>
  <td>Pjatnacatoho serpnia</td>
</tr>
<tr>
  <td>Akcja pod Arsenałem</td>
  <td>Акція під арсеналом</td>
  <td>Akcija pid Arsenalom</td>
</tr>
<tr>
  <td>Armia Krajowa</td>
  <td>Армія Крайова</td>
  <td>Armija Krajowa</td>
</tr>
<tr>
  <td>biografia</td>
  <td>біографія</td>
  <td>biohrafija</td>
</tr>
<tr>
  <td>bohater</td>
  <td>герой</td>
  <td>heroj</td>
</tr>
<tr>
  <td>Centralny Okręg Przemysłowy</td>
  <td>Центральний&nbsp;індустріальний регіон</td>
  <td>Central’nyj&nbsp;Industrialnyj rehion</td>
</tr>
<tr>
  <td>Cud nad Wisłą</td>
  <td>чуд над Віслою</td>
  <td>Czud nad Wisloju</td>
</tr>
<tr>
  <td>czołg</td>
  <td>танк</td>
  <td>tank</td>
</tr>
<tr>
  <td>czynnik</td>
  <td>фактор</td>
  <td>faktor</td>
</tr>
<tr>
  <td>demokracja</td>
  <td>демократія</td>
  <td>demokratija</td>
</tr>
<tr>
  <td>działania zbrojne</td>
  <td>військові дії</td>
  <td>wijskowi diji</td>
</tr>
<tr>
  <td>eksport</td>
  <td>експорт</td>
  <td>eksport</td>
</tr>
<tr>
  <td>front</td>
  <td>фронт</td>
  <td>front</td>
</tr>
<tr>
  <td>harcerz</td>
  <td>скаут</td>
  <td>skaut</td>
</tr>
<tr>
  <td>import</td>
  <td>імпорт</td>
  <td>import</td>
</tr>
<tr>
  <td>Jan Paweł II</td>
  <td>Ян Павло II</td>
  <td>Jan Pawło Druhij</td>
</tr>
<tr>
  <td>kardynał</td>
  <td>кардинал</td>
  <td>kardynal</td>
</tr>
<tr>
  <td>minister</td>
  <td>міністр</td>
  <td>ministr</td>
</tr>
<tr>
  <td>naczelnik państwa</td>
  <td>начальник держави</td>
  <td>naczalnik derżawy</td>
</tr>
<tr>
  <td>Narodowy Dzień Pamięci Żołnierzy Wyklętych</td>
  <td>Національний день&nbsp;пам'яті проклятих солдатів</td>
  <td>Nacionalnyj den’&nbsp;pamjati prokljatych soldatiw</td>
</tr>
<tr>
  <td>odbudowa kraju</td>
  <td>відбудова країни</td>
  <td>widbudowa krajiny</td>
</tr>
<tr>
  <td>odrodzona Polska</td>
  <td>відроджена Польща</td>
  <td>widrodżena Polszcza</td>
</tr>
<tr>
  <td>okupacja</td>
  <td>окупація</td>
  <td>okupacija</td>
</tr>
<tr>
  <td>opozycja antykomunistyczna</td>
  <td>антикомуністична&nbsp;опозиція</td>
  <td>antykomunistyczna&nbsp;opozycija</td>
</tr>
<tr>
  <td>Orlęta lwowskie</td>
  <td>львівські орлята</td>
  <td>Lwiwski orljata</td>
</tr>
<tr>
  <td>papież</td>
  <td>папа римський</td>
  <td>papa rymskyj</td>
</tr>
<tr>
  <td>Polskie Państwo Podziemne</td>
  <td>Польська підпільна&nbsp;держава</td>
  <td>Polska pidpil’na&nbsp;derżawa</td>
</tr>
<tr>
  <td>pontyfikat</td>
  <td>понтифікат</td>
  <td>pontyfikat</td>
</tr>
<tr>
  <td>port morski</td>
  <td>портове місто</td>
  <td>portowe misto</td>
</tr>
<tr>
  <td>prezydent</td>
  <td>президент</td>
  <td>prezydent</td>
</tr>
<tr>
  <td>PRL = Polska Rzeczpospolita Ludowa</td>
  <td>ПНР = Польська&nbsp;Народна Республіка</td>
  <td>PNR = Polska Narodna&nbsp;Respublika</td>
</tr>
<tr>
  <td>prymas</td>
  <td>примас</td>
  <td>prymas</td>
</tr>
<tr>
  <td>przejąć władzę</td>
  <td>здобути владу</td>
  <td>zdobuty wladu</td>
</tr>
<tr>
  <td>stan wojenny</td>
  <td>воєнний стан</td>
  <td>wojennyj stan</td>
</tr>
<tr>
  <td>strajki robotnicze</td>
  <td>страйки робітників</td>
  <td>strajky robitnykiw</td>
</tr>
<tr>
  <td>sukces</td>
  <td>успіх</td>
  <td>uspich</td>
</tr>
<tr>
  <td>Szare Szeregi</td>
  <td>Сірі шеренги</td>
  <td>Siri Szerenhy</td>
</tr>
<tr>
  <td>Święto Wojska Polskiego</td>
  <td>День польського&nbsp;війська</td>
  <td>Deń pol’s’kogo&nbsp;wijs’ka</td>
</tr>
<tr>
  <td>trudności gospodarcze</td>
  <td>економічні труднощі</td>
  <td>ekonomiczni&nbsp;trudnoszczi</td>
</tr>
<tr>
  <td>upadek komunizmu</td>
  <td>падіння комунізму</td>
  <td>padinnja komunizmu</td>
</tr>
<tr>
  <td>ustrój państwa</td>
  <td>устрій держави</td>
  <td>ustrij derżawy</td>
</tr>
<tr>
  <td>walczyć</td>
  <td>боротися</td>
  <td>borotysja</td>
</tr>
<tr>
  <td>Wolne Miasto Gdańsk</td>
  <td>Вільне місто Гданськ</td>
  <td>Wilne misto Hdan’sk</td>
</tr>
<tr>
  <td>wybuch II wojny światowej</td>
  <td>початок Другої&nbsp;світової війни</td>
  <td>poczatok druchoji&nbsp;switowoji wijny</td>
</tr>
<tr>
  <td>zakończenie wojny</td>
  <td>закінчення війни</td>
  <td>zakinczennja wijny</td>
</tr>
<tr>
  <td>Związek Sowiecki/Radziecki</td>
  <td>Радянський Союз</td>
  <td>Radjanskij sojuz</td>
</tr>
<tr>
  <td>związek zawodowy</td>
  <td>профспілка</td>
  <td>profspilka</td>
</tr>
<tr>
  <td>zwolennik</td>
  <td>прихильник</td>
  <td>prychyl’nyk</td>
</tr>
<tr>
  <td>życie codzienne</td>
  <td>повсякденне життя</td>
  <td>powsjakdenne żyttja</td>
</tr>