<tr>
  <td>astronomia</td>
  <td>астрономія</td>
  <td>astronomija</td>
</tr>
<tr>
  <td>biskup</td>
  <td>єпископ</td>
  <td>episkop</td>
</tr>
<tr>
  <td>Bitwa pod Grunwaldem</td>
  <td>Грюнвальдська битва</td>
  <td>Hrjunwal’ds’ka bytwa</td>
</tr>
<tr>
  <td>broń</td>
  <td>зброя</td>
  <td>zbroja</td>
</tr>
<tr>
  <td>cesarz</td>
  <td>iмператор</td>
  <td>imperator</td>
</tr>
<tr>
  <td>chrzest</td>
  <td>хрещення</td>
  <td>chreszczennja</td>
</tr>
<tr>
  <td>dynastia</td>
  <td>династія</td>
  <td>dynastija</td>
</tr>
<tr>
  <td>fosa/rów</td>
  <td>рiв</td>
  <td>riw</td>
</tr>
<tr>
  <td>giermek</td>
  <td>зброєносець</td>
  <td>zbrojenosiec</td>
</tr>
<tr>
  <td>herb</td>
  <td>герб</td>
  <td>herb</td>
</tr>
<tr>
  <td>klasztor</td>
  <td>монастир</td>
  <td>monastyr</td>
</tr>
<tr>
  <td>kodeks</td>
  <td>кодекс</td>
  <td>kodeks</td>
</tr>
<tr>
  <td>koronacja</td>
  <td>коронування/коронація</td>
  <td>koronuwannja/koronacija</td>
</tr>
<tr>
  <td>kościół</td>
  <td>церква</td>
  <td>cerkwa</td>
</tr>
<tr>
  <td>król</td>
  <td>король</td>
  <td>korol’</td>
</tr>
<tr>
  <td>królestwo</td>
  <td>королівствo/царствo</td>
  <td>korolistwo/carstwo</td>
</tr>
<tr>
  <td>księstwo</td>
  <td>князівствo</td>
  <td>kniazistwo</td>
</tr>
<tr>
  <td>małżeństwo/ślub</td>
  <td>одруження/шлюб</td>
  <td>odrużennja/szljub</td>
</tr>
<tr>
  <td>Misja chrześcijańska</td>
  <td>християнська місія</td>
  <td>chrystyjan’s’ka&nbsp;&nbsp;&nbsp;misija</td>
</tr>
<tr>
  <td>mnich</td>
  <td>монах</td>
  <td>monach</td>
</tr>
<tr>
  <td>monarcha</td>
  <td>монарх</td>
  <td>monarch</td>
</tr>
<tr>
  <td>objąć tron</td>
  <td>засісти на престолі</td>
  <td>zasisty na prestoli</td>
</tr>
<tr>
  <td>pasowanie na rycerza</td>
  <td>посвята в лицарі</td>
  <td>poswjata w lycari</td>
</tr>
<tr>
  <td>Piastowie</td>
  <td>Пясти</td>
  <td>Pjasty</td>
</tr>
<tr>
  <td>pielgrzymka</td>
  <td>паломництво</td>
  <td>palomnictwo</td>
</tr>
<tr>
  <td>pismo</td>
  <td>письмо</td>
  <td>pys’mo</td>
</tr>
<tr>
  <td>plemię</td>
  <td>плем'я</td>
  <td>plemja</td>
</tr>
<tr>
  <td>podbić (ziemie)</td>
  <td>завоювати (землю)</td>
  <td>zawojuwaty (zemlju)</td>
</tr>
<tr>
  <td>polityka</td>
  <td>політикa</td>
  <td>polityka</td>
</tr>
<tr>
  <td>potępić</td>
  <td>засудити</td>
  <td>zasudyty</td>
</tr>
<tr>
  <td>reforma</td>
  <td>реформа</td>
  <td>reforma</td>
</tr>
<tr>
  <td>relikwia</td>
  <td>реліквія</td>
  <td>relikwija</td>
</tr>
<tr>
  <td>rolnictwo</td>
  <td>сільське господарство</td>
  <td>sil’s’ke&nbsp;&nbsp;&nbsp;chospodarstwo</td>
</tr>
<tr>
  <td>Ród Jagiellonów</td>
  <td>Рід Ягеллонів</td>
  <td>Rid Jachelloniw</td>
</tr>
<tr>
  <td>rycerz</td>
  <td>лицарь</td>
  <td>licar</td>
</tr>
<tr>
  <td>Słowianie</td>
  <td>Словʼяни</td>
  <td>Slowjany</td>
</tr>
<tr>
  <td>teoria</td>
  <td>теорія</td>
  <td>teorija</td>
</tr>
<tr>
  <td>unia</td>
  <td>унія</td>
  <td>unija</td>
</tr>
<tr>
  <td>Unia polsko-litewska</td>
  <td>польсько-литовська&nbsp;&nbsp;&nbsp;унія</td>
  <td>pol’s’ko-litows’ka&nbsp;&nbsp;&nbsp;unija</td>
</tr>
<tr>
  <td>uniwersytet</td>
  <td>університет</td>
  <td>uniwersytet</td>
</tr>
<tr>
  <td>uzbrojenie</td>
  <td>озброєння</td>
  <td>ozbrojennja</td>
</tr>
<tr>
  <td>Wielkie Księstwo Litewskie</td>
  <td>Велике князівство&nbsp;&nbsp;&nbsp;Литовське</td>
  <td>Welyke knjaziwstwo&nbsp;&nbsp;&nbsp;litows’ke</td>
</tr>
<tr>
  <td>władca</td>
  <td>правитель</td>
  <td>prawytel’</td>
</tr>
<tr>
  <td>Zakon krzyżacki/krzyżacy</td>
  <td>Тевтонський орден/ хрестоносці</td>
  <td>Tewton’skij&nbsp;&nbsp;&nbsp;orden/chrestonosci</td>
</tr>
<tr>
  <td>zamek</td>
  <td>замок</td>
  <td>zamok</td>
</tr>
<tr>
  <td>zmiana</td>
  <td>змінa</td>
  <td>zmina</td>
</tr>
<tr>
  <td>żołnierz</td>
  <td>солдат</td>
  <td>soldat</td>
</tr>