<tr>
  <td>archeologia</td>
  <td>археологія</td>
  <td>archeolochija</td>
</tr>
<tr>
  <td>architektura</td>
  <td>архітектура</td>
  <td>architektura</td>
</tr>
<tr>
  <td>bitwa</td>
  <td>битва</td>
  <td>bytwa</td>
</tr>
<tr>
  <td>brać udział</td>
  <td>брати участь</td>
  <td>braty uczas’t’</td>
</tr>
<tr>
  <td>cel</td>
  <td>ціль</td>
  <td>cil</td>
</tr>
<tr>
  <td>charakterystyka</td>
  <td>характеристикa</td>
  <td>charakterystyka</td>
</tr>
<tr>
  <td>data</td>
  <td>дата</td>
  <td>data</td>
</tr>
<tr>
  <td>dziedzictwo</td>
  <td>спадщинa</td>
  <td>spadszczyna</td>
</tr>
<tr>
  <td>dzieło</td>
  <td>твір</td>
  <td>twir</td>
</tr>
<tr>
  <td>epoka</td>
  <td>епохa</td>
  <td>epocha</td>
</tr>
<tr>
  <td>funkcja</td>
  <td>функція</td>
  <td>funkcija</td>
</tr>
<tr>
  <td>granica</td>
  <td>кордон/границя</td>
  <td>kordon/hranycja</td>
</tr>
<tr>
  <td>grób</td>
  <td>могила</td>
  <td>mohyla</td>
</tr>
<tr>
  <td>historia nowożytna</td>
  <td>сучасна історія</td>
  <td>suczasna istorija</td>
</tr>
<tr>
  <td>informacja</td>
  <td>інформація</td>
  <td>informacija</td>
</tr>
<tr>
  <td>konflikt</td>
  <td>конфлікт</td>
  <td>konflikt</td>
</tr>
<tr>
  <td>koniec</td>
  <td>кінець</td>
  <td>kinec</td>
</tr>
<tr>
  <td>kraj</td>
  <td>країнa</td>
  <td>krajina</td>
</tr>
<tr>
  <td>kultura</td>
  <td>культура</td>
  <td>kultura</td>
</tr>
<tr>
  <td>legenda</td>
  <td>легенда</td>
  <td>lehenda</td>
</tr>
<tr>
  <td>mapa</td>
  <td>карта</td>
  <td>karta</td>
</tr>
<tr>
  <td>miasto</td>
  <td>місто</td>
  <td>misto</td>
</tr>
<tr>
  <td>naród</td>
  <td>народ</td>
  <td>narod</td>
</tr>
<tr>
  <td>obrazek</td>
  <td>картинкa</td>
  <td>kartynka</td>
</tr>
<tr>
  <td>obszar</td>
  <td>область</td>
  <td>oblas’t’</td>
</tr>
<tr>
  <td>odkrycie</td>
  <td>відкриття</td>
  <td>widkryttja</td>
</tr>
<tr>
  <td>ojczyzna</td>
  <td>батьківщина/Вітчизна</td>
  <td>bat’kiwszczyna/witczyzna</td>
</tr>
<tr>
  <td>opinia/pogląd</td>
  <td>думка</td>
  <td>dumka</td>
</tr>
<tr>
  <td>opis</td>
  <td>опис</td>
  <td>opys</td>
</tr>
<tr>
  <td>oś czasu</td>
  <td>часова шкала</td>
  <td>czasowa szkala</td>
</tr>
<tr>
  <td>p.n.e./n.e.</td>
  <td>до нашої ери/ нашої&nbsp;&nbsp;&nbsp;ери</td>
  <td>do naszoji ery/&nbsp;&nbsp;&nbsp;naszoji ery</td>
</tr>
<tr>
  <td>patriotyzm</td>
  <td>патріотизм</td>
  <td>patriotyzm</td>
</tr>
<tr>
  <td>pochodzenie</td>
  <td>походження</td>
  <td>pochodżennia</td>
</tr>
<tr>
  <td>początek</td>
  <td>початок</td>
  <td>poczatok</td>
</tr>
<tr>
  <td>pokój</td>
  <td>мир</td>
  <td>myr</td>
</tr>
<tr>
  <td>porażka</td>
  <td>поразка</td>
  <td>porazka</td>
</tr>
<tr>
  <td>postać/osoba</td>
  <td>постать/особа</td>
  <td>postat’/osoba</td>
</tr>
<tr>
  <td>postanowienie</td>
  <td>рішення</td>
  <td>riszennia</td>
</tr>
<tr>
  <td>problem</td>
  <td>проблема</td>
  <td>problema</td>
</tr>
<tr>
  <td>przebieg</td>
  <td>перебіг</td>
  <td>perebih</td>
</tr>
<tr>
  <td>przedstawiciel</td>
  <td>представник</td>
  <td>predstawnyk</td>
</tr>
<tr>
  <td>przegrać</td>
  <td>програти</td>
  <td>prohraty</td>
</tr>
<tr>
  <td>przeszłość</td>
  <td>минуле</td>
  <td>mynule</td>
</tr>
<tr>
  <td>przyczyny</td>
  <td>причини</td>
  <td>pryczyny</td>
</tr>
<tr>
  <td>region</td>
  <td>регіон</td>
  <td>rehion</td>
</tr>
<tr>
  <td>rok</td>
  <td>рік</td>
  <td>rik</td>
</tr>
<tr>
  <td>rola</td>
  <td>роль</td>
  <td>rol’</td>
</tr>
<tr>
  <td>rozwijać się</td>
  <td>розвиватися</td>
  <td>rozwywatysja</td>
</tr>
<tr>
  <td>skutki</td>
  <td>наслідки</td>
  <td>naslidky</td>
</tr>
<tr>
  <td>starożytność</td>
  <td>античність</td>
  <td>antycznis’t’</td>
</tr>
<tr>
  <td>stolica</td>
  <td>столиця</td>
  <td>stolycja</td>
</tr>
<tr>
  <td>strzałka</td>
  <td>стрілка</td>
  <td>striłka</td>
</tr>
<tr>
  <td>stulecie</td>
  <td>століття</td>
  <td>stolitja</td>
</tr>
<tr>
  <td>symbol</td>
  <td>символ</td>
  <td>symwol</td>
</tr>
<tr>
  <td>sytuacja</td>
  <td>ситуація</td>
  <td>sytuacija</td>
</tr>
<tr>
  <td>średniowiecze</td>
  <td>середньовіччя</td>
  <td>seredn’iowiczczja</td>
</tr>
<tr>
  <td>świat</td>
  <td>світ</td>
  <td>swit</td>
</tr>
<tr>
  <td>święto państwowe</td>
  <td>національне свято</td>
  <td>nacionalne swjato</td>
</tr>
<tr>
  <td>tekst</td>
  <td>текст</td>
  <td>tekst</td>
</tr>
<tr>
  <td>termin</td>
  <td>термін</td>
  <td>termin</td>
</tr>
<tr>
  <td>tradycja</td>
  <td>традиція</td>
  <td>tradycija</td>
</tr>
<tr>
  <td>wiek</td>
  <td>вік</td>
  <td>wik</td>
</tr>
<tr>
  <td>wojna</td>
  <td>війна</td>
  <td>wijna</td>
</tr>
<tr>
  <td>współczesność</td>
  <td>сучасність</td>
  <td>suczasnis’t’</td>
</tr>
<tr>
  <td>wydarzenie</td>
  <td>подія</td>
  <td>podija</td>
</tr>
<tr>
  <td>wygląd</td>
  <td>вигляд/вид</td>
  <td>wychljad/wyd</td>
</tr>
<tr>
  <td>wygrać</td>
  <td>перемогти/виграти</td>
  <td>peremohty/wyhraty</td>
</tr>
<tr>
  <td>zabytek</td>
  <td>пам'ятка</td>
  <td>pamjatka</td>
</tr>
<tr>
  <td>zagrożenie</td>
  <td>загроза</td>
  <td>zahroza</td>
</tr>
<tr>
  <td>zasada</td>
  <td>правилo</td>
  <td>prawylo</td>
</tr>
<tr>
  <td>zasługi dla nauki, kultury i sztuki</td>
  <td>заслуги для науки,&nbsp;&nbsp;&nbsp;культури та мистецтва</td>
  <td>zasłuhy dlja nauki,&nbsp;&nbsp;&nbsp;kul’tury ta mystectwa</td>
</tr>
<tr>
  <td>zdjęcie</td>
  <td>фотографія/фото</td>
  <td>fotohrafija/foto</td>
</tr>
<tr>
  <td>znaczenie</td>
  <td>значення</td>
  <td>znaczennia</td>
</tr>
<tr>
  <td>źródła historyczne</td>
  <td>історичні джерела</td>
  <td>istoryczni dżerela</td>
</tr>
<tr>
  <td>życie</td>
  <td>життя</td>
  <td>żyttja</td>
</tr>