<tr>
  <td>Austria</td>
  <td>Австрія</td>
  <td>Awstrija</td>
</tr>
<tr>
  <td>autor</td>
  <td>автор</td>
  <td>awtor</td>
</tr>
<tr>
  <td>dyktator</td>
  <td>диктатор</td>
  <td>dyktator</td>
</tr>
<tr>
  <td>działalność konspiracyjna</td>
  <td>підпільна діяльність</td>
  <td>pidpil’na&nbsp;&nbsp;&nbsp;dzijalnis’t’</td>
</tr>
<tr>
  <td>emigracja</td>
  <td>еміграція</td>
  <td>emihracija</td>
</tr>
<tr>
  <td>epoka oświecenia</td>
  <td>епохa Просвітництва</td>
  <td>epocha proswitnyctwa</td>
</tr>
<tr>
  <td>hetman</td>
  <td>гетьман</td>
  <td>het’man</td>
</tr>
<tr>
  <td>husaria</td>
  <td>гусари</td>
  <td>husary</td>
</tr>
<tr>
  <td>hymn</td>
  <td>гімн</td>
  <td>himn</td>
</tr>
<tr>
  <td>I wojna światowa</td>
  <td>Перша світова війна</td>
  <td>Persza switowa wijna</td>
</tr>
<tr>
  <td>ideały</td>
  <td>ідеали</td>
  <td>ideały</td>
</tr>
<tr>
  <td>kanclerz</td>
  <td>канцлер</td>
  <td>kancler</td>
</tr>
<tr>
  <td>kariera polityczna</td>
  <td>політична кар'єра</td>
  <td>polityczna karjera</td>
</tr>
<tr>
  <td>Komisja Edukacji Narodowej</td>
  <td>Комісія народної&nbsp;&nbsp;&nbsp;освіти</td>
  <td>komisja narodnoj&nbsp;&nbsp;&nbsp;oswity</td>
</tr>
<tr>
  <td>kontrowersje</td>
  <td>суперечки</td>
  <td>supereczky</td>
</tr>
<tr>
  <td>kosynier</td>
  <td>косинер</td>
  <td>kosynier</td>
</tr>
<tr>
  <td>kryzys</td>
  <td>криза</td>
  <td>kryza</td>
</tr>
<tr>
  <td>laureaci Nagrody Nobla</td>
  <td>нобелівські лауреати</td>
  <td>nobelski laureaty</td>
</tr>
<tr>
  <td>Legiony polskie</td>
  <td>Польські легіони</td>
  <td>Pol’ski legiony</td>
</tr>
<tr>
  <td>mecenas</td>
  <td>меценат</td>
  <td>mecenat</td>
</tr>
<tr>
  <td>Napoleon Bonaparte</td>
  <td>Наполеон Бонапарт</td>
  <td>Napoleon Bonapart</td>
</tr>
<tr>
  <td>Niemcy</td>
  <td>Німеччина</td>
  <td>Nimeczczyna</td>
</tr>
<tr>
  <td>niepodległość</td>
  <td>незалежність</td>
  <td>nezależnist’</td>
</tr>
<tr>
  <td>obrona</td>
  <td>оборонa</td>
  <td>oborona</td>
</tr>
<tr>
  <td>potop szwedzki</td>
  <td>шведський потоп</td>
  <td>szweds’kyj potop</td>
</tr>
<tr>
  <td>powstanie</td>
  <td>повстання</td>
  <td>powstannia</td>
</tr>
<tr>
  <td>renesans / renesansowy</td>
  <td>ренесанс/ренесансний</td>
  <td>renesans/renesansnyj</td>
</tr>
<tr>
  <td>represje</td>
  <td>репресії</td>
  <td>represiji</td>
</tr>
<tr>
  <td>Rosja</td>
  <td>Росія</td>
  <td>Rosija</td>
</tr>
<tr>
  <td>Rozbiory Polski</td>
  <td><a href="https://pl.glosbe.com/uk/pl/%D0%9F%D0%BE%D0%B4%D1%96%D0%BB%D0%B8%20%D0%A0%D0%B5%D1%87%D1%96%20%D0%9F%D0%BE%D1%81%D0%BF%D0%BE%D0%BB%D0%B8%D1%82%D0%BE%D1%97">Поділи&nbsp;&nbsp;&nbsp;Речі Посполитої</a></td>
  <td>Podiły Reczi&nbsp;&nbsp;&nbsp;Podpolitoj</td>
</tr>
<tr>
  <td>Syberia</td>
  <td>Сибір</td>
  <td>Sybir</td>
</tr>
<tr>
  <td>Szkoła rycerska</td>
  <td>Лицарська школа</td>
  <td>Lycars’ka szkola</td>
</tr>
<tr>
  <td>szlachta</td>
  <td>шляхта</td>
  <td>szljachta</td>
</tr>
<tr>
  <td>Turcy</td>
  <td>Турки</td>
  <td>Turki</td>
</tr>
<tr>
  <td>twórca</td>
  <td>творець</td>
  <td>tworec’</td>
</tr>
<tr>
  <td>uchwalić konstytucję</td>
  <td>прийняти конституцію</td>
  <td>prynjaty&nbsp;&nbsp;&nbsp;konstytuciju</td>
</tr>
<tr>
  <td>upadek powstania</td>
  <td>провал повстання</td>
  <td>prowal powstannja</td>
</tr>
<tr>
  <td>Włochy</td>
  <td>Італія</td>
  <td>Italija</td>
</tr>
<tr>
  <td>wojna partyzancka</td>
  <td>партизанська війна</td>
  <td>partyzan’ska wijna</td>
</tr>
<tr>
  <td>wojsko</td>
  <td>військо</td>
  <td>wijs’ko</td>
</tr>
<tr>
  <td>zaborca</td>
  <td>загарбник</td>
  <td>zaharbnyk</td>
</tr>
<tr>
  <td>zabór rosyjski</td>
  <td>російська зона&nbsp;&nbsp;&nbsp;окупації</td>
  <td>rosijs’ka zona&nbsp;&nbsp;&nbsp;okupaciji</td>
</tr>
<tr>
  <td>zabudowa miasta</td>
  <td>забудовa міста</td>
  <td>zabudowa mista</td>
</tr>
<tr>
  <td>zależność</td>
  <td>залежність</td>
  <td>zależnis’t’</td>
</tr>
<tr>
  <td>zdrajca</td>
  <td>зрадник</td>
  <td>zradnyk</td>
</tr>
<tr>
  <td>złoty</td>
  <td>золотий</td>
  <td>zolotyj</td>
</tr>
