<tr>
  <td>nizina</td>
  <td>низовина</td>
  <td>nyzowyna</td>
</tr>
<tr>
  <td>wyżyna</td>
  <td>нагря</td>
  <td>nahirja</td>
</tr>
<tr>
  <td>równina</td>
  <td>рівнина</td>
  <td>riwnyna</td>
</tr>
<tr>
  <td>depresja</td>
  <td>депресія</td>
  <td>depresija</td>
</tr>
<tr>
  <td>pagórek</td>
  <td>пагорб</td>
  <td>pahorb</td>
</tr>
<tr>
  <td>wzgórze</td>
  <td>пагорб</td>
  <td>pahorb</td>
</tr>
<tr>
  <td>pojezierze</td>
  <td>озерний край</td>
  <td>ozernyj kraj</td>
</tr>
<tr>
  <td>dolina</td>
  <td>долина</td>
  <td>dolyna</td>
</tr>
<tr>
  <td>góra</td>
  <td>гора</td>
  <td>hora</td>
</tr>
<tr>
  <td>kotlina</td>
  <td>котловина</td>
  <td>kotlowyna</td>
</tr>