<tr>
  <td>archipelag</td>
  <td>архіпелаг</td>
  <td>archipelag</td>
</tr>
<tr>
  <td>jezioro</td>
  <td>озеро</td>
  <td>ozero</td>
</tr>
<tr>
  <td>mierzeja</td>
  <td>коса</td>
  <td>kosa</td>
</tr>
<tr>
  <td>morze</td>
  <td>море</td>
  <td>more</td>
</tr>
<tr>
  <td>ocean</td>
  <td>океан</td>
  <td>okean</td>
</tr>
<tr>
  <td>półwysep</td>
  <td>півострів</td>
  <td>piwostriw</td>
</tr>
<tr>
  <td>pustynia</td>
  <td>пустеля</td>
  <td>pustelia</td>
</tr>
<tr>
  <td>rzeka</td>
  <td>річка</td>
  <td>riczka</td>
</tr>
<tr>
  <td>skała</td>
  <td>скеля</td>
  <td>skelia</td>
</tr>
<tr>
  <td>step</td>
  <td>степ</td>
  <td>step</td>
</tr>
<tr>
  <td>szczyt</td>
  <td>вершина</td>
  <td>werszyna</td>
</tr>
<tr>
  <td>wąwóz</td>
  <td>ущелина</td>
  <td>uszczelyna</td>
</tr>
<tr>
  <td>wyspa</td>
  <td>острів</td>
  <td>ostriw</td>
</tr>
<tr>
  <td>zalew</td>
  <td>водосховище</td>
  <td>wodoschowyszcze</td>
</tr>
