<tr>
  <td><b>Europa</b></td>
  <td><b>Європа</b></td>
  <td><b>jewropa</b></td>
</tr>
<tr>
  <td>Albania</td>
  <td>Албанія</td>
  <td>albanija</td>
</tr>
<tr>
  <td>Andora</td>
  <td>Андорра</td>
  <td>andorra</td>
</tr>
<tr>
  <td>Austria</td>
  <td>Австрія</td>
  <td>awstrija</td>
</tr>
<tr>
  <td>Belgia</td>
  <td>Бельгія</td>
  <td>belhija</td>
</tr>
<tr>
  <td>Białoruś*</td>
  <td>Білорусь</td>
  <td>biłoruś</td>
</tr>
<tr>
  <td>Bośnia i Hercegowina</td>
  <td >Боснія і Герцеговина</td>
  <td>bosniya i hertsehovyna </td>
</tr>
<tr>
  <td>Bułgaria</td>
  <td>Болгарія</td>
  <td>bolharija</td>
</tr>
<tr>
  <td>Chorwacja</td>
  <td>Хорватія</td>
  <td>chorwatija</td>
</tr>
<tr>
  <td>Cypr*</td>
  <td>Кіпр</td>
  <td>kipr</td>
</tr>
<tr>
  <td>Czarnogóra</td>
  <td>Чорногорія</td>
  <td>czornohoria</td>
</tr>
<tr>
  <td>Czechy</td>
  <td>Чехія</td>
  <td>czechija</td>
</tr>
<tr>
  <td>Dania</td>
  <td>Данія</td>
  <td>danija</td>
</tr>
<tr>
  <td>Estonia</td>
  <td>Естонія</td>
  <td>estonija</td>
</tr>
<tr>
  <td>Finlandia</td>
  <td>Фінляндія</td>
  <td>finlandija</td>
</tr>
<tr>
  <td>Francja</td>
  <td>Франція</td>
  <td>francija</td>
</tr>
<tr>
  <td>Grecja</td>
  <td>Греція</td>
  <td>hrecija</td>
</tr>
<tr>
  <td>Hiszpania</td>
  <td>Іспанія</td>
  <td>ispanija</td>
</tr>
<tr>
  <td>Holandia</td>
  <td>Голландія</td>
  <td>hollandija</td>
</tr>
<tr>
  <td>Irlandia</td>
  <td>Ірландія</td>
  <td>irlandija</td>
</tr>
<tr>
  <td>Islandia</td>
  <td>Ісландія</td>
  <td>islandija</td>
</tr>
<tr>
  <td>Lichtenstein</td>
  <td>Ліхтенштейн</td>
  <td>likhtenshteyn</td>
</tr>
<tr>
  <td>Kosowo*</td>
  <td>Косово</td>
  <td>kosowo</td>
</tr>
<tr>
  <td>Litwa</td>
  <td>Литва</td>
  <td>łytwa</td>
</tr>
<tr>
  <td>Luksemburg</td>
  <td>Люксембург</td>
  <td>ljuksemburh</td>
</tr>
<tr>
  <td>Łotwa</td>
  <td>Латвія</td>
  <td>łatwija</td>
</tr>
<tr>
  <td>Macedonia</td>
  <td>Македонія</td>
  <td>makedonija</td>
</tr>
<tr>
  <td>Malta</td>
  <td>Мальта</td>
  <td>mal’ta</td>
</tr>
<tr>
  <td>Mołdawia</td>
  <td>Молдова</td>
  <td>moldowa</td>
</tr>
<tr>
  <td>Monako</td>
  <td>Монако</td>
  <td>monako</td>
</tr>
<tr>
  <td>Niemcy</td>
  <td>Німеччина</td>
  <td>nimeczczyna</td>
</tr>
<tr>
  <td>Norwegia</td>
  <td>Норвегія</td>
  <td>norwehija</td>
</tr>
<tr>
  <td>Polska</td>
  <td>Польща</td>
  <td>pol’szcza</td>
</tr>
<tr>
  <td>Portugalia</td>
  <td>Португалія</td>
  <td>portuhalija</td>
</tr>
<tr>
  <td>rosja</td>
  <td>росія</td>
  <td>rosija</td>
</tr>
<tr>
  <td>Rumunia</td>
  <td>Румунія</td>
  <td>rumunija</td>
</tr>
<tr>
  <td>San Marino</td>
  <td>Сан-Марино</td>
  <td>san-maryno</td>
</tr>
<tr>
  <td>Serbia</td>
  <td>Сербія</td>
  <td>serbija</td>
</tr>
<tr>
  <td>Słowacja</td>
  <td>Словаччина</td>
  <td>slowaczczyna</td>
</tr>
<tr>
  <td>Słowenia</td>
  <td>Словенія</td>
  <td>sloveniya</td>
</tr>
<tr>
  <td>Szwajcaria</td>
  <td>Швейцарія</td>
  <td>szwejcaria </td>
</tr>
<tr>
  <td>Szwecja</td>
  <td>Швеція</td>
  <td>szwecija</td>
</tr>
<tr>
  <td>Turcja*</td>
  <td>Туреччина</td>
  <td>tureczczyna</td>
</tr>
<tr>
  <td>Ukraina</td>
  <td>Україна</td>
  <td>ukrajina</td>
</tr>
<tr>
  <td>Watykan</td>
  <td>Ватикан</td>
  <td>watykan</td>
</tr>
<tr>
  <td>Węgry</td>
  <td>Угорщина</td>
  <td>uhorszczyna</td>
</tr>
<tr>
  <td>Wielka Brytania</td>
  <td>Великобританія</td>
  <td>welykobrytanija</td>
</tr>
<tr>
  <td><b>Azja</b></td>
  <td><b>Азія</b></td>
  <td><b>azija</b></td>
</tr>
<tr>
  <td>Afganistan</td>
  <td>Aфганістан</td>
  <td>afhanistan</td>
</tr>
<tr>
  <td>Arabia Saudyjska</td>
  <td>Саудівська Аравія</td>
  <td>saudiws’ka arawija</td>
</tr>
<tr>
  <td>Armenia</td>
  <td>Вірменія</td>
  <td>wirmenija</td>
</tr>
<tr>
  <td>Azerbejdżan</td>
  <td>Азербайджан</td>
  <td>azerbajdżan</td>
</tr>
<tr>
  <td>Bahrajn</td>
  <td>Бахрейн</td>
  <td>bachrejn</td>
</tr>
<tr>
  <td>Bangladesz</td>
  <td>Бангладеш</td>
  <td>banhladesz</td>
</tr>
<tr>
  <td>Bhutan</td>
  <td>Бутан </td>
  <td>butan</td>
</tr>
<tr>
  <td>Brunei</td>
  <td>Бруней</td>
  <td>brunej</td>
</tr>
<tr>
  <td>Chiny</td>
  <td>Китай </td>
  <td>kytaj</td>
</tr>
<tr>
  <td>Cypr*</td>
  <td>Кіпр</td>
  <td>kipr</td>
</tr>
<tr>
  <td>Filipiny</td>
  <td>Філіппіни</td>
  <td>filippiny</td>
</tr>
<tr>
  <td>Gruzja*</td>
  <td>Грузія</td>
  <td>hruzija</td>
</tr>
<tr>
  <td>Indie</td>
  <td>Індія</td>
  <td>indija</td>
</tr>
<tr>
  <td>Indonezja</td>
  <td>Індонезія</td>
  <td>indonezija</td>
</tr>
<tr>
  <td>Irak</td>
  <td>Ірак</td>
  <td>irak</td>
</tr>
<tr>
  <td>Iran</td>
  <td>Іран</td>
  <td>irak</td>
</tr>
<tr>
  <td>Izrael</td>
  <td>Ізраіль</td>
  <td>izrail’</td>
</tr>
<tr>
  <td>Japonia</td>
  <td>Японія</td>
  <td>japonija</td>
</tr>
<tr>
  <td>Jemen</td>
  <td>Ємен</td>
  <td>jemen</td>
</tr>
<tr>
  <td>Jordania</td>
  <td>Йорданія</td>
  <td>jordanija</td>
</tr>
<tr>
  <td>Kambodża</td>
  <td>Камбоджа</td>
  <td>kambodża</td>
</tr>
<tr>
  <td>Katar</td>
  <td>Катар</td>
  <td>katar</td>
</tr>
<tr>
  <td>Kazachstan</td>
  <td>Казахстан</td>
  <td>kazachstan</td>
</tr>
<tr>
  <td>Kirgistan</td>
  <td>Кіргизстан</td>
  <td>kirhyzstan</td>
</tr>
<tr>
  <td>Korea Południowa</td>
  <td>Південна Корея</td>
  <td>piwdenna koreja</td>
</tr>
<tr>
  <td>Korea Północna</td>
  <td>Північна Корея</td>
  <td>piwniczna  koreja</td>
</tr>
<tr>
  <td>Kuwejt</td>
  <td>Кувейт</td>
  <td>kuwejt</td>
</tr>
<tr>
  <td>Laos</td>
  <td>Лаос</td>
  <td>laos</td>
</tr>
<tr>
  <td>Liban</td>
  <td>Ліван</td>
  <td>liwan</td>
</tr>
<tr>
  <td>Malediwy</td>
  <td>Мальдіви</td>
  <td>mal’diwy</td>
</tr>
<tr>
  <td>Malezja</td>
  <td>Малайзія</td>
  <td>malajzija</td>
</tr>
<tr>
  <td>Mjanma</td>
  <td>Мянма</td>
  <td>mjanma</td>
</tr>
<tr>
  <td>Mongolia</td>
  <td>Монголія</td>
  <td>monholija</td>
</tr>
<tr>
  <td>Nepal</td>
  <td>Непал</td>
  <td>nepal</td>
</tr>
<tr>
  <td>Oman</td>
  <td>Оман</td>
  <td>oman</td>
</tr>
<tr>
  <td>Pakistan</td>
  <td>Пакистан</td>
  <td>pakystan</td>
</tr>
<tr>
  <td>Rosja*</td>
  <td>Росія</td>
  <td>rosija</td>
</tr>
<tr>
  <td>Singapur</td>
  <td>Сінгапур</td>
  <td>sinhapur</td>
</tr>
<tr>
  <td>Sri Lanka</td>
  <td>Шрі-Ланка</td>
  <td>szri-lanka</td>
</tr>
<tr>
  <td>Syria</td>
  <td>Сирія</td>
  <td>syrija</td>
</tr>
<tr>
  <td>Tadżykistan</td>
  <td>Таджикистан</td>
  <td>tadżykystan</td>
</tr>
<tr>
  <td>Tajlandia</td>
  <td>Таïланд</td>
  <td>tailand</td>
</tr>
<tr>
  <td>Timor Wschodni</td>
  <td>Східний Тимор</td>
  <td>schidnyj tymor</td>
</tr>
<tr>
  <td>Turcja*</td>
  <td>Туреччина</td>
  <td>tureczczyna</td>
</tr>
<tr>
  <td>Turkmenistan</td>
  <td>Туркменістан</td>
  <td>turkmenistan</td>
</tr>
<tr>
  <td>Uzbekistan</td>
  <td>Узбекистан</td>
  <td>uzbejystan</td>
</tr>
<tr>
  <td>Wietnam</td>
  <td>Вєтнам</td>
  <td>wjetnam</td>
</tr>
<tr>
  <td>Zjednoczone Emiraty Arabskie</td>
  <td>Об'єднані Арабські Емірати</td>
  <td>objednani arabs’ki emiraty</td>
</tr>
<tr>
  <td><b>Azja</b></td>
  <td><b>Азія</b></td>
  <td><b>azija</b></td>
</tr>
<tr>
  <td>Afganistan</td>
  <td>Aфганістан</td>
  <td>afhanistan</td>
</tr>
<tr>
  <td>Arabia Saudyjska</td>
  <td>Саудівська Аравія</td>
  <td>saudiws’ka arawija</td>
</tr>
<tr>
  <td>Armenia</td>
  <td>Вірменія</td>
  <td>wirmenija</td>
</tr>
<tr>
  <td>Azerbejdżan</td>
  <td>Азербайджан</td>
  <td>azerbajdżan</td>
</tr>
<tr>
  <td>Bahrajn</td>
  <td>Бахрейн</td>
  <td>bachrejn</td>
</tr>
<tr>
  <td>Bangladesz</td>
  <td>Бангладеш</td>
  <td>banhladesz</td>
</tr>
<tr>
  <td>Bhutan</td>
  <td>Бутан</td>
  <td>butan</td>
</tr>
<tr>
  <td>Brunei</td>
  <td>Бруней</td>
  <td>brunej</td>
</tr>
<tr>
  <td>Chiny</td>
  <td>Китай </td>
  <td>kytaj</td>
</tr>
<tr>
  <td>Cypr*</td>
  <td>Кіпр</td>
  <td>kipr</td>
</tr>
<tr>
  <td>Filipiny</td>
  <td>Філіппіни</td>
  <td>filippiny</td>
</tr>
<tr>
  <td>Gruzja*</td>
  <td>Грузія</td>
  <td>hruzija</td>
</tr>
<tr>
  <td>Indie</td>
  <td>Індія</td>
  <td>indija</td>
</tr>
<!--<tr>-->
<!--  <td>Indonezja</td>-->
<!--  <td>Індонезія</td>-->
<!--  <td>indonezija</td>-->
<!--</tr>-->
<!--<tr>-->
<!--  <td>Irak</td>-->
<!--  <td>Ірак</td>-->
<!--  <td>irak</td>-->
<!--</tr>-->
<!--<tr>-->
<!--  <td>Iran</td>-->
<!--  <td>Іран</td>-->
<!--  <td>irak</td>-->
<!--</tr>-->
<!--<tr>-->
<!--  <td>Izrael</td>-->
<!--  <td>Ізраіль</td>-->
<!--  <td>izrail’</td>-->
<!--</tr>-->
<!--<tr>-->
<!--  <td>Japonia</td>-->
<!--  <td>Японія</td>-->
<!--  <td>japonija</td>-->
<!--</tr>-->
<!--<tr>-->
<!--  <td>Jemen</td>-->
<!--  <td>Ємен</td>-->
<!--  <td>jemen</td>-->
<!--</tr>-->
<!--<tr>-->
<!--  <td>Jordania</td>-->
<!--  <td>Йорданія</td>-->
<!--  <td>jordanija</td>-->
<!--</tr>-->
<!--<tr>-->
<!--  <td>Kambodża</td>-->
<!--  <td>Камбоджа</td>-->
<!--  <td>kambodża</td>-->
<!--</tr>-->
<!--<tr>-->
<!--  <td>Katar</td>-->
<!--  <td>Катар</td>-->
<!--  <td>katar</td>-->
<!--</tr>-->
<!--<tr>-->
<!--  <td>Kazachstan</td>-->
<!--  <td>Казахстан</td>-->
<!--  <td>kazachstan</td>-->
<!--</tr>-->
<!--<tr>-->
<!--  <td>Kirgistan</td>-->
<!--  <td>Кіргизстан</td>-->
<!--  <td>kirhyzstan</td>-->
<!--</tr>-->
<!--<tr>-->
<!--  <td>Korea Południowa</td>-->
<!--  <td>Південна Корея</td>-->
<!--  <td>piwdenna koreja</td>-->
<!--</tr>-->
<!--<tr>-->
<!--  <td>Korea Północna</td>-->
<!--  <td>Північна Корея</td>-->
<!--  <td>piwniczna  koreja</td>-->
<!--</tr>-->
<!--<tr>-->
<!--  <td>Kuwejt</td>-->
<!--  <td>Кувейт</td>-->
<!--  <td>kuwejt</td>-->
<!--</tr>-->
<!--<tr>-->
<!--  <td>Laos</td>-->
<!--  <td>Лаос</td>-->
<!--  <td>laos</td>-->
<!--</tr>-->
<!--<tr>-->
<!--  <td>Liban</td>-->
<!--  <td>Ліван</td>-->
<!--  <td>liwan</td>-->
<!--</tr>-->
<!--<tr>-->
<!--  <td>Malediwy</td>-->
<!--  <td>Мальдіви</td>-->
<!--  <td>mal’diwy</td>-->
<!--</tr>-->
<!--<tr>-->
<!--  <td>Malezja</td>-->
<!--  <td>Малайзія</td>-->
<!--  <td>malajzija</td>-->
<!--</tr>-->
<!--<tr>-->
<!--  <td>Mjanma</td>-->
<!--  <td>Мянма</td>-->
<!--  <td>mjanma</td>-->
<!--</tr>-->
<!--<tr>-->
<!--  <td>Mongolia</td>-->
<!--  <td>Монголія</td>-->
<!--  <td>monholija</td>-->
<!--</tr>-->
<!--<tr>-->
<!--  <td>Nepal</td>-->
<!--  <td>Непал</td>-->
<!--  <td>nepal</td>-->
<!--</tr>-->
<!--<tr>-->
<!--  <td>Oman</td>-->
<!--  <td>Оман</td>-->
<!--  <td>oman</td>-->
<!--</tr>-->
<!--<tr>-->
<!--  <td>Pakistan</td>-->
<!--  <td>Пакистан</td>-->
<!--  <td>pakystan</td>-->
<!--</tr>-->
<!--<tr>-->
<!--  <td>Rosja*</td>-->
<!--  <td>Росія</td>-->
<!--  <td>rosija</td>-->
<!--</tr>-->
<!--<tr>-->
<!--  <td>Singapur</td>-->
<!--  <td>Сінгапур</td>-->
<!--  <td>sinhapur</td>-->
<!--</tr>-->
<!--<tr>-->
<!--  <td>Sri Lanka</td>-->
<!--  <td>Шрі-Ланка</td>-->
<!--  <td>szri-lanka</td>-->
<!--</tr>-->
<!--<tr>-->
<!--  <td>Syria</td>-->
<!--  <td>Сирія</td>-->
<!--  <td>syrija</td>-->
<!--</tr>-->
<!--<tr>-->
<!--  <td>Tadżykistan</td>-->
<!--  <td>Таджикистан</td>-->
<!--  <td>tadżykystan</td>-->
<!--</tr>-->
<!--<tr>-->
<!--  <td>Tajlandia</td>-->
<!--  <td>Таïланд</td>-->
<!--  <td>tailand</td>-->
<!--</tr>-->
<!--<tr>-->
<!--  <td>Timor Wschodni</td>-->
<!--  <td>Східний Тимор</td>-->
<!--  <td>schidnyj tymor</td>-->
<!--</tr>-->
<!--<tr>-->
<!--  <td>Turcja*</td>-->
<!--  <td>Туреччина</td>-->
<!--  <td>tureczczyna</td>-->
<!--</tr>-->
<!--<tr>-->
<!--  <td>Turkmenistan</td>-->
<!--  <td>Туркменістан</td>-->
<!--  <td>turkmenistan</td>-->
<!--</tr>-->
<!--<tr>-->
<!--  <td>Uzbekistan</td>-->
<!--  <td>Узбекистан</td>-->
<!--  <td>uzbejystan</td>-->
<!--</tr>-->
<!--<tr>-->
<!--  <td>Wietnam</td>-->
<!--  <td>Вєтнам</td>-->
<!--  <td>wjetnam</td>-->
<!--</tr>-->
<!--<tr>-->
<!--  <td>Zjednoczone Emiraty Arabskie</td>-->
<!--  <td>Об'єднані Арабські Емірати</td>-->
<!--  <td>objednani arabs’ki emiraty</td>-->
<!--</tr>-->
<!--<tr>-->
<!--  <td><b>Afryka</b></td>-->
<!--  <td><b>Африка</b></td>-->
<!--  <td><b>afryka</b></td>-->
<!--</tr>-->
<!--<tr>-->
<!--  <td>Algieria</td>-->
<!--  <td>Алжир</td>-->
<!--  <td>alżyr</td>-->
<!--</tr>-->
<!--<tr>-->
<!--  <td>Angola</td>-->
<!--  <td>Ангола</td>-->
<!--  <td>anhola</td>-->
<!--</tr>-->
<!--<tr>-->
<!--  <td>Benin</td>-->
<!--  <td>Бенін</td>-->
<!--  <td>benin</td>-->
<!--</tr>-->
<!--<tr>-->
<!--  <td>Botswana</td>-->
<!--  <td>Ботсвана</td>-->
<!--  <td>botswana</td>-->
<!--</tr>-->
<!--<tr>-->
<!--  <td>Burkina Faso</td>-->
<!--  <td>Буркіна-Фасо</td>-->
<!--  <td>burkina-faso</td>-->
<!--</tr>-->
<!--<tr>-->
<!--  <td>Burundi</td>-->
<!--  <td>Бурунді</td>-->
<!--  <td>burundi</td>-->
<!--</tr>-->
<!--<tr>-->
<!--  <td>Czad</td>-->
<!--  <td>Чад</td>-->
<!--  <td>czad</td>-->
<!--</tr>-->
<!--<tr>-->
<!--  <td>Dżibuti</td>-->
<!--  <td>Джібуті</td>-->
<!--  <td>dżibuti</td>-->
<!--</tr>-->
<!--<tr>-->
<!--  <td>Egipt</td>-->
<!--  <td>Єгипет</td>-->
<!--  <td>jehypet</td>-->
<!--</tr>-->
<!--<tr>-->
<!--  <td>Erytrea</td>-->
<!--  <td>Еритрея</td>-->
<!--  <td>erytreja</td>-->
<!--</tr>-->
<!--<tr>-->
<!--  <td>Eswatini</td>-->
<!--  <td>Есватіні</td>-->
<!--  <td>eswatini</td>-->
<!--</tr>-->
<!--<tr>-->
<!--  <td>Etiopia</td>-->
<!--  <td>Ефіопія</td>-->
<!--  <td>efiopija</td>-->
<!--</tr>-->
<!--<tr>-->
<!--  <td>Gabon</td>-->
<!--  <td>Габон</td>-->
<!--  <td>habon</td>-->
<!--</tr>-->
<!--<tr>-->
<!--  <td>Gambia</td>-->
<!--  <td>Гамбія</td>-->
<!--  <td>hambija</td>-->
<!--</tr>-->
<!--<tr>-->
<!--  <td>Ghana</td>-->
<!--  <td>Гана</td>-->
<!--  <td>hana</td>-->
<!--</tr>-->
<!--<tr>-->
<!--  <td>Gwinea</td>-->
<!--  <td>Гвінея</td>-->
<!--  <td>hwineja</td>-->
<!--</tr>-->
<!--<tr>-->
<!--  <td>Gwinea Bissau</td>-->
<!--  <td>Гвінея-Бісау</td>-->
<!--  <td>hwineja-bisau</td>-->
<!--</tr>-->
<!--<tr>-->
<!--  <td>Gwinea Równikowa</td>-->
<!--  <td>Екваторіальна Гвінея</td>-->
<!--  <td>ekwatorial’na hwineja</td>-->
<!--</tr>-->
<!--<tr>-->
<!--  <td>Kamerun</td>-->
<!--  <td>Камерун</td>-->
<!--  <td>kamerun</td>-->
<!--</tr>-->
<!--<tr>-->
<!--  <td>Kenia</td>-->
<!--  <td>Кенія</td>-->
<!--  <td>kenija</td>-->
<!--</tr>-->
<!--<tr>-->
<!--  <td>Komory</td>-->
<!--  <td>Комори</td>-->
<!--  <td>komory </td>-->
<!--</tr>-->
<!--<tr>-->
<!--  <td>Kongo</td>-->
<!--  <td>Koнго</td>-->
<!--  <td>konho</td>-->
<!--</tr>-->
<!--<tr>-->
<!--  <td>Lesotho</td>-->
<!--  <td>Лесото</td>-->
<!--  <td>lesoto</td>-->
<!--</tr>-->
<!--<tr>-->
<!--  <td>Liberia</td>-->
<!--  <td>Ліберія</td>-->
<!--  <td>liberija</td>-->
<!--</tr>-->
<!--<tr>-->
<!--  <td>Libia</td>-->
<!--  <td>Лівія</td>-->
<!--  <td>liwija</td>-->
<!--</tr>-->
<!--<tr>-->
<!--  <td>Madagaskar</td>-->
<!--  <td>Мадагаскар</td>-->
<!--  <td>madahaskar</td>-->
<!--</tr>-->
<!--<tr>-->
<!--  <td>Malawi</td>-->
<!--  <td>Малаві</td>-->
<!--  <td>malawi</td>-->
<!--</tr>-->
<!--<tr>-->
<!--  <td>Mali</td>-->
<!--  <td>Малі</td>-->
<!--  <td>mali</td>-->
<!--</tr>-->
<!--<tr>-->
<!--  <td>Maroko</td>-->
<!--  <td>Марокко</td>-->
<!--  <td>marokko</td>-->
<!--</tr>-->
<!--<tr>-->
<!--  <td>Mauretania</td>-->
<!--  <td>Мавританія</td>-->
<!--  <td>mawrytanija</td>-->
<!--</tr>-->
<!--<tr>-->
<!--  <td><b>Ameryka Południowa</b></td>-->
<!--  <td><b>Південна Америка</b></td>-->
<!--  <td><b>piwdenna ameryka</b></td>-->
<!--</tr>-->
<!--<tr>-->
<!--  <td>Argentyna</td>-->
<!--  <td>Аргентина</td>-->
<!--  <td>arhentyna</td>-->
<!--</tr>-->
<!--<tr>-->
<!--  <td>Boliwia</td>-->
<!--  <td>Болівія</td>-->
<!--  <td>boliwija</td>-->
<!--</tr>-->
<!--<tr>-->
<!--  <td>Brazylia</td>-->
<!--  <td> Бразилія</td>-->
<!--  <td>brazylija</td>-->
<!--</tr>-->
<!--<tr>-->
<!--  <td>Chile</td>-->
<!--  <td>Чилі</td>-->
<!--  <td>czyli</td>-->
<!--</tr>-->
<!--<tr>-->
<!--  <td>Ekwador</td>-->
<!--  <td>Еквадор</td>-->
<!--  <td>ekwador</td>-->
<!--</tr>-->
<!--<tr>-->
<!--  <td>Gujana</td>-->
<!--  <td>Гаяна</td>-->
<!--  <td>hajana</td>-->
<!--</tr>-->
<!--<tr>-->
<!--  <td>Kolumbia</td>-->
<!--  <td>Колумбія</td>-->
<!--  <td>kolumbija</td>-->
<!--</tr>-->
<!--<tr>-->
<!--  <td>Paragwaj</td>-->
<!--  <td>Парагвай</td>-->
<!--  <td>parahwaj</td>-->
<!--</tr>-->
<!--<tr>-->
<!--  <td>Peru</td>-->
<!--  <td>Перу</td>-->
<!--  <td>peru</td>-->
<!--</tr>-->
<!--<tr>-->
<!--  <td>Surinam</td>-->
<!--  <td>Сиринам</td>-->
<!--  <td>syrynam</td>-->
<!--</tr>-->
<!--<tr>-->
<!--  <td>Trynidad i Tabago</td>-->
<!--  <td>Тринідад і Табаго</td>-->
<!--  <td>teynidad i tabaho</td>-->
<!--</tr>-->
<!--<tr>-->
<!--  <td>Urugwaj</td>-->
<!--  <td>Уругвай</td>-->
<!--  <td>uruhwaj</td>-->
<!--</tr>-->
<!--<tr>-->
<!--  <td>Wenezuela</td>-->
<!--  <td>Венесуела</td>-->
<!--  <td>wenesuela</td>-->
<!--</tr>-->
<!--<tr>-->
<!--  <td><b>Ameryka Północna</b></td>-->
<!--  <td><b>Північна Америка</b></td>-->
<!--  <td><b>piwniczna ameryka</b></td>-->
<!--</tr>-->
<!--<tr>-->
<!--  <td>Bahamy</td>-->
<!--  <td>Багамські Острови</td>-->
<!--  <td>bahams’ki ostrowy</td>-->
<!--</tr>-->
<!--<tr>-->
<!--  <td>Barbados</td>-->
<!--  <td>Барбадос</td>-->
<!--  <td>barbados</td>-->
<!--</tr>-->
<!--<tr>-->
<!--  <td>Belize</td>-->
<!--  <td>Беліз</td>-->
<!--  <td>beliz</td>-->
<!--</tr>-->
<!--<tr>-->
<!--  <td>Dominika</td>-->
<!--  <td>Домініка</td>-->
<!--  <td>dominika</td>-->
<!--</tr>-->
<!--<tr>-->
<!--  <td>Dominikana</td>-->
<!--  <td>Домініканська республіка</td>-->
<!--  <td>dominikans’ka respublika</td>-->
<!--</tr>-->
<!--<tr>-->
<!--  <td>Grenada</td>-->
<!--  <td>Гренада</td>-->
<!--  <td>hrenada</td>-->
<!--</tr>-->
<!--<tr>-->
<!--  <td>Gwatemala</td>-->
<!--  <td>Гватемала</td>-->
<!--  <td>hwatemala</td>-->
<!--</tr>-->
<!--<tr>-->
<!--  <td>Haiti</td>-->
<!--  <td>Гаïті</td>-->
<!--  <td>hajiti</td>-->
<!--</tr>-->
<!--<tr>-->
<!--  <td>Honduras</td>-->
<!--  <td>Гонфурас</td>-->
<!--  <td>honfuras</td>-->
<!--</tr>-->
<!--<tr>-->
<!--  <td>Jamajka</td>-->
<!--  <td>Ямайка</td>-->
<!--  <td>jamajka</td>-->
<!--</tr>-->
<!--<tr>-->
<!--  <td>Kanada</td>-->
<!--  <td>Канада</td>-->
<!--  <td>kanada</td>-->
<!--</tr>-->
<!--<tr>-->
<!--  <td>Kostaryka</td>-->
<!--  <td>Коста-Рика</td>-->
<!--  <td>kosta-ryka</td>-->
<!--</tr>-->
<!--<tr>-->
<!--  <td>Kuba</td>-->
<!--  <td>Куба</td>-->
<!--  <td>kuba</td>-->
<!--</tr>-->
<!--<tr>-->
<!--  <td>Meksyk</td>-->
<!--  <td>Мексика</td>-->
<!--  <td>meksyka</td>-->
<!--</tr>-->
<!--<tr>-->
<!--  <td>Nikaragua</td>-->
<!--  <td>Нікарагуа</td>-->
<!--  <td>nikarahua</td>-->
<!--</tr>-->
<!--<tr>-->
<!--  <td>Panama</td>-->
<!--  <td>Панама</td>-->
<!--  <td>panama</td>-->
<!--</tr>-->
  <!--<tr>-->
  <!--  <td>Saint Kitts i Nevis</td>-->
  <!--  <td>Сент-Кіттс і Невіс</td>-->
  <!--  <td>sent-kitts i newis</td>-->
  <!--</tr>-->
  <!--<tr>-->
  <!--  <td>Saint Lucia</td>-->
  <!--  <td>Сент-Люсія</td>-->
  <!--  <td>sent-liusija</td>-->
  <!--</tr>-->
  <!--<tr>-->
  <!--  <td>Saint Vincent i Grenadyny</td>-->
  <!--  <td>Сент-Вінсент і Гренадини</td>-->
  <!--  <td>sent-winsent i hrenadyn</td>-->
  <!--</tr>-->
  <!--<tr>-->
  <!--  <td>Salwador</td>-->
  <!--  <td>Сальвадор</td>-->
  <!--  <td>sal’wador</td>-->
  <!--</tr>-->
  <!--<tr>-->
  <!--  <td>Stany Zjednoczone Ameryki</td>-->
  <!--  <td>Сполучені Штати Америки</td>-->
  <!--  <td>spoluczeni sztaty ameryky</td>-->
  <!--</tr>-->
  <!--<tr>-->
  <!--  <td><b>Australia i Oceania</b></td>-->
  <!--  <td><b>Австралія i Океанія</b></td>-->
  <!--  <td><b>awstralija i okeanija</b></td>-->
  <!--</tr>-->
<!--<tr>-->
<!--  <td>Australia</td>-->
<!--  <td>Австралія</td>-->
<!--  <td>awstralija</td>-->
<!--</tr>-->
<!--<tr>-->
<!--  <td>Fidżi</td>-->
<!--  <td>Фіджі</td>-->
<!--  <td>Fidżi</td>-->
<!--</tr>-->
<!--<tr>-->
<!--  <td>Kiribati</td>-->
<!--  <td>Кірибаті</td>-->
<!--  <td>kirybati</td>-->
<!--</tr>-->
<!--<tr>-->
<!--  <td>Mikronezja</td>-->
<!--  <td>Мікронезія</td>-->
<!--  <td>mikronezija</td>-->
<!--</tr>-->
<!--<tr>-->
<!--  <td>Nowa Zelandia</td>-->
<!--  <td>Нова Зеландія</td>-->
<!--  <td>nowa zelandija</td>-->
<!--</tr>-->
<!--<tr>-->
<!--  <td>Nauru</td>-->
<!--  <td>Науру</td>-->
<!--  <td>nauru</td>-->
<!--</tr>-->
<!--<tr>-->
<!--  <td>Palau</td>-->
<!--  <td>Палау</td>-->
<!--  <td>palau</td>-->
<!--</tr>-->
<!--<tr>-->
<!--  <td>Papua Nowa Gwinea</td>-->
<!--  <td>Папуа Нова Гвінея</td>-->
<!--  <td>papua nowa hwineja</td>-->
<!--</tr>-->
<!--<tr>-->
<!--  <td>Samoa</td>-->
<!--  <td>Самоа</td>-->
<!--  <td>samoa</td>-->
<!--</tr>-->
<!--<tr>-->
<!--  <td>Tonga</td>-->
<!--  <td>Тонга</td>-->
<!--  <td>tonha</td>-->
<!--</tr>-->
<!--<tr>-->
<!--  <td>Tuvalu</td>-->
<!--  <td>Тувалу</td>-->
<!--  <td>tuwalu</td>-->
<!--</tr>-->
<!--<tr>-->
<!--  <td>Vanuatu</td>-->
<!--  <td>Вануату</td>-->
<!--  <td>wanuatu</td>-->
<!--</tr>-->
<!--<tr>-->
<!--  <td>Wyspy Marshalla</td>-->
<!--  <td>Маршаллові Острови</td>-->
<!--  <td>marszallowi ostrowy</td>-->
<!--</tr>-->
<!--<tr>-->
<!--  <td>Wyspy Salomona</td>-->
<!--  <td>Соломонові Острови</td>-->
<!--  <td>solomonowi ostrowy</td>-->
<!--</tr>-->