<tr>
  <td>Afryka</td>
  <td>Африка</td>
  <td>afryka</td>
</tr>
<tr>
  <td>Ameryka Południowa </td>
  <td>Південна Америка</td>
  <td>piwdenna ameryka</td>
</tr>
<tr>
  <td>Ameryka Północna</td>
  <td>Північна Америка</td>
  <td>piwniczna ameryka</td>
</tr>
<tr>
  <td>Azja</td>
  <td>Азія</td>
  <td>azija</td>
</tr>
<tr>
  <td>Antarktyda</td>
  <td>Антарктида</td>
  <td>antarktyda</td>
</tr>
<tr>
  <td>Australia</td>
  <td>Австралія</td>
  <td>awstralija</td>
</tr>
<tr>
  <td>Europa</td>
  <td>Європа</td>
  <td>jewropa</td>
</tr>