<tr>
  <td>Jowisz</td>
  <td>Юпітер</td>
  <td>jupier</td>
  <td>5</td>
</tr>
<tr>
  <td>Mars</td>
  <td>Марс</td>
  <td>mars</td>
  <td>4</td>
</tr>
<tr>
  <td>Merkury</td>
  <td>Меркурій</td>
  <td>merkurij</td>
  <td>1</td>
</tr>
<tr>
  <td>Neptun</td>
  <td>Нептун</td>
  <td>neptun</td>
  <td>8</td>
</tr>
<tr>
  <td>Saturn</td>
  <td>Сатурн</td>
  <td>saturn</td>
  <td>6</td>
</tr>
<tr>
  <td>Uran</td>
  <td>Уран</td>
  <td>uran</td>
  <td>7</td>
</tr>
<tr>
  <td>Wenus</td>
  <td>Венус</td>
  <td>wenus</td>
  <td>2</td>
</tr>
<tr>
  <td>Ziemia</td>
  <td>Земля</td>
  <td>zemlіa</td>
  <td>3</td>
</tr>
