<tr>
  <td>bezwładność</td>
  <td>інерція</td>
  <td>inercija</td>
</tr>
<tr>
  <td>ciało fizyczne</td>
  <td>фізичне тіло</td>
  <td>fizyczne tilo</td>
</tr>
<tr>
  <td>druga</td>
  <td>друга</td>
  <td>druha</td>
</tr>
<tr>
  <td>oddziaływać na</td>
  <td>впливати на</td>
  <td>wplywaty na</td>
</tr>
<tr>
  <td>opór ruchu</td>
  <td>опір руху</td>
  <td>opir ruchu</td>
</tr>
<tr>
  <td>pierwsza</td>
  <td>перша</td>
  <td>persza</td>
</tr>
<tr>
  <td>swobodne spadanie ciał</td>
  <td>вільне падіння</td>
  <td>wil’ne padinnia</td>
</tr>
<tr>
  <td>trzecia</td>
  <td>третя</td>
  <td>tretia</td>
</tr>
<tr>
  <td>zasada dynamiki Newtona</td>
  <td>закон Ньютона</td>
  <td>zakon niutona</td>
</tr>
<tr>
  <td>zjawisko odrzutu</td>
  <td>явище реактивного&nbsp;&nbsp;&nbsp;руху</td>
  <td>jawyszcze&nbsp;&nbsp;&nbsp;reaktywnoho ruchu</td>
</tr>
