<tr>
  <td>atmosferyczny</td>
  <td>атмосферний</td>
  <td>atmosfernyj</td>
</tr>
<tr>
  <td>ciśnienie</td>
  <td>тиск</td>
  <td>tysk</td>
</tr>
<tr>
  <td>czynnik</td>
  <td>чинник</td>
  <td>czynnyk</td>
</tr>
<tr>
  <td>hydrostatyczny</td>
  <td>гідростатичний</td>
  <td>hidrostatycznyj</td>
</tr>
<tr>
  <td>kierunek</td>
  <td>напрямок</td>
  <td>napriamok</td>
</tr>
<tr>
  <td>naciskać na</td>
  <td>натискати на</td>
  <td>natyskaty na</td>
</tr>
<tr>
  <td>objętość</td>
  <td>об'єм</td>
  <td>obiem</td>
</tr>
<tr>
  <td>opór elektryczny</td>
  <td>eлектричний опір</td>
  <td>elektrycznyj opir</td>
</tr>
<tr>
  <td>parcie</td>
  <td>зусилля</td>
  <td>zusyllia</td>
</tr>
<tr>
  <td>pływanie ciał</td>
  <td>плавання тiл</td>
  <td>plawannia til</td>
</tr>
<tr>
  <td>prawo Archimedesa</td>
  <td>Закон Архімеда</td>
  <td>zakon archimeda</td>
</tr>
<tr>
  <td>prawo Pascala</td>
  <td>Закон Паскаля</td>
  <td>zakon paskalia</td>
</tr>
<tr>
  <td>prostopadle do podłoża</td>
  <td>перпендикулярно до&nbsp;&nbsp;&nbsp;поверхні</td>
  <td>perpendykuliarno do&nbsp;&nbsp;&nbsp;powerchni</td>
</tr>
<tr>
  <td>siła nacisku</td>
  <td>сила тиску</td>
  <td>syla tysku</td>
</tr>
<tr>
  <td>wewnątrz</td>
  <td>усередині</td>
  <td>useredyni</td>
</tr>
<tr>
  <td>wynik</td>
  <td>результат</td>
  <td>rezul’tat</td>
</tr>
<tr>
  <td>wywierać parcie</td>
  <td>чинити тиск</td>
  <td>czynyty tysk</td>
</tr>
<tr>
  <td>zewnątrz</td>
  <td>ззовні</td>
  <td>zzowni</td>
</tr>