<tr>
  <td>analiza wykresu</td>
  <td>аналіз діаграми</td>
  <td>analiz diahramy</td>
</tr>
<tr>
  <td>badanie ruchu</td>
  <td>дослідження руху</td>
  <td>doslidżennja ruchu</td>
</tr>
<tr>
  <td>pęd</td>
  <td>iмпульс</td>
  <td>impuls</td>
</tr>
<tr>
  <td>poruszać się</td>
  <td>рухатися</td>
  <td>ruchatysja</td>
</tr>
<tr>
  <td>przyspieszenie</td>
  <td>прискорення</td>
  <td>pryskorennja</td>
</tr>
<tr>
  <td>ruch</td>
  <td>рух</td>
  <td>ruch</td>
</tr>
<tr>
  <td>ruch jednostajnie przyspieszony</td>
  <td>pівноприскорений рух</td>
  <td>riwnopryskorenyj&nbsp;&nbsp;&nbsp;ruch</td>
</tr>
<tr>
  <td>ruch jednostajny</td>
  <td>рівномірний рух</td>
  <td>riwnomirnyj ruch</td>
</tr>
<tr>
  <td>ruch prostoliniowy</td>
  <td>прямолінійний рух</td>
  <td>priamolinijnyj ruch</td>
</tr>
<tr>
  <td>ruch zmienny</td>
  <td>змінний рух</td>
  <td>zminnyj ruch</td>
</tr>
<tr>
  <td>względność ruchu</td>
  <td>відносність руху</td>
  <td>widnosnist’ ruchu</td>
</tr>