<tr>
  <td>ciało stałe</td>
  <td>тверде тіло</td>
  <td>twerde tilo</td>
</tr>
<tr>
  <td>ciecz</td>
  <td>рiдина</td>
  <td>ridyna</td>
</tr>
<tr>
  <td>czas</td>
  <td>час</td>
  <td>czas</td>
</tr>
<tr>
  <td>droga</td>
  <td>шлях</td>
  <td>szljah</td>
</tr>
<tr>
  <td>energia</td>
  <td>енергія</td>
  <td>еnerhija</td>
</tr>
<tr>
  <td>gaz</td>
  <td>газ</td>
  <td>haz</td>
</tr>
<tr>
  <td>gęstość</td>
  <td>щільність</td>
  <td>szczilnist’</td>
</tr>
<tr>
  <td>masa</td>
  <td>маса</td>
  <td>masa</td>
</tr>
<tr>
  <td>napięcie elektryczne</td>
  <td>eлектрична напруга</td>
  <td>elektryczna napruha</td>
</tr>
<tr>
  <td>natężenie prądu</td>
  <td>cила струму</td>
  <td>sila strumu</td>
</tr>
<tr>
  <td>obiekt</td>
  <td>об'єкт</td>
  <td>objekt</td>
</tr>
<tr>
  <td>powierzchnia</td>
  <td>поверхня</td>
  <td>powerchnja</td>
</tr>
<tr>
  <td>prędkość</td>
  <td>швидкiсть</td>
  <td>szwydkist’</td>
</tr>
<tr>
  <td>siła</td>
  <td>cила</td>
  <td>syla</td>
</tr>
<tr>
  <td>stała</td>
  <td>стала (константа)</td>
  <td>stala (konstanta)</td>
</tr>
<tr>
  <td>stan</td>
  <td>стан</td>
  <td>stan</td>
</tr>
<tr>
  <td>wykres</td>
  <td>графік</td>
  <td>grafik</td>
</tr>
<tr>
  <td>wzór</td>
  <td>формула</td>
  <td>formula</td>
</tr>
<tr>
  <td>zmienna</td>
  <td>змінна</td>
  <td>zminna</td>
</tr>
