<tr>
  <td>częstotliwość</td>
  <td>Частота</td>
  <td>czastota</td>
</tr>
<tr>
  <td>długość fali</td>
  <td>довжина хвилі</td>
  <td>dowżyna hwyli</td>
</tr>
<tr>
  <td>energia</td>
  <td>енергія</td>
  <td>enerhija</td>
</tr>
<tr>
  <td>energia kinetyczna</td>
  <td>кінетична енергія</td>
  <td>kinetyczna enerhija</td>
</tr>
<tr>
  <td>energia mechaniczna</td>
  <td>механічна енергія</td>
  <td>mechaniczna enerhija</td>
</tr>
<tr>
  <td>energia potencjalna</td>
  <td>потенціальна енергія</td>
  <td>potencial’na&nbsp;enerhija</td>
</tr>
<tr>
  <td>grawitacja</td>
  <td>гравітація</td>
  <td>hrawitacija</td>
</tr>
<tr>
  <td>jednostki mocy</td>
  <td>одиниця вимірювання&nbsp;потужності</td>
  <td>odynycia&nbsp;wymiriuwannia potużnosti</td>
</tr>
<tr>
  <td>moc</td>
  <td>потужність</td>
  <td>potużnist’</td>
</tr>
<tr>
  <td>praca</td>
  <td>робота</td>
  <td>robota</td>
</tr>
<tr>
  <td>sprężystość</td>
  <td>пружність</td>
  <td>prużnist’</td>
</tr>
<tr>
  <td>zasada zachowania energii</td>
  <td>закон збереження&nbsp;енергії</td>
  <td>zakon zbereżennia&nbsp;enerhiji</td>
</tr>
