<tr>
  <td>ciepło właściwe</td>
  <td>питома&nbsp;теплоємність</td>
  <td>pytoma&nbsp;teplojemnist’</td>
</tr>
<tr>
  <td>energia wewnętrzna</td>
  <td>внутрішня&nbsp;енергія</td>
  <td>wnutrisznia&nbsp;enerhija</td>
</tr>
<tr>
  <td>energia zewnętrzna</td>
  <td>зовнішня&nbsp;енергія</td>
  <td>zownisznia&nbsp;enerhija</td>
</tr>
<tr>
  <td>krzepnięcie</td>
  <td>замерзання</td>
  <td>zamerzannia</td>
</tr>
<tr>
  <td>parowanie</td>
  <td>парування</td>
  <td>paruwannia</td>
</tr>
<tr>
  <td>przekazywanie ciepła</td>
  <td>передача&nbsp;тепла</td>
  <td>peredacza&nbsp;tepla</td>
</tr>
<tr>
  <td>przepływ ciepła</td>
  <td>потік&nbsp;тепла</td>
  <td>potik&nbsp;tepla</td>
</tr>
<tr>
  <td>resublimacja</td>
  <td>деcубліма́ція</td>
  <td>desublimacija</td>
</tr>
<tr>
  <td>skraplanie</td>
  <td>конденсація</td>
  <td>kondensacija</td>
</tr>
<tr>
  <td>sublimacja</td>
  <td>cубліма́ція</td>
  <td>sublimacija</td>
</tr>
<tr>
  <td>temperatura</td>
  <td>температура</td>
  <td>temperatura</td>
</tr>
<tr>
  <td>topnienie</td>
  <td>плавлення</td>
  <td>plawlennia</td>
</tr>
<tr>
  <td>w wyniku pracy</td>
  <td>в&nbsp;результаті роботи</td>
  <td>w&nbsp;rezul’tati roboty</td>
</tr>
<tr>
  <td>zmiana energii</td>
  <td>зміна&nbsp;енергії</td>
  <td>zmina&nbsp;enerhiji</td>
</tr>
<tr>
  <td>zmiana stanu skupienia</td>
  <td>зміна&nbsp;фізичного стану</td>
  <td>zmina&nbsp;fizycznoho stanu</td>
</tr>
