<tr>
  <td>atom</td>
  <td>атом</td>
  <td>atom</td>
</tr>
<tr>
  <td>cząsteczka</td>
  <td>молекула/частинка</td>
  <td>molekuła/czastynka</td>
</tr>
<tr>
  <td>ładunek elektryczny</td>
  <td>eлектричний заряд</td>
  <td>elektrycznyj zarjad</td>
</tr>
<tr>
  <td>napięcie</td>
  <td>напруга</td>
  <td>napruga</td>
</tr>
<tr>
  <td>natężenie prądu</td>
  <td>сила струму</td>
  <td>syla strumu</td>
</tr>
<tr>
  <td>oddziaływanie</td>
  <td>взаємодія</td>
  <td>wzajemodija</td>
</tr>
<tr>
  <td>powodować</td>
  <td>спричиняти</td>
  <td>spryczyniaty</td>
</tr>
<tr>
  <td>siła ciężkości</td>
  <td>силa тяжіння </td>
  <td>sylaa tiażinnia</td>
</tr>
<tr>
  <td>wpłynąć na</td>
  <td>впливати на</td>
  <td>wpływaty na</td>
</tr>
<tr>
  <td>złożony z</td>
  <td>складений з</td>
  <td>składenyj z</td>
</tr>
