<tr>
  <td>alkany</td>
  <td>алкани</td>
  <td>alkany</td>
</tr>
<tr>
  <td>alkeny</td>
  <td>алкени</td>
  <td>alkeny</td>
</tr>
<tr>
  <td>alkiny</td>
  <td>алкіни</td>
  <td>alkiny</td>
</tr>
<tr>
  <td>aldehyd</td>
  <td>альдегид</td>
  <td>al’dehyd</td>
</tr>
<tr>
  <td>grupa aldehydowa</td>
  <td>альдегідна група</td>
  <td>al’dehidna hrupa</td>
</tr>
<tr>
  <td>aminy</td>
  <td>аміни</td>
  <td>aminy</td>
</tr>
<tr>
  <td>grupa aminowa</td>
  <td>аміногрупа</td>
  <td>aminohrupa</td>
</tr>
<tr>
  <td>aminokwasy</td>
  <td>амінокислоти</td>
  <td>aminokysloty</td>
</tr>
<tr>
  <td>amfoteryczność</td>
  <td>амфотерність</td>
  <td>amfoternist’</td>
</tr>
<tr>
  <td>aromatyczne&nbsp;węglowodory</td>
  <td>ароматичні вуглеводні</td>
  <td>aromatyczni wuhlewodni</td>
</tr>
<tr>
  <td>białka</td>
  <td>білки</td>
  <td>bilky</td>
</tr>
<tr>
  <td>reakcja biuretowa</td>
  <td>біуретова реакція</td>
  <td>biuretowa reakcija</td>
</tr>
<tr>
  <td>związki&nbsp;wielkocząsteczkowe</td>
  <td>високомолекулярні сполуки</td>
  <td>wysokomolekuliarni spoluky</td>
</tr>
<tr>
  <td>wyższe kwasy&nbsp;karboksylowe</td>
  <td>вищі карбонові кислоти</td>
  <td>wyszczi karbonowi kysloty</td>
</tr>
<tr>
  <td>wyższe alkohole</td>
  <td>вищі спирти</td>
  <td>wyszczi spyrty</td>
</tr>
<tr>
  <td>witaminy</td>
  <td>вітаміни</td>
  <td>witaminy</td>
</tr>
<tr>
  <td>wiązanie wodorowe</td>
  <td>водневий зв’язок</td>
  <td>wodnewyj zwjazok</td>
</tr>
<tr>
  <td>struktura</td>
  <td>структура</td>
  <td>struktura</td>
</tr>
<tr>
  <td>DNA</td>
  <td>ДНК</td>
  <td>DNK</td>
</tr>
<tr>
  <td>RNA</td>
  <td>РНК</td>
  <td>RNK</td>
</tr>
<tr>
  <td>węglowodany</td>
  <td>вуглеводи</td>
  <td>wuhlewody</td>
</tr>
<tr>
  <td>węglowodory</td>
  <td>вуглеводні</td>
  <td>wuhlewodni</td>
</tr>
<tr>
  <td>izomeria cis-trans</td>
  <td>цис-транс ізомерія</td>
  <td>cys-trans izomerija</td>
</tr>
<tr>
  <td>hydroliza</td>
  <td>гідроліз</td>
  <td>hidroliz</td>
</tr>
<tr>
  <td>denaturacja białka</td>
  <td>денатурація білка</td>
  <td>deneturacija bilka</td>
</tr>
<tr>
  <td>disacharydy</td>
  <td>дисахариди</td>
  <td>dysacharydy</td>
</tr>
<tr>
  <td>długość wiązania</td>
  <td>довжина зв’язку</td>
  <td>dowżyna zbjazku</td>
</tr>
<tr>
  <td>donor</td>
  <td>донор</td>
  <td>donor</td>
</tr>
<tr>
  <td>akceptor</td>
  <td>акцептор</td>
  <td>akceptor</td>
</tr>
<tr>
  <td>estery</td>
  <td>естери</td>
  <td>estery</td>
</tr>
<tr>
  <td>etery</td>
  <td>етери</td>
  <td>etery</td>
</tr>
<tr>
  <td>tłuszcze</td>
  <td>жири</td>
  <td>żyry</td>
</tr>
<tr>
  <td>izomer</td>
  <td>ізомер</td>
  <td>izomer</td>
</tr>
<tr>
  <td>grupa karboksylowa</td>
  <td>карбоксильна група</td>
  <td>karboksyl’na hrupa</td>
</tr>
<tr>
  <td>grupa ketonowa</td>
  <td>карбонільна (кетонна) група</td>
  <td>karbanil’na (ketonna) hrupa</td>
</tr>
<tr>
  <td>kwasy karboksylowe</td>
  <td>карбонові кислоти</td>
  <td>karbonowi kysloty</td>
</tr>
<tr>
  <td>kauczuk</td>
  <td>каучук</td>
  <td>kauczuk</td>
</tr>
<tr>
  <td>guma</td>
  <td>гума</td>
  <td>huma</td>
</tr>
<tr>
  <td>wiązanie&nbsp;kowalencyjne</td>
  <td>ковалентний зв’язок</td>
  <td>kowalentnyj zwiazok</td>
</tr>
<tr>
  <td>kraking</td>
  <td>крекінг</td>
  <td>krekinh</td>
</tr>
<tr>
  <td>monomer</td>
  <td>мономер</td>
  <td>monomer</td>
</tr>
<tr>
  <td>węglowodory&nbsp;nasycone</td>
  <td>насичені вуглеводні</td>
  <td>nasyczeni wuhlewodni</td>
</tr>
<tr>
  <td>niezbędne alfa-aminokwasy</td>
  <td>незамінні альфа-амінокислоти</td>
  <td>nezaminni al’fa-aminokysloty</td>
</tr>
<tr>
  <td>węglowodory&nbsp;nienasycone</td>
  <td>ненасичені вуглеводні</td>
  <td>nenasyczeni wuhlewodni</td>
</tr>
<tr>
  <td>kwasy nukleinowe</td>
  <td>нуклеїнові кислоти</td>
  <td>nukleijnowi kysloty</td>
</tr>
<tr>
  <td>nuklid</td>
  <td>нуклід</td>
  <td>nuklid</td>
</tr>
<tr>
  <td>liczba oktanowa</td>
  <td>октанове число</td>
  <td>oktanowe czyslo</td>
</tr>
<tr>
  <td>peptyd</td>
  <td>пептид</td>
  <td>peptyd</td>
</tr>
<tr>
  <td>surfaktanty</td>
  <td>поверхнево-активні речовини ПАР</td>
  <td>powerchnewo-aktywni reczowyny PAR </td>
</tr>
<tr>
  <td>wiązanie podwójne</td>
  <td>подвійний зв’язок</td>
  <td>podwijnyj zwiazok</td>
</tr>
<tr>
  <td>polimer</td>
  <td>полімер</td>
  <td>polimer</td>
</tr>
<tr>
  <td>polisacharydy</td>
  <td>полісахариди</td>
  <td>polisacharydy</td>
</tr>
<tr>
  <td>wiązanie polarne</td>
  <td>полярний зв’язок</td>
  <td>poliarnyj zwiazok</td>
</tr>
<tr>
  <td>wiązanie potrójne</td>
  <td>потрійний зв’язок</td>
  <td>potrijnyj zwiazok</td>
</tr>
<tr>
  <td>rodnik</td>
  <td>радикал</td>
  <td>radykal</td>
</tr>
<tr>
  <td>uwodornienie</td>
  <td>гідрування</td>
  <td>hidruwannia</td>
</tr>
<tr>
  <td>hydratacja</td>
  <td>гідратація</td>
  <td>hidratacija</td>
</tr>
<tr>
  <td>dyhydratacja</td>
  <td>дегідратація</td>
  <td>dehidratacija</td>
</tr>
<tr>
  <td>odwodornienie</td>
  <td>дегідрування</td>
  <td>dehidruwannia</td>
</tr>
<tr>
  <td>halogenowanie</td>
  <td>галогенування</td>
  <td>halokenuwannia</td>
</tr>
<tr>
  <td>estryfikacja</td>
  <td>естерифікація</td>
  <td>esteryfikacija</td>
</tr>
<tr>
  <td>nitrowanie</td>
  <td>нітрування</td>
  <td>nitruwannia</td>
</tr>
<tr>
  <td>polikondensacja</td>
  <td>поліконденсація</td>
  <td>polikondensacija</td>
</tr>
<tr>
  <td>polimeryzacja</td>
  <td>полімеризація</td>
  <td>polimeryzacija</td>
</tr>
<tr>
  <td>grupa fenylowa</td>
  <td>феніл</td>
  <td>fenil</td>
</tr>
<tr>
  <td>fenol</td>
  <td>фунол</td>
  <td>funol</td>
</tr>
<tr>
  <td>fermentacja</td>
  <td>фермент</td>
  <td>ferment</td>
</tr>
<tr>
  <td>frakcja</td>
  <td>фракція</td>
  <td>frakcija</td>
</tr>
<tr>
  <td>grupa&nbsp;charakterystyczna</td>
  <td>функціональна (характеристична) група</td>
  <td>funkcional’na (charakterystyczna) hrupa</td>
</tr>
<tr>
  <td>cykloalkany</td>
  <td>циклоалкани</td>
  <td>cykloalkany</td>
</tr>
<tr>
  <td>reakcja jakościowa</td>
  <td>якісна реакція</td>
  <td> jakisna&nbsp;reakcija</td>
</tr>
