<tr>
  <td>aktynowce</td>
  <td>актиноїди</td>
  <td>aktynojidy</td>
</tr>
<tr>
  <td>alkaliczny/zasadowy</td>
  <td>лужний </td>
  <td>lużnyj</td>
</tr>
<tr>
  <td>aniony</td>
  <td>аніон</td>
  <td>anion</td>
</tr>
<tr>
  <td>atom</td>
  <td>атом</td>
  <td>atom</td>
</tr>
<tr>
  <td>cząsteczka </td>
  <td>молекула</td>
  <td>molekula</td>
</tr>
<tr>
  <td>cząsteczka</td>
  <td>частинка</td>
  <td>czastynka</td>
</tr>
<tr>
  <td>doświadczenie</td>
  <td>дослід</td>
  <td>doslid</td>
</tr>
<tr>
  <td>doświadczenie&&nbsp;chemiczne</td>
  <td>хімічний дослід</td>
  <td>chimicznyj doslid</td>
</tr>
<tr>
  <td>ester</td>
  <td>естер</td>
  <td>ester</td>
</tr>
<tr>
  <td>eter</td>
  <td>етер/ефір</td>
  <td>eter/efir</td>
</tr>
<tr>
  <td>fenoloftaleina</td>
  <td>фенолофталеїн</td>
  <td>fenoloftalejin</td>
</tr>
<tr>
  <td>gaz obojętny </td>
  <td>інертний газ</td>
  <td>inertnyj haz</td>
</tr>
<tr>
  <td>grupa/rząd</td>
  <td>група/ряд</td>
  <td>hrupa/riad</td>
</tr>
<tr>
  <td>hydroliza</td>
  <td>гідроліз</td>
  <td>hidroliz</td>
</tr>
<tr>
  <td>ilość substancji</td>
  <td>кількість речовини</td>
  <td>kilkist’ reczowyny</td>
</tr>
<tr>
  <td>indykator</td>
  <td>індикатор</td>
  <td>indykator</td>
</tr>
<tr>
  <td>izotop</td>
  <td>ізотоп</td>
  <td>izotop</td>
</tr>
<tr>
  <td>jądro</td>
  <td>ядро</td>
  <td>jadro</td>
</tr>
<tr>
  <td>jon</td>
  <td>іон </td>
  <td>ion</td>
</tr>
<tr>
  <td>katalizator</td>
  <td>каталізатор</td>
  <td>katalizator</td>
</tr>
<tr>
  <td>kationy</td>
  <td>катіон</td>
  <td>kation</td>
</tr>
<tr>
  <td>kowalencyjny</td>
  <td>ковалентний</td>
  <td>kowalentnyj</td>
</tr>
<tr>
  <td>kwas</td>
  <td>кислота</td>
  <td>kyslota</td>
</tr>
<tr>
  <td>lakmus</td>
  <td>лакмус</td>
  <td>lakmus</td>
</tr>
<tr>
  <td>lantanowce</td>
  <td>лантаноїди</td>
  <td>lantanojidy</td>
</tr>
<tr>
  <td>liczba atomowa</td>
  <td>атомна маса</td>
  <td>atomna masa</td>
</tr>
<tr>
  <td>liczba masowa</td>
  <td>масове число</td>
  <td>masowe czyslo</td>
</tr>
<tr>
  <td>ligand</td>
  <td>ліганд</td>
  <td>lihand</td>
</tr>
<tr>
  <td>ładunek</td>
  <td>заряд</td>
  <td>zariad</td>
</tr>
<tr>
  <td>materia</td>
  <td>матерія</td>
  <td>materija</td>
</tr>
<tr>
  <td>metal</td>
  <td>метал</td>
  <td>metal</td>
</tr>
<tr>
  <td>metylowy</td>
  <td>метиловий</td>
  <td>metylowyj</td>
</tr>
<tr>
  <td>mol</td>
  <td>моль</td>
  <td>mol’</td>
</tr>
<tr>
  <td>neutron</td>
  <td>нейтрон</td>
  <td>nejtron</td>
</tr>
<tr>
  <td>niemetal</td>
  <td>неметал</td>
  <td>nemetal</td>
</tr>
<tr>
  <td>nukleon</td>
  <td>нуклон</td>
  <td>nuklon</td>
</tr>
<tr>
  <td>objętość </td>
  <td>об‘єм</td>
  <td>ojem</td>
</tr>
<tr>
  <td>odczynnik</td>
  <td>реагент</td>
  <td>reahent</td>
</tr>
<tr>
  <td>okres</td>
  <td>період</td>
  <td>period</td>
</tr>
<tr>
  <td>osad</td>
  <td>осад</td>
  <td>osad</td>
</tr>
<tr>
  <td>osmoza</td>
  <td>осмос</td>
  <td>osmos</td>
</tr>
<tr>
  <td>pierwiastek</td>
  <td>елемент</td>
  <td>element</td>
</tr>
<tr>
  <td>podgrupa</td>
  <td>підгрупа</td>
  <td>pidhrupa</td>
</tr>
<tr>
  <td>podpoziom</td>
  <td>підрівень</td>
  <td>pidriwen’</td>
</tr>
<tr>
  <td>pojemność </td>
  <td>ємність</td>
  <td>jemnist’</td>
</tr>
<tr>
  <td>powłoka&&nbsp;elektronowa</td>
  <td>електронна оболонка/електронний шар</td>
  <td>elektronna obolonka/elektronnyj szar</td>
</tr>
<tr>
  <td>poziom</td>
  <td>рівень</td>
  <td>riwen’</td>
</tr>
<tr>
  <td>produkt</td>
  <td>продукт</td>
  <td>produkt</td>
</tr>
<tr>
  <td>proton</td>
  <td>протон</td>
  <td>proton</td>
</tr>
<tr>
  <td>przekształcenie </td>
  <td>перетворення</td>
  <td>peretworennia</td>
</tr>
<tr>
  <td>reakcja chemiczna</td>
  <td>хімічна реакція</td>
  <td>chimiczna reakcija</td>
</tr>
<tr>
  <td>roztwór </td>
  <td>розчин</td>
  <td>rozczyn</td>
</tr>
<tr>
  <td>równanie reakcji </td>
  <td>рівняння реакції</td>
  <td>riwniannia reakcji</td>
</tr>
<tr>
  <td>sól</td>
  <td>сіль</td>
  <td>sil’</td>
</tr>
<tr>
  <td>stan kwantowy</td>
  <td>квантовий стан</td>
  <td>kwantowyj stan</td>
</tr>
<tr>
  <td>stężenie molowe</td>
  <td>молярна концентрація</td>
  <td>moliarna koncentracija</td>
</tr>
<tr>
  <td>substancja</td>
  <td>речовина</td>
  <td>reczowyna</td>
</tr>
<tr>
  <td>substancje proste</td>
  <td>прості речовини</td>
  <td>prosti reczowyny</td>
</tr>
<tr>
  <td>substancje złożone </td>
  <td>складні речовини</td>
  <td>skladni reczowyny </td>
</tr>
<tr>
  <td>substrat</td>
  <td>субстрат</td>
  <td>substrat</td>
</tr>
<tr>
  <td>tablica&&nbsp;Mendelejewa</td>
  <td>таблиця Менделеєва</td>
  <td>tablica Mendelejewa</td>
</tr>
<tr>
  <td>titer</td>
  <td>титр</td>
  <td>tytr</td>
</tr>
<tr>
  <td>tlenek</td>
  <td>оксид</td>
  <td>oksyd</td>
</tr>
<tr>
  <td>tlenek&&nbsp;amfoteryczny</td>
  <td>амфотерні гідроксиди</td>
  <td>amfoterni hidroksydy</td>
</tr>
<tr>
  <td>tłuszcz</td>
  <td>жир</td>
  <td>żyr</td>
</tr>
<tr>
  <td>układ okresowy&&nbsp;pierwiastków chemicznych</td>
  <td>періодична система хімічних елементів</td>
  <td>periodyczna systema chimicznych elementiw</td>
</tr>
<tr>
  <td>ułamek masowy</td>
  <td>масова частка</td>
  <td>masowa czastka</td>
</tr>
<tr>
  <td>utlenianie</td>
  <td>окиснення</td>
  <td>okysnennia</td>
</tr>
<tr>
  <td>wartościowość </td>
  <td>валентність</td>
  <td>walentnist’</td>
</tr>
<tr>
  <td>wiązanie chemiczne</td>
  <td>хімічний зв’язок</td>
  <td>chimicznyj zwjazok</td>
</tr>
<tr>
  <td>właściwości </td>
  <td>властивості</td>
  <td>wlastywosti</td>
</tr>
<tr>
  <td>właściwość </td>
  <td>властивість</td>
  <td>wlastywist</td>
</tr>
<tr>
  <td>współczynnik </td>
  <td>коефіцієнт </td>
  <td>koficijent</td>
</tr>
<tr>
  <td>wzór </td>
  <td>формула</td>
  <td>formula</td>
</tr>
<tr>
  <td>wzór&&nbsp;elektoprotonowy</td>
  <td>електронна формула</td>
  <td>elektrona formula</td>
</tr>
<tr>
  <td>wzór strukturalny</td>
  <td>структурна формула</td>
  <td>strukturna formula</td>
</tr>
<tr>
  <td>zasada/ług</td>
  <td>основа/луг</td>
  <td>osnowa/luh</td>
</tr>
<tr>
  <td>zjawisko fizyczne</td>
  <td>фізичне явище</td>
  <td>fizyczne jawyszcze</td>
</tr>
<tr>
  <td>związek </td>
  <td>зв´язок </td>
  <td>zwiazok</td>
</tr>
<tr>
  <td>związek chemiczny</td>
  <td>хімічна сполука</td>
  <td>chimiczna spoluka</td>
</tr>
