<tr>
  <td>bagietka</td>
  <td>склянна паличка</td>
  <td>sklianna palyczka</td>
</tr>
<tr>
  <td>buteleczka</td>
  <td>пляшечка</td>
  <td>pljaszeczka</td>
</tr>
<tr>
  <td>cylinder miarowy</td>
  <td>мірний циліндр</td>
  <td>mirnyj cylindr</td>
</tr>
<tr>
  <td>fiolka</td>
  <td>фіал/флакон</td>
  <td>fial/flakon</td>
</tr>
<tr>
  <td>kolba okrągłodenna</td>
  <td>колба круглодонна</td>
  <td>kolba kryhlodonna</td>
</tr>
<tr>
  <td>kolba płaskodenna</td>
  <td>колба плоскодонна</td>
  <td>kolba ploskodonna</td>
</tr>
<tr>
  <td>krystalizator</td>
  <td>кристалізатор</td>
  <td>krystalizator</td>
</tr>
<tr>
  <td>moździerz</td>
  <td>ступка</td>
  <td>stupka</td>
</tr>
<tr>
  <td>palnik</td>
  <td>пальник</td>
  <td>pal’nyk</td>
</tr>
<tr>
  <td>pęseta</td>
  <td>пінцет</td>
  <td>pincet</td>
</tr>
<tr>
  <td>pipeta</td>
  <td>піпетка</td>
  <td>pipetka</td>
</tr>
<tr>
  <td>probówka</td>
  <td>пробірка</td>
  <td>probirka</td>
</tr>
<tr>
  <td>statyw</td>
  <td>штатив</td>
  <td>sztatyw</td>
</tr>
<tr>
  <td>szalka</td>
  <td>чашка</td>
  <td>czaszka</td>
</tr>
<tr>
  <td>szpatułka</td>
  <td>шпатель</td>
  <td>szlatel’</td>
</tr>
<tr>
  <td>zlewka</td>
  <td>хімічна склянка</td>
  <td>chimiczna sklianka</td>
</tr>


