<tr>
  <td>granulki</td>
  <td>гранули</td>
  <td>hranuly</td>
</tr>
<tr>
  <td>hydroliza</td>
  <td>гідроліз</td>
  <td>hidroliz</td>
</tr>
<tr>
  <td>kryształ</td>
  <td>кристал</td>
  <td>krystal</td>
</tr>
<tr>
  <td>krzepnięcie</td>
  <td>замерзання</td>
  <td>zamerzannia</td>
</tr>
<tr>
  <td>lód</td>
  <td>лід</td>
  <td>lid</td>
</tr>
<tr>
  <td>opary</td>
  <td>випари</td>
  <td>wypary</td>
</tr>
<tr>
  <td>para wodna</td>
  <td>водяна пара</td>
  <td>wodiana para</td>
</tr>
<tr>
  <td>parowanie</td>
  <td>пароутворення</td>
  <td>paroutworennia</td>
</tr>
<tr>
  <td>plazma</td>
  <td>плазма</td>
  <td>plazma</td>
</tr>
<tr>
  <td>proszek</td>
  <td>порошок</td>
  <td>poroszok</td>
</tr>
<tr>
  <td>przygotowanie</td>
  <td>приготування</td>
  <td>pryhotuwannia</td>
</tr>
<tr>
  <td>resublimacja</td>
  <td>десублімація</td>
  <td>desublimacija</td>
</tr>
<tr>
  <td>skraplanie</td>
  <td>зрідження</td>
  <td>zridżennia</td>
</tr>
<tr>
  <td>spalanie</td>
  <td>згорання</td>
  <td>zhorannia</td>
</tr>
<tr>
  <td>stan ciekły/ciecz</td>
  <td>рідкий стан/рідина</td>
  <td>ridkyj stan/ridyna</td>
</tr>
<tr>
  <td>stan gazowy/gaz</td>
  <td>газовий стан/газ</td>
  <td>hazowyj stan/haz</td>
</tr>
<tr>
  <td>stan stały/ciało stałe</td>
  <td>твердий стан/тверде тіло</td>
  <td>twerdyj stan/twerde tilo</td>
</tr>
<tr>
  <td>sublimacja</td>
  <td>сублімація</td>
  <td>sublimacija</td>
</tr>
<tr>
  <td>topnienie</td>
  <td>плавлення</td>
  <td>plawlennia</td>
</tr>
<tr>
  <td>woda</td>
  <td>вода</td>
  <td>woda</td>
</tr>
<tr>
  <td>wrzenie</td>
  <td>кипіння</td>
  <td>kypinnia</td>
</tr>
<tr>
  <td>zamarzanie</td>
  <td>замороження</td>
  <td>zamopożennia</td>
</tr>
