<tr>
  <td><b>Beztlenowe</b> </td>
  <td><b>-</b></td>
  <td><b>Безоксигенові</b></td>
  <td><b>bezoksygenowi</b></td>
</tr>
<tr>
  <td>bromowodorowy </td>
  <td>HBr</td>
  <td>бромідна</td>
  <td>bromidna</td>
</tr>
<tr>
  <td>chlorowodorowy, solny</td>
  <td>HCl</td>
  <td>хлоридна</td>
  <td>chlorydna </td>
</tr>
<tr>
  <td>cyjanowodorowy</td>
  <td>HCN</td>
  <td>синильна,&&nbsp;ціанідна</td>
  <td>synyl’na,&&nbsp;cianidna</td>
</tr>
<tr>
  <td>fluorowodorowy</td>
  <td>HF</td>
  <td>флуоридна </td>
  <td>fluorydna</td>
</tr>
<tr>
  <td>jodowodorowy </td>
  <td>HI</td>
  <td>йодидна </td>
  <td>jodydna </td>
</tr>
<tr>
  <td>siarkowodorowy</td>
  <td>H<sub>2</sub>S </td>
  <td>сульфідна </td>
  <td>sul’fidna</td>
</tr>
<tr>
  <td>selenowodorowy</td>
  <td>H<sub>2</sub>Se </td>
  <td>селенатна </td>
  <td>selenatna</td>
</tr>

<tr>
  <td><b>Tlenowe</b> </td>
  <td><b>-</b></td>
  <td><b>oksygenowi</b></td>
  <td><b>Оксигеновмісні</b></td>
</tr>
<tr>
  <td>arsenowy (III) </td>
  <td>H<sub>3</sub>AsO<sub>3</sub></td>
  <td>миш'якова,&&nbsp;арсенійна </td>
  <td>Myszjakowa,&&nbsp;arsenijna </td>
</tr>
<tr>
  <td>arsenowy (V) </td>
  <td>H<sub>3</sub>AsO<sub>4</sub> </td>
  <td>ортоарсенатна</td>
  <td>ortoarsenatna </td>
</tr>
<tr>
  <td>azotowy (III) </td>
  <td>HNO<sub>2</sub> </td>
  <td>нітритна</td>
  <td>nitrytna </td>
</tr>
<tr>
  <td>azotowy (V) </td>
  <td>HNO<sub>3 </sub></td>
  <td>нітратна</td>
  <td>nitratna </td>
</tr>
<tr>
  <td>borowy (III)</td>
  <td>H<sub>3</sub>BO<sub>3</sub> </td>
  <td>борна </td>
  <td>borna </td>
</tr>
<tr>
  <td>chlorowy (I)</td>
  <td>HClO </td>
  <td>гіпохлоридна</td>
  <td>hipochlorydna </td>
</tr>
<tr>
  <td>chlorowy (III)</td>
  <td>HClO<sub>2</sub> </td>
  <td>хлоритна</td>
  <td>chlorytna</td>
</tr>
<tr>
  <td>chlorowy (V)</td>
  <td>HClO<sub>3</sub> </td>
  <td>хлоратна </td>
  <td>chloratna</td>
</tr>
<tr>
  <td>chlorowy (VII)</td>
  <td>HClO<sub>4 </sub></td>
  <td>перхлоратна </td>
  <td>perchloratna </td>
</tr>
<tr>
  <td>chromowy   </td>
  <td>H<sub>2</sub>CrO<sub>4</sub> </td>
  <td>хромна </td>
  <td>chromnaa </td>
</tr>
<tr>
  <td>dichromowy</td>
  <td>H<sub>2</sub>Cr<sub>2O7</sub> </td>
  <td>дихроматна </td>
  <td>dychromatna </td>
</tr>
<tr>
  <td>fosforowy (III)</td>
  <td>H<sub>3</sub>PO<sub>3</sub></td>
  <td>фосфітна</td>
  <td>fosfitna </td>
</tr>
<tr>
  <td>fosforowy (V), ortofosforowy</td>
  <td>H<sub>3</sub>PO<sub>4</sub> </td>
  <td>ортофосфатна </td>
  <td>ortofosfatna</td>
</tr>
<tr>
  <td>metafosforowy (V)</td>
  <td>HPO3</td>
  <td>метафосфатна</td>
  <td>metafosfatna </td>
</tr>
<tr>
  <td>pirofosforowy (III)</td>
  <td>H<sub>4</sub>P<sub>2O5</sub> </td>
  <td>дифосфітна </td>
  <td>dyfosfitna </td>
</tr>
<tr>
  <td>pirofosforowy (V)</td>
  <td>H<sub>4</sub>P<sub>2O7</sub></td>
  <td>пірофосфатна,&&nbsp;дифосфатна </td>
  <td>pirofosfatna,</td>
</tr>
<tr>
  <td>krzemowy</td>
  <td>H<sub>2</sub>SiO<sub>3</sub></td>
  <td>силікатна</td>
  <td>sylikatna</td>
</tr>
<tr>
  <td>ortokrzemowy</td>
  <td>H<sub>4</sub>SiO<sub>4</sub></td>
  <td>ортосилікатна</td>
  <td>ortosylikatna</td>
</tr>
<tr>
  <td>manganowy (VI)</td>
  <td>H<sub>2</sub>MnO<sub>4</sub></td>
  <td>манганатна</td>
  <td>manhanatna </td>
</tr>
<tr>
  <td>manganowy (VII), nadmanganianowy</td>
  <td>HMnO<sub>4</sub> </td>
  <td>перманганатна</td>
  <td>permanhatna</td>
</tr>
<tr>
  <td>siarkowy (IV)</td>
  <td>H<sub>2</sub>SO<sub>3</sub></td>
  <td>сульфітна</td>
  <td>sul’fitna </td>
</tr>
<tr>
  <td>siarkowy (VI)</td>
  <td>H<sub>2</sub>SO<sub>4</sub> </td>
  <td>сульфатна</td>
  <td>sul’fatna</td>
</tr>
<tr>
  <td>tiosiarkowy</td>
  <td>H<sub>2</sub>S<sub>2O2</sub></td>
  <td>тіосульфорова</td>
  <td>tiosyl’forowa </td>
</tr>
<tr>
  <td>disiarkowy (VI)</td>
  <td>H<sub>2</sub>S<sub>2O7</sub></td>
  <td>дисульфатна</td>
  <td>dysul’fatna</td>
</tr>
<tr>
  <td>węglowy</td>
  <td>H<sub>2</sub>CO<sub>3</sub></td>
  <td>карбонатна</td>
  <td>kaobonatna</td>
</tr>
