<tr>
  <td>barwa/kolor</td>
  <td>колір</td>
  <td>kolir</td>
</tr>
<tr>
  <td>charakter&nbsp;&nbsp;&nbsp;chemiczny</td>
  <td>хімічна природа</td>
  <td>chimiczna pryroda</td>
</tr>
<tr>
  <td>elektroujemność</td>
  <td>електронегативність</td>
  <td>elektronehatywnist’</td>
</tr>
<tr>
  <td>gęstość</td>
  <td>густина</td>
  <td>hustyna</td>
</tr>
<tr>
  <td>lepkość</td>
  <td>в’язкість</td>
  <td>wjazkist’</td>
</tr>
<tr>
  <td>masa</td>
  <td>маса</td>
  <td>masa</td>
</tr>
<tr>
  <td>masa molowa</td>
  <td>молярна маса</td>
  <td>moliarna masa</td>
</tr>
<tr>
  <td>palność</td>
  <td>горючість</td>
  <td>horjoczist’</td>
</tr>
<tr>
  <td>promieniowanie</td>
  <td>радіоактивність</td>
  <td>radioaktywnist’</td>
</tr>
<tr>
  <td>przewodność&nbsp;&nbsp;&nbsp;elektryczna</td>
  <td>електропровідність</td>
  <td>elektroprowidnist’</td>
</tr>
<tr>
  <td>reaktywność</td>
  <td>реактивність</td>
  <td>reaktywnist’</td>
</tr>
<tr>
  <td>rozpuszczalność</td>
  <td>розчинність</td>
  <td>rozczynnist’</td>
</tr>
<tr>
  <td>smak</td>
  <td>смак</td>
  <td>smak</td>
</tr>
<tr>
  <td>temperatura&nbsp;&nbsp;&nbsp;topnienia</td>
  <td>температура плавлення</td>
  <td>temperatura plawlennia</td>
</tr>
<tr>
  <td>temperatura wrzenia</td>
  <td>температура кипіння</td>
  <td>temperatura kypinnia</td>
</tr>
<tr>
  <td>twardość</td>
  <td>твердість</td>
  <td>twerdist’</td>
</tr>
<tr>
  <td>zapach</td>
  <td>запах</td>
  <td>zapach</td>
</tr>
