@keyframes fadeIn {
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    display: block;
    opacity: 0;
  }

  100% {
    display: block;
    opacity: 1;
  }
}

@keyframes itemFadeIn {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

$mobile-height: 80px;

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9;
  background: transparent;
  color: $white;

  @include breakpoint(medium down) {
    padding: 20px 0;
  }

  @include breakpoint(large) {
    padding-top: 23px;
    padding-bottom: 23px;
    background: transparent;
  }

  .row {
    height: 100%;
    max-width: 105rem;
    position: relative;
    justify-content: space-between;
  }

  .main-menu-wrapper {

    @include breakpoint(large){
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-left: 75px;
      padding-right: 75px;

    }

    @include breakpoint(medium down) {
      padding: 0;
      text-align: center;
      position: fixed;
      left: 100%;
      top: 0;
      width: 100%;
      bottom: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: left .5s;

      &.active {
        left: 0;
      }
    }
  }

  .main-menu {
    @include breakpoint(medium down) {
      padding: 132px 0 35px 61px;
      height: 100%;
      text-align: left;
      background: #fff;

      @media screen and (orientation: landscape) {
        padding: 32px 35px;
        background: #fff;
      }
    }

    @include breakpoint(large) {
      display: inline-block;
    }

    li {

      @include breakpoint(large) {
        display: inline-block;
      }

      a {
        font-weight: 500;
        position: relative;
        padding: 0 0 24px;
        text-transform: uppercase;
        text-decoration: none;
        color: $color-text;
        line-height: 1.5;

        @include breakpoint(medium down) {
          display: block;
          opacity: 0;
          transform: translateX(40%);
          color: $color-secondary;
        }

        @include breakpoint(large) {
          display: inline-block;
          padding: 15px 0;
          margin: auto 10px;
          font-size: 14px;

          &:after {
            content: '';
            position: absolute;
            display: block;
            bottom: 10px;
            left: 0;
            width: 0;
            height: 2px;
            background: $color-secondary;
            transition: width 0.3s ease 0s;
          }

          &:hover:after {
            width: 100%;
          }
        }

        @include breakpoint(xlarge) {
          padding: 15px 0;
          margin: auto 20px;
          font-size: 16px;
        }
      }
    }
  }

  p {
    font-size: 16px;
    margin: 0 10px 0 0;
    font-weight: 700;

    @include breakpoint(large) {
      display: inline-block;
    }
  }

  @import "layout-header/menu-trigger";
}

.main-menu-wrapper-nav {
  text-align: right;

  @include breakpoint(medium down) {
    padding-left: calc(100% - 286px);
    position: relative;
    width: 100%;
    height: 100%;
  }

  .main-menu {
    max-width: 286px;

    @include breakpoint(large) {
      max-width: 100%;
    }
  }
}

// mobile open menu animation
@include breakpoint(medium down) {

  body {

    &:before {
      display: none;
      content: "";
      position: absolute;
      width: 100%;
      height: 110vh;
      top: 0;
      left: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.3);
      opacity: 0;
      z-index: 3;
    }

    &.navigation-open {
      overflow: hidden;

      &:before {
        display: block;
        opacity: 1;
        animation: fadeIn .5s ease-out;
      }
    }
  }

  .main-menu-wrapper {

    &.active {

      li {

        @for $i from 1 through 5 {
          &:nth-child(#{$i}) {

            .menu-item {
              animation: 1s $cubic-bezier itemFadeIn forwards;
              animation-delay: $i * .10s
            }
          }
        }
      }
    }
  }
}


.header-logo-icon {
  color: $color-light-blue;
  font-size: 32px;
}




