<tr>
  <td>biologiczne&nbsp;&nbsp;&nbsp;wietrzenie</td>
  <td>біологічне вивітрювання</td>
  <td>biolohiczne wywitrjuwannia</td>
</tr>
<tr>
  <td>chityna</td>
  <td>хітин</td>
  <td>chityn</td>
</tr>
<tr>
  <td>drożdże</td>
  <td>дріжджі</td>
  <td>driżdżi</td>
</tr>
<tr>
  <td>enzymy</td>
  <td>ферменти</td>
  <td>fermenty</td>
</tr>
<tr>
  <td>glikogen</td>
  <td>глікоген</td>
  <td>hlikohen</td>
</tr>
<tr>
  <td>grzybica</td>
  <td>мікоз</td>
  <td>mikoz</td>
</tr>
<tr>
  <td>grzybnia</td>
  <td>грибниця</td>
  <td>hrybnycia</td>
</tr>
<tr>
  <td>huba</td>
  <td>трутовик</td>
  <td>trutowyk</td>
</tr>
<tr>
  <td>karpofor</td>
  <td>плодове тіло</td>
  <td>plodowe tilo</td>
</tr>
<tr>
  <td>konidium</td>
  <td>конідії</td>
  <td>konidiji</td>
</tr>
<tr>
  <td>mikoryza</td>
  <td>мікориза</td>
  <td>mikoryza</td>
</tr>
<tr>
  <td>osłona całkowita</td>
  <td>загальне покривало</td>
  <td>zahal’ne pokrywalo</td>
</tr>
<tr>
  <td>osłona częściowa</td>
  <td>часткове покривало</td>
  <td>czastkowe pokrywalo</td>
</tr>
<tr>
  <td>pączkowanie</td>
  <td>брунькування</td>
  <td>brun’kowannia</td>
</tr>
<tr>
  <td>
    <b>porosty</b> <br>
    -	krzaczkowate <br>
    -	listkowate <br>
    -	skorupiaste
  </td>
  <td>
    <b>лишайники</b><br>
    -	кущисті <br>
    -	листуваті <br>
    -	нaкипні
  </td>
  <td>
    <b>lyszajnyky</b><br>
    -	kuszczysti <br>
    -	lystuwati <br>
    -	nakypni
  </td>
</tr>
<tr>
  <td>saprotrofy</td>
  <td>сапротрофи</td>
  <td>saprotrofy</td>
</tr>
<tr>
  <td>strzępka</td>
  <td>гіфи</td>
  <td>hify</td>
</tr>
<tr>
  <td>trawienie zewnątrzkomórkowe</td>
  <td>позаклітинне травлення</td>
  <td>pozaklitynne trawlennia</td>
</tr>
<tr>
  <td>wchłanianie</td>
  <td>всмоктування</td>
  <td>wsmoktuwannia</td>
</tr>