<tr>
  <td>aparat szparkowy</td>
  <td>продих</td>
  <td>prodych</td>
</tr>
<tr>
  <td>bielmo</td>
  <td>ендосперм</td>
  <td>endosperm</td>
</tr>
<tr>
  <td>bulwa korzeniowa</td>
  <td>кореневі бульби</td>
  <td>korenewi bul’by</td>
</tr>
<tr>
  <td>cebula</td>
  <td>цибулина</td>
  <td>cybulyna</td>
</tr>
<tr>
  <td>czapeczka</td>
  <td>кореневий чохлик</td>
  <td>korenewyj czochlyk</td>
</tr>
<tr>
  <td>dno kwiatowe</td>
  <td>квітколоже</td>
  <td>kwitkołoże</td>
</tr>
<tr>
  <td>drewno</td>
  <td>деревина</td>
  <td>derewyna</td>
</tr>
<tr>
  <td>epiderma</td>
  <td>епідерміс</td>
  <td>epidermis</td>
</tr>
<tr>
  <td>hipokotyl</td>
  <td>підсімядольне коліно</td>
  <td>pidsimiadol’ne kolino</td>
</tr>
<tr>
  <td>kambium</td>
  <td>камбій</td>
  <td>kambij</td>
</tr>
<tr>
  <td>kąt liściowy</td>
  <td>листкова пазуха</td>
  <td>lystowa pazucha</td>
</tr>
<tr>
  <td>kielich</td>
  <td>чашечка</td>
  <td>czaszeczka</td>
</tr>
<tr>
  <td>kłącze</td>
  <td>корневище</td>
  <td>kornewyszcze</td>
</tr>
<tr>
  <td>kora drzewa</td>
  <td>деревна кора</td>
  <td>derewna kora</td>
</tr>
<tr>
  <td>korek</td>
  <td>корок</td>
  <td>korok</td>
</tr>
<tr>
  <td>korzeń&nbsp;&nbsp;&nbsp;(główny/boczny)</td>
  <td>корінь (головний/бічний)</td>
  <td>korin’ (holownyj/bicznyj)</td>
</tr>
<tr>
  <td>kwiat</td>
  <td>квітка</td>
  <td>kwitka</td>
</tr>
<tr>
  <td>kwiatostan</td>
  <td>суцвіття</td>
  <td>sucwittja</td>
</tr>
<tr>
  <td>listek</td>
  <td>листок</td>
  <td>lystok</td>
</tr>
<tr>
  <td>liścień</td>
  <td>сімядоля</td>
  <td>simjadolia</td>
</tr>
<tr>
  <td>łagiewka&nbsp;&nbsp;&nbsp;pyłkowa </td>
  <td>пилкова трубка</td>
  <td>pylkowa trubka</td>
</tr>
<tr>
  <td>łodyga</td>
  <td>стебло</td>
  <td>stebło</td>
</tr>
<tr>
  <td>łub</td>
  <td>луб</td>
  <td>łub</td>
</tr>
<tr>
  <td>międzywęźla </td>
  <td>міжвузля</td>
  <td>miżwyzlia</td>
</tr>
<tr>
  <td>miękisz gąbczasty&nbsp;&nbsp;&nbsp;/ паренхима</td>
  <td>основна тканина / паренхіма</td>
  <td>osnowna tkanyna / parenchima</td>
</tr>
<tr>
  <td>nasiono</td>
  <td>насінина</td>
  <td>nasinyna</td>
</tr>
<tr>
  <td>odkład</td>
  <td>відводки</td>
  <td>widwodky</td>
</tr>
<tr>
  <td>odżywianie&nbsp;&nbsp;&nbsp;mineralne</td>
  <td>мінеральне живлення</td>
  <td>mineral’ne żywlennia</td>
</tr>
<tr>
  <td>organy wegetatywne</td>
  <td>вегетативні органи</td>
  <td>wehetatywni orhany</td>
</tr>
<tr>
  <td>oskórek</td>
  <td>кутикула</td>
  <td>kutykula</td>
</tr>
<tr>
  <td>owoc</td>
  <td>плід </td>
  <td>plid</td>
</tr>
<tr>
  <td>owoc zbiorowy</td>
  <td>супліддя</td>
  <td>supliddia</td>
</tr>
<tr>
  <td>pąk</td>
  <td>брунька</td>
  <td>brun’ka</td>
</tr>
<tr>
  <td>pęd</td>
  <td>пагін</td>
  <td>pahin</td>
</tr>
<tr>
  <td>płatki korony</td>
  <td>оцвітина </td>
  <td>ocwityna</td>
</tr>
<tr>
  <td>pręcik</td>
  <td>тичинка</td>
  <td>tyczynka</td>
</tr>
<tr>
  <td>propagula</td>
  <td>живець/пропагула</td>
  <td>żywec’/propahula</td>
</tr>
<tr>
  <td>roślinny jednopienne</td>
  <td>однодомні рослини</td>
  <td>odnodomni roslyny</td>
</tr>
<tr>
  <td>rozmnażanie&nbsp;&nbsp;&nbsp;bezpłciowe (wegetatywne)</td>
  <td>вегетативне розмноження </td>
  <td>wehetatywne rozmnożennia</td>
</tr>
<tr>
  <td>siewka</td>
  <td>проросток</td>
  <td>prorostok</td>
</tr>
<tr>
  <td>skórka</td>
  <td>шкірка</td>
  <td>szkirka</td>
</tr>
<tr>
  <td>skórka korzenia / ryzoderma</td>
  <td>шкірка кореня/ ризодерма</td>
  <td>szkirka korenia/ ryzoderma</td>
</tr>
<tr>
  <td>słój roczny</td>
  <td>річне кільце</td>
  <td>riczne kil’ce</td>
</tr>
<tr>
  <td>słupek</td>
  <td>маточка</td>
  <td>matoczka</td>
</tr>
<tr>
  <td>strefa korzeni&nbsp;&nbsp;&nbsp;bocznych</td>
  <td>зона провідна</td>
  <td>zona prowidna</td>
</tr>
<tr>
  <td>strefa podziałowa </td>
  <td>зона поділу</td>
  <td>zona podilu</td>
</tr>
<tr>
  <td>strefa włośnikowa</td>
  <td>зона всмоктування</td>
  <td>zona wsmoktuwannia</td>
</tr>
<tr>
  <td>strefa wzrostu</td>
  <td>зона розтягу</td>
  <td>zona roztiahu</td>
</tr>
<tr>
  <td>szypułka</td>
  <td>квітконіжка</td>
  <td>kwitkoniżka</td>
</tr>
<tr>
  <td>tkanka pokrywająca </td>
  <td>покривна тканина</td>
  <td>pokrywna tkanyna</td>
</tr>
<tr>
  <td>tkanka przewodząca </td>
  <td>провідна тканина</td>
  <td>prowidna tkanyna</td>
</tr>
<tr>
  <td>tkanka&nbsp;&nbsp;&nbsp;twórcza </td>
  <td>твірна тканина</td>
  <td>twirna tkanyna</td>
</tr>
<tr>
  <td>warzywo korzeniowe</td>
  <td>коренеплід</td>
  <td>koreneplid</td>
</tr>
<tr>
  <td>węzeł</td>
  <td>вузол</td>
  <td>wuzol</td>
</tr>
<tr>
  <td>wiązka przewodząca</td>
  <td>провідний пучок</td>
  <td>prowidnyj puczok</td>
</tr>
<tr>
  <td>włośnik</td>
  <td>кореневий волосок</td>
  <td>korenewyj wolosok</td>
</tr>
<tr>
  <td>wymiana gazowa</td>
  <td>газообмін</td>
  <td>hazoobmin</td>
</tr>
<tr>
  <td>zapłodnienie</td>
  <td>запліднення</td>
  <td>zaplidnennia</td>
</tr>
<tr>
  <td>zapylanie</td>
  <td>запилення</td>
  <td>zapylennia</td>
</tr>
