<tr>
  <td>ameba</td>
  <td>амеба</td>
  <td>ameba</td>
</tr>
<tr>
  <td>anabioza</td>
  <td>анабіоз</td>
  <td>anabioz</td>
</tr>
<tr>
  <td>autotrofy -&nbsp;organizm samożywny</td>
  <td>автотрофи</td>
  <td>awtotrofy</td>
</tr>
<tr>
  <td>bakteria</td>
  <td>бактерія</td>
  <td>bakteria</td>
</tr>
<tr>
  <td>bakterie mlekowe</td>
  <td>молочнокислі бактерії</td>
  <td>molocznokysli bakteriij</td>
</tr>
<tr>
  <td>eukarionty</td>
  <td>еукаріоти</td>
  <td>eukarioty</td>
</tr>
<tr>
  <td>еuglena zielona</td>
  <td>евгена зелена</td>
  <td>ewhena zelena</td>
</tr>
<tr>
  <td>fagocytoza</td>
  <td>фагоцитоз</td>
  <td>fahocytoz</td>
</tr>
<tr>
  <td>gąbka</td>
  <td>губка</td>
  <td>hubka</td>
</tr>
<tr>
  <td>glony</td>
  <td>водорості</td>
  <td>wodorosti</td>
</tr>
<tr>
  <td>heterotrofy</td>
  <td>гетеротрофи</td>
  <td>heterotrofy</td>
</tr>
<tr>
  <td>nabłonek</td>
  <td>епітелій</td>
  <td>epitelij</td>
</tr>
<tr>
  <td>nibynóżki</td>
  <td>несправжні ніжки</td>
  <td>nesprawżni niżky</td>
</tr>
<tr>
  <td>okrzemki</td>
  <td>діатомові водорості</td>
  <td>diatomowi wodorosti</td>
</tr>
<tr>
  <td>pantofelek</td>
  <td>інфузорія туфелька </td>
  <td>infuzorija tufel’ka</td>
</tr>
<tr>
  <td>pasożytnictwo</td>
  <td>паразитизм</td>
  <td>parazytyzm</td>
</tr>
<tr>
  <td>prokarionty</td>
  <td>прокаріоти</td>
  <td>prokarioty</td>
</tr>
<tr>
  <td>sinice</td>
  <td>ціанобактерії</td>
  <td>cianobakteriij</td>
</tr>
<tr>
  <td>symbioza</td>
  <td>симбіоз</td>
  <td>symbioz</td>
</tr>
<tr>
  <td>
    <b>tkanki <br></b>
    -	nabłonkowa <br>
    -	mięśniowa <br>
    -	nerwowa <br>
    -	łącznа
  </td>
  <td>
    <b>тканина</b><br>
    -	епітеліальна <br>
    -	нервова <br>
    -	сполучна
  </td>
  <td>
    <b>tkanyna</b><br>
    -	epitelial’na <br>
    -	mjazowa <br>
    - nerwowa <br>
    -	spoluczna
  </td>
</tr>
<tr>
  <td>tkanki twórcze/merystem</td>
  <td>репродуктивні клітини/меристема</td>
  <td>reproduktywni klityny/merystema</td>
</tr>
<tr>
  <td>toksyny</td>
  <td>токсини</td>
  <td>toksyny</td>
</tr>
