<tr>
  <td>bezkręgowce</td>
  <td>безхребетні</td>
  <td>bezchrebetni</td>
</tr>
<tr>
  <td>błona komórkowa</td>
  <td>клітинна мембрана (оболонка)</td>
  <td>klitynna membrana (obolonka)</td>
</tr>
<tr>
  <td>chloroplasty</td>
  <td>хлоропласти</td>
  <td>chloroplasty</td>
</tr>
<tr>
  <td>chromosomy</td>
  <td>хромосоми</td>
  <td>chromosomy</td>
</tr>
<tr>
  <td>cudzożywne&nbsp;&nbsp;&nbsp;organizmy (heterotrofy)</td>
  <td>гетеротрофи</td>
  <td>heterotrofy</td>
</tr>
<tr>
  <td>cytoplazma (cytozol)</td>
  <td>цитоплазма</td>
  <td>cytoplazma</td>
</tr>
<tr>
  <td>DNA</td>
  <td>ДНК</td>
  <td>DNK</td>
</tr>
<tr>
  <td>fotosynteza</td>
  <td>фотосинтез</td>
  <td>fotosyntez</td>
</tr>
<tr>
  <td>gady</td>
  <td>рептилії</td>
  <td>reptyliji</td>
</tr>
<tr>
  <td>grzyby</td>
  <td>гриби</td>
  <td>hryby</td>
</tr>
<tr>
  <td>jądro komórkowe</td>
  <td>ядро</td>
  <td>jadro</td>
</tr>
<tr>
  <td>komórka</td>
  <td>клітина</td>
  <td>klityna</td>
</tr>
<tr>
  <td>krew</td>
  <td>кров</td>
  <td>krow</td>
</tr>
<tr>
  <td>kręgowce</td>
  <td>хребетні</td>
  <td>chrebetni</td>
</tr>
<tr>
  <td>mięczaki</td>
  <td>молюски</td>
  <td>molusky</td>
</tr>
<tr>
  <td>mikroskop</td>
  <td>мікроскоп</td>
  <td>mikroskop</td>
</tr>
<tr>
  <td>mitochondrium</td>
  <td>мітохондрія</td>
  <td>mitochondrija</td>
</tr>
<tr>
  <td>narząd</td>
  <td>орган</td>
  <td>orhan</td>
</tr>
<tr>
  <td>nicienie</td>
  <td>нематоди (круглі черви)</td>
  <td>nematody (kruhli czerwy)</td>
</tr>
<tr>
  <td>organella</td>
  <td>органелa</td>
  <td>orhanela</td>
</tr>
<tr>
  <td>organizm</td>
  <td>організм</td>
  <td>orhanizm</td>
</tr>
<tr>
  <td>parzydełkowce</td>
  <td>кнідарії</td>
  <td>knidariji</td>
</tr>
<tr>
  <td>pierścienice</td>
  <td>кільчасті черви</td>
  <td>kilczasti czerwy</td>
</tr>
<tr>
  <td>płazińce</td>
  <td>плоскі черви</td>
  <td>ploski czerwy</td>
</tr>
<tr>
  <td>płazy</td>
  <td>амфібії (земноводні)</td>
  <td>amfibiji (zemnowodni)</td>
</tr>
<tr>
  <td>ptaki</td>
  <td>птахи</td>
  <td>ptachy</td>
</tr>
<tr>
  <td>rośliny</td>
  <td>рослини</td>
  <td>roslyny</td>
</tr>
<tr>
  <td>rybosomy</td>
  <td>рибосоми</td>
  <td>rybosomy</td>
</tr>
<tr>
  <td>ryby</td>
  <td>риби</td>
  <td>ryby</td>
</tr>
<tr>
  <td>ssaki</td>
  <td>ссавці</td>
  <td>ssawci</td>
</tr>
<tr>
  <td>stawonogi</td>
  <td>членистоногі</td>
  <td>czlenystonohi</td>
</tr>
<tr>
  <td>strunowce</td>
  <td>хордові</td>
  <td>chordowi</td>
</tr>
<tr>
  <td>synteza</td>
  <td>синтез</td>
  <td>syntez</td>
</tr>
<tr>
  <td>ściana komórkowa</td>
  <td>клітинна стінка</td>
  <td>klitynna stinka</td>
</tr>
<tr>
  <td>tkanka</td>
  <td>тканина</td>
  <td>tkanyna</td>
</tr>
<tr>
  <td>układ narządów</td>
  <td>система органів</td>
  <td>systema orhaniw</td>
</tr>
<tr>
  <td>wakuola (trawienna/kurczliwa)</td>
  <td>вакуоля (травна/скоротлива)</td>
  <td>wakuolia (trawna/skorotlywa)</td>
</tr>
<tr>
  <td>zwierzęta</td>
  <td>тварини</td>
  <td>twaryny</td>
</tr>
