<tr>
  <td>bagno</td>
  <td>болотo</td>
  <td>boloto</td>
</tr>
<tr>
  <td>brunatnice </td>
  <td>бурі водорості</td>
  <td>buri wodorosti</td>
</tr>
<tr>
  <td>chwytniki</td>
  <td>ризоїди</td>
  <td>ryzoijdy</td>
</tr>
<tr>
  <td>czynnik środowiskowy</td>
  <td>екологічний фактор</td>
  <td>ekolohicznyj faktor</td>
</tr>
<tr>
  <td>drzewo</td>
  <td>деревo</td>
  <td>derewo</td>
</tr>
<tr>
  <td>dwuliścienne</td>
  <td>дводольні</td>
  <td>dwodol’ni</td>
</tr>
<tr>
  <td>forma życiowa</td>
  <td>життєва форма </td>
  <td>żyttiewa forma</td>
</tr>
<tr>
  <td>gametofit </td>
  <td>статеве покоління </td>
  <td>statewe pokolinnia</td>
</tr>
<tr>
  <td>gatunek</td>
  <td>вид</td>
  <td>wyd</td>
</tr>
<tr>
  <td>gromada</td>
  <td>відділ</td>
  <td>widdil</td>
</tr>
<tr>
  <td>grupa ekologiczna</td>
  <td>екологічна група</td>
  <td>ekolohiczna hrupa</td>
</tr>
<tr>
  <td>grupa roślin</td>
  <td>рослинне угруповання</td>
  <td>roslynne uhrupowannja</td>
</tr>
<tr>
  <td>igła</td>
  <td>голка</td>
  <td>holka</td>
</tr>
<tr>
  <td>jednoliścienne</td>
  <td>однодольні</td>
  <td>odnodolni</td>
</tr>
<tr>
  <td>klasa</td>
  <td>клас</td>
  <td>klas</td>
</tr>
<tr>
  <td>kłosek</td>
  <td>колосок</td>
  <td>kolosok</td>
</tr>
<tr>
  <td>krasnorosty</td>
  <td>червоні водорості</td>
  <td>czerwoni wodorosti</td>
</tr>
<tr>
  <td>królestwo</td>
  <td>царство</td>
  <td>carstwo</td>
</tr>
<tr>
  <td>krzew</td>
  <td>чагарни́к</td>
  <td>czaharnyk</td>
</tr>
<tr>
  <td>krzewinka</td>
  <td>чагарничок </td>
  <td>czaharnyczok</td>
</tr>
<tr>
  <td>las</td>
  <td>ліс</td>
  <td>lis</td>
</tr>
<tr>
  <td>łąka</td>
  <td>лук</td>
  <td>łuk</td>
</tr>
<tr>
  <td>mchy</td>
  <td>мохи</td>
  <td>mochy</td>
</tr>
<tr>
  <td>nagonasienne</td>
  <td>голонасінні</td>
  <td>holonasinni</td>
</tr>
<tr>
  <td>okrytonasienne</td>
  <td>покритонасінні</td>
  <td>pokrytonasinni</td>
</tr>
<tr>
  <td>paprocie</td>
  <td>папороті</td>
  <td>paporoti</td>
</tr>
<tr>
  <td>Polski</td>
  <td>Українська</td>
  <td>Транскрипція</td>
</tr>
<tr>
  <td>przedrośle</td>
  <td>заросток</td>
  <td>zarostok</td>
</tr>
<tr>
  <td>pustynia</td>
  <td>пустеля</td>
  <td>pusteliа</td>
</tr>
<tr>
  <td>rodzaj</td>
  <td>рід</td>
  <td>rid</td>
</tr>
<tr>
  <td>rodzina</td>
  <td>родина</td>
  <td>rodyna</td>
</tr>
<tr>
  <td>rośliny zielne</td>
  <td>трав'янисті рослини</td>
  <td>trawianysti roslyny</td>
</tr>
<tr>
  <td>rząd</td>
  <td>порядок</td>
  <td>poriadok</td>
</tr>
<tr>
  <td>skrzyp</td>
  <td>хвощ</td>
  <td>chwoszcz</td>
</tr>
<tr>
  <td>sporofit </td>
  <td>нестатеве покоління</td>
  <td>nestatewe pokolinnia</td>
</tr>
<tr>
  <td>step</td>
  <td>степ</td>
  <td>step</td>
</tr>
<tr>
  <td>systematyka</td>
  <td>систематика</td>
  <td>systematyka</td>
</tr>
<tr>
  <td>szyszka</td>
  <td>шишка</td>
  <td>szyszka</td>
</tr>
<tr>
  <td>warunki środowiska</td>
  <td>умови середовища</td>
  <td>umowy seredowyszcza</td>
</tr>
<tr>
  <td>widłak</td>
  <td>плаун</td>
  <td>plaun</td>
</tr>
<tr>
  <td>zarodnia</td>
  <td>спорангій</td>
  <td>sporanhij</td>
</tr>
<tr>
  <td>zarodniki</td>
  <td>спори</td>
  <td>spory</td>
</tr>
