<tr>
  <td>Dzwonek</td>
  <td>дзвінок</td>
  <td>dzwinok</td>
</tr>
<tr>
  <td>Kartkówka</td>
  <td>тест/самостійна робота</td>
  <td>test/samostijna robota</td>
</tr>
<tr>
  <td>Klasa</td>
  <td>клас</td>
  <td>klas</td>
</tr>
<tr>
  <td>Obecność (na lekcji)</td>
  <td>присутність (на уроці)</td>
  <td>prysutnist’ (na uroci)</td>
</tr>
<tr>
  <td>Ocena</td>
  <td>оцінка</td>
  <td>ocinka</td>
</tr>
<tr>
  <td>Praca domowa</td>
  <td>домашня робота</td>
  <td>domasznia robota</td>
</tr>
<tr>
  <td>Przedmiot</td>
  <td>предмет</td>
  <td>predmet</td>
</tr>
<tr>
  <td>Przerwa</td>
  <td>перерва</td>
  <td>pererwa</td>
</tr>
<tr>
  <td>Sprawdzian</td>
  <td>тест/самостійна робота</td>
  <td>test/samostijna robota</td>
</tr>
<tr>
  <td>Wagary</td>
  <td>прогули</td>
  <td>prohuly</td>
</tr>
<tr>
  <td>Zaliczenie</td>
  <td>здача/залік</td>
  <td>zdacza/zalik</td>
</tr>