<tr>
  <td>jeden</td>
  <td>один</td>
  <td>odyn</td>
</tr>
<tr>
  <td>dwa</td>
  <td>два</td>
  <td>dwa</td>
</tr>
<tr>
  <td>trzy</td>
  <td>три</td>
  <td>try</td>
</tr>
<tr>
  <td>cztery</td>
  <td>чотири</td>
  <td>czotyry</td>
</tr>
<tr>
  <td>pięć</td>
  <td>п’ять</td>
  <td>pjat’</td>
</tr>
<tr>
  <td>sześć</td>
  <td>шість</td>
  <td>szist</td>
</tr>
<tr>
  <td>siedem</td>
  <td>сім</td>
  <td>sim</td>
</tr>
<tr>
  <td>osiem</td>
  <td>вісім</td>
  <td>wisim</td>
</tr>
<tr>
  <td>dziewięć</td>
  <td>дев’ять</td>
  <td>dewjat</td>
</tr>
<tr>
  <td>dziesięć </td>
  <td>десять</td>
  <td>desjat’</td>
</tr>
<tr>
  <td>jedenaście</td>
  <td>одинадцять</td>
  <td>odynadtsyatʹ</td>
</tr>
<tr>
  <td>dwanaście</td>
  <td>дванадцять</td>
  <td>dvanadtsyatʹ</td>
</tr>
<tr>
  <td>trzynaście</td>
  <td>тринадцять</td>
  <td>trynadtsyatʹ</td>
</tr>
<tr>
  <td>czternaście</td>
  <td>чотирнадцять</td>
  <td>chotyrnadtsyatʹ</td>
</tr>
<tr>
  <td>piętnaście</td>
  <td>п'ятнадцять</td>
  <td>p'yatnadtsyatʹ</td>
</tr>
<tr>
  <td>szesnaście</td>
  <td>шістнадцять</td>
  <td>shistnadtsyatʹ</td>
</tr>
<tr>
  <td>siedemnaście</td>
  <td>сімнадцять</td>
  <td>simnadtsyatʹ</td>
</tr>
<tr>
  <td>osiemnaście</td>
  <td>вісімнадцять</td>
  <td>visimnadtsyatʹ</td>
</tr>
<tr>
  <td>dziewiętnaście</td>
  <td>дев'ятнадцять</td>
  <td>dev'yatnadtsyatʹ</td>
</tr>
<tr>
  <td>dwadzieścia</td>
  <td>двадцять</td>
  <td>dwadcat’</td>
</tr>
<tr>
  <td>trzydzieści</td>
  <td>тридцять</td>
  <td>trydcat’</td>
</tr>
<tr>
  <td>czterdzieści</td>
  <td>сорок</td>
  <td>sorok</td>
</tr>
<tr>
  <td>pięćdziesiąt</td>
  <td>п’ятдесят</td>
  <td>pjatdesjat</td>
</tr>
<tr>
  <td>sześćdziesiąt</td>
  <td>шісдесят</td>
  <td>szisdesjat’</td>
</tr>
<tr>
  <td>siedemdziesiąt</td>
  <td>сімдесят</td>
  <td>simdesjat</td>
</tr>
<tr>
  <td>osiemdziesiąt</td>
  <td>вісімдесят</td>
  <td>wisimdesjat</td>
</tr>
<tr>
  <td>dziewięćdziesiąt</td>
  <td>дев’яносто</td>
  <td>dewjanosto</td>
</tr>
<tr>
  <td>sto</td>
  <td>сто</td>
  <td>sto</td>
</tr>
<tr>
  <td>tysiąc</td>
  <td>тисяча</td>
  <td>tysjacza</td>
</tr>
<tr>
  <td>milion</td>
  <td>мільйон</td>
  <td>miljion</td>
</tr>