<tr>
  <td>dodawanie</td>
  <td>додавання </td>
  <td>dodawannia</td>
</tr>
<tr>
  <td>dowód matematyczny</td>
  <td>доведення</td>
  <td>dowedennia</td>
</tr>
<tr>
  <td>działanie matematyczne</td>
  <td>математична дія</td>
  <td>matematyczna dija</td>
</tr>
<tr>
  <td>dzielenie</td>
  <td>ділення</td>
  <td>dilennja</td>
</tr>
<tr>
  <td>funkcja</td>
  <td>функція</td>
  <td>funkcija</td>
</tr>
<tr>
  <td>mnożenie</td>
  <td>множення</td>
  <td>mnożennia</td>
</tr>
<tr>
  <td>niewiadoma</td>
  <td>невідома</td>
  <td>newidoma</td>
</tr>
<tr>
  <td>odejmowanie</td>
  <td>віднімання</td>
  <td>widminnia</td>
</tr>
<tr>
  <td>oś</td>
  <td>вісь</td>
  <td>wis’</td>
</tr>
<tr>
  <td>oś odciętych (oś x)</td>
  <td>Ось абсцисс</td>
  <td>visʹ abstsys</td>
</tr>
<tr>
  <td>oś rzędnych (oś y)</td>
  <td>вісь ординат</td>
  <td>visʹ ordynat</td>
</tr>
<tr>
  <td>równanie</td>
  <td>рівняння</td>
  <td>riwniannia</td>
</tr>
<tr>
  <td>stała</td>
  <td>стала (константа)</td>
  <td>stala (konstanta)</td>
</tr>
<tr>
  <td>układ równań</td>
  <td>система рівнянь</td>
  <td>systema riwniań</td>
</tr>
<tr>
  <td>ułamek</td>
  <td>дріб</td>
  <td>drib</td>
</tr>
<tr>
  <td>współrzędne</td>
  <td>координати</td>
  <td>koordynaty</td>
</tr>
<tr>
  <td>wykres</td>
  <td>графік</td>
  <td>grafik</td>
</tr>
<tr>
  <td>wzór</td>
  <td>формула</td>
  <td>formula</td>
</tr>
<tr>
  <td>zmienna</td>
  <td>змінна</td>
  <td>zminna</td>
</tr>