<tr>
  <td>czy?</td>
  <td>чи?</td>
  <td>czy?</td>
</tr>
<tr>
  <td>dlaczego?</td>
  <td>чому?</td>
  <td>czomu?</td>
</tr>
<tr>
  <td>ile?</td>
  <td>скільки?</td>
  <td>skil’ky?</td>
</tr>
<tr>
  <td>jak długo?</td>
  <td>як довго?</td>
  <td>jak dowho?</td>
</tr>
<tr>
  <td>kiedy?</td>
  <td>коли?</td>
  <td>koly?</td>
</tr>
<tr>
  <td>napisz</td>
  <td>напиши </td>
  <td>napyszy</td>
</tr>
<tr>
  <td>narysuj</td>
  <td>намалюй</td>
  <td>namaljuj</td>
</tr>
<tr>
  <td>oblicz</td>
  <td>порахуй</td>
  <td>porachuj</td>
</tr>
<tr>
  <td>podkreśl</td>
  <td>підкресль</td>
  <td>pidkresl’</td>
</tr>
<tr>
  <td>pokoloruj</td>
  <td>розмалюй/розфарбуй кольоровим</td>
  <td>rozmaljuj/rozfarbuj kol’orami</td>
</tr>
<tr>
  <td>połącz</td>
  <td>поєднай</td>
  <td>pojednaj</td>
</tr>
<tr>
  <td>rozwiąż</td>
  <td>розв’яжи</td>
  <td>rozwjaży</td>
</tr>
<tr>
  <td>udowodnij</td>
  <td>доведи</td>
  <td>dowedy</td>
</tr>
<tr>
  <td>uzupełnij</td>
  <td>доповни</td>
  <td>dopowny</td>
</tr>
<tr>
  <td>wybierz</td>
  <td>вибери</td>
  <td>wybery</td>
</tr>
<tr>
  <td>wykaż</td>
  <td>покажи</td>
  <td>pokaży</td>
</tr>
<tr>
  <td>wyznacz</td>
  <td>визнач</td>
  <td>wyznacz</td>
</tr>
<tr>
  <td>zaznacz</td>
  <td>познач</td>
  <td>poznacz</td>
</tr>