<tr>
  <td>(coś) znajduje się w…</td>
  <td>(щось) знаходяться/є в</td>
  <td>(szczos’) znachodiat’sja/je w</td>
</tr>
<tr>
  <td>blisko</td>
  <td>близько</td>
  <td>blyzko</td>
</tr>
<tr>
  <td>daleko</td>
  <td>далеко</td>
  <td>deleko</td>
</tr>
<tr>
  <td>gdzie jest…?</td>
  <td>де є…?</td>
  <td>de je … ?</td>
</tr>
<tr>
  <td>gdzie mamy lekcje?</td>
  <td>де будуть заняття?</td>
  <td>de budut’ zaniattia?</td>
</tr>
<tr>
  <td>gdzie mogę…?</td>
  <td>де я можу?</td>
  <td>de ja możu … ?</td>
</tr>
<tr>
  <td>gdzie się spotkamy?</td>
  <td>де зустрічаємося?</td>
  <td>de zustriczajemosja?</td>
</tr>
<tr>
  <td>idę do…</td>
  <td>йду до…</td>
  <td>jdu do…</td>
</tr>
<tr>
  <td>idź prosto</td>
  <td>йди прямо</td>
  <td>jdy priamo</td>
</tr>
<tr>
  <td>idź tam.</td>
  <td>йди туди</td>
  <td>jdy tudy</td>
</tr>
<tr>
  <td>jak dojść do…?</td>
  <td>як дійти до?</td>
  <td>jak dijty do…?</td>
</tr>
<tr>
  <td>na dole</td>
  <td>внизу </td>
  <td>wnyzu</td>
</tr>
<tr>
  <td>na górze</td>
  <td>на горі/ зверху</td>
  <td>na hori/ zwerchu</td>
</tr>
<tr>
  <td>na rogu</td>
  <td>на рогу</td>
  <td>na rohu</td>
</tr>
<tr>
  <td>nie mogę znaleźć…</td>
  <td>не можу знайти</td>
  <td>ne moży znajty</td>
</tr>
<tr>
  <td>obok</td>
  <td>з боку</td>
  <td>z boku </td>
</tr>
<tr>
  <td>po lewej</td>
  <td>зліва </td>
  <td>zliwa</td>
</tr>
<tr>
  <td>po prawej</td>
  <td>справа</td>
  <td>sprawa</td>
</tr>
<tr>
  <td>pomiędzy</td>
  <td>між</td>
  <td>miż</td>
</tr>
<tr>
  <td>przed (czymś)</td>
  <td>перед (чимось)</td>
  <td>pered (czymos’)</td>
</tr>
<tr>
  <td>przejdź przez…</td>
  <td>пройди через</td>
  <td>projdy czerez</td>
</tr>
<tr>
  <td>skręć w lewo.</td>
  <td>поверни наліво</td>
  <td>powerny naliwo</td>
</tr>
<tr>
  <td>skręć w prawo.</td>
  <td>поверни направо</td>
  <td>powerny naprawo</td>
</tr>
<tr>
  <td>szukam…</td>
  <td>шукаю</td>
  <td>szukaju</td>
</tr>
<tr>
  <td>wejdź do…</td>
  <td>зайди в</td>
  <td>zajdy w</td>
</tr>
<tr>
  <td>wejdź schodami.</td>
  <td>підіймись сходами</td>
  <td>pidijmys’ schodamy</td>
</tr>
<tr>
  <td>wyjdź z…</td>
  <td>вийди з</td>
  <td>wyjdy z</td>
</tr>
<tr>
  <td>za (czymś)</td>
  <td>за (чимось)</td>
  <td>za (czymos’)</td>
</tr>
<tr>
  <td>zawróć</td>
  <td>розвернись</td>
  <td>rozwernys’</td>
</tr>
<tr>
  <td>zgubiłem się</td>
  <td>я заблукав/заблукала</td>
  <td>zablykaw/zablukala</td>
</tr>