<tr>
  <td>aula</td>
  <td>зал</td>
  <td>zal</td>
</tr>
<tr>
  <td>basen</td>
  <td>басейн</td>
  <td>basejn</td>
</tr>
<tr>
  <td>biblioteka</td>
  <td>бібліотека</td>
  <td>biblioteka</td>
</tr>
<tr>
  <td>boisko</td>
  <td>поле</td>
  <td>pole</td>
</tr>
<tr>
  <td>czytelnia</td>
  <td>читальний зал</td>
  <td>czytal’nyj zal</td>
</tr>
<tr>
  <td>droga ewakuacyjna</td>
  <td>шлях евакуації</td>
  <td>szliach ewakuacji</td>
</tr>
<tr>
  <td>drugie piętro</td>
  <td>другий (третій) поверх</td>
  <td>druhyj (trietyj) powerch</td>
</tr>
<tr>
  <td>gabinet</td>
  <td>кабінет</td>
  <td>kabinet</td>
</tr>
<tr>
  <td>gabinet dyrektora</td>
  <td>кабінет директора</td>
  <td>kabinet dyrektora</td>
</tr>
<tr>
  <td>gabinet pielęgniarski</td>
  <td>медпункт</td>
  <td>medpunkt</td>
</tr>
<tr>
  <td>gabinet psychologa</td>
  <td>кабінет психолога</td>
  <td>kabinet psycholoha</td>
</tr>
<tr>
  <td>klasa</td>
  <td>клас</td>
  <td>klas</td>
</tr>
<tr>
  <td>kort tenisowy</td>
  <td>тенісний корт</td>
  <td>tenisnyj kort</td>
</tr>
<tr>
  <td>korytarz</td>
  <td>коридор</td>
  <td>korydor</td>
</tr>
<tr>
  <td>laboratorium</td>
  <td>лабораторна</td>
  <td>laboratorna</td>
</tr>
<tr>
  <td>ogródek</td>
  <td>сад</td>
  <td>sad</td>
</tr>
<tr>
  <td>parking</td>
  <td>парковка, стоянка</td>
  <td>parkowka, stojanka</td>
</tr>
<tr>
  <td>parter</td>
  <td>перший поверх</td>
  <td>perszyj powerch</td>
</tr>
<tr>
  <td>pierwsze piętro</td>
  <td>перший (другий) поверх</td>
  <td>perszyj (druhyj) powerch</td>
</tr>
<tr>
  <td>piętro</td>
  <td>поверх</td>
  <td>powerch</td>
</tr>
<tr>
  <td>piwnica</td>
  <td>підвал</td>
  <td>pidwal</td>
</tr>
<tr>
  <td>plac zabaw</td>
  <td>дитячий майданчик</td>
  <td>dytiaczyj majdanczyk</td>
</tr>
<tr>
  <td>pokój nauczycielski</td>
  <td>учительська</td>
  <td>uczytel’ska</td>
</tr>
<tr>
  <td>przedsionek</td>
  <td>вестибюль</td>
  <td>westybjul’</td>
</tr>
<tr>
  <td>sala</td>
  <td>кабінет/клас</td>
  <td>kabinet/klas</td>
</tr>
<tr>
  <td>sala chóru</td>
  <td>кабінет для хору</td>
  <td>kabinet dlia choru</td>
</tr>
<tr>
  <td>sala komputerowa</td>
  <td>комп’ютерний клас</td>
  <td>kompjuternyj klas</td>
</tr>
<tr>
  <td>sala sportowa</td>
  <td>спортзал</td>
  <td>sportzal</td>
</tr>
<tr>
  <td>schody</td>
  <td>сходи</td>
  <td>schody</td>
</tr>
<tr>
  <td>schowek</td>
  <td>сховище</td>
  <td>schowyszcze</td>
</tr>
<tr>
  <td>sekretariat</td>
  <td>секретаріат</td>
  <td>sekretariat</td>
</tr>
<tr>
  <td>siłownia</td>
  <td>тренажерний зал</td>
  <td>trenażernyj zal</td>
</tr>
<tr>
  <td>sklepik</td>
  <td>магазинчик</td>
  <td>mahazynczyk</td>
</tr>
<tr>
  <td>stołówka</td>
  <td>їдальня</td>
  <td>jdal’nia</td>
</tr>
<tr>
  <td>toaleta</td>
  <td>туалет</td>
  <td>tualet</td>
</tr>
<tr>
  <td>strych</td>
  <td>горище</td>
  <td>horszcze</td>
</tr>
<tr>
  <td>szafki</td>
  <td>шафки</td>
  <td>szafky</td>
</tr>
<tr>
  <td>szkoła</td>
  <td>школа</td>
  <td>szkola</td>
</tr>
<tr>
  <td>świetlica</td>
  <td>кімната для дозвілля/ для загального доступу</td>
  <td>kimnata dlia dozwillia/ dlia zahal’noho dostupu</td>
</tr>
<tr>
  <td>wejście</td>
  <td>вхід</td>
  <td>wchid</td>
</tr>
<tr>
  <td>winda</td>
  <td>ліфт</td>
  <td>lift</td>
</tr>
<tr>
  <td>wyjście</td>
  <td>вихід</td>
  <td>wchid</td>
</tr>