<footer class="container layout-footer d-print-none d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <div class="col-md-4 d-flex align-items-center">
        <a href="/">
            Razemwszkole/ Разом у&nbsp;школі
        </a>
    </div>

    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
        <li class="ms-3">
            <a class="text-decoration-none" href="https://www.facebook.com/Razemwszkole/" target="_blank" rel="noopener">
                <span class="sr-only">
                    przejdź do strony facebook
                </span>
                <span class="icon-facebook"></span>
            </a>
        </li>
        <li class="ms-3">
            <a class="text-decoration-none" href="https://www.instagram.com/razemwszkole/" target="_blank" rel="noopener">
                <span class="sr-only">
                    przejdź do strony instagram"
                </span>
                <span class="icon-instagram"></span>
            </a>
        </li>
    </ul>
</footer>
<div class="layout-cookies" data-cookies-bar>
        <button
          class="section-cookies-btn"
          aria-label="Zamknij"
          data-close-cookies
        >
            +
        </button>
        <span class="cookies-title block">
            Polityka cookies / Політика cookies
        </span>
        <p class="mb-2">
    Korzystamy z plikow cookies i umozliwiamy zamieszczanie ich osobom trzecim. Pliki cookie pozwalaja na poznanie twoich preferencji na podstawie zachowan w serwisie. Uznajemy, ze jezeli kontynuujesz korzystanie z serwisu, wyrazasz na to zgode.
        </p>
        <p>
            Ми використовуємо файли Cookies і даємо можливість користатися з них третім особам. Файли Cookies дозволяють дізнатися твої вподобання на підставі твоїх дій на сторінці. Якщо ви продовжете користатися з цієї веб-сторінки то ви автоматично даєте на це згоду.
        </p>

</div>

