<div class="layout-cookies" data-cookies-bar>
    <p>
        <button class="section-cookies-btn" aria-label="Zamknij" data-close-cookies>
            +
        </button>
        <span class="cookies-title">Polityka cookies</span>
        <span>
            Korzystamy z plików cookies i umożliwiamy zamieszczanie ich osobom trzecim.
            Pliki cookie pozwalają na poznanie twoich preferencji na podstawie zachowań w serwisie.
            Uznajemy, że jeżeli kontynuujesz korzystanie z serwisu, wyrażasz na to zgodę.
            Poznaj szczegóły i możliwości zmiany ustawień w
            <a href="#" target="_blank" rel="noopener">
                Polityce Cookies
            </a>.
        </span>

    </p>
</div>
