<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                Razemwszkole
                <span class="sr-only ">
                    Razemwszkole
                </span>
            </a>
            <button class="navbar-toggler"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
            >
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Słówka / Словник
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <p class="mb-0 dropdown-item">
                                <b>
                                    Słownictwo ogólne/Базова лексика
                                </b>
                            </p>
                            <ul>
                                @@include("components/list-of-words-nav.html", {
                                    "list": [
                                        {
                                            "class": "",
                                            "link": "polecenia.html",
                                            "text": "Polecenia/Команди"
                                        },
                                        {
                                            "class": "",
                                            "link": "narzedzia.html",
                                            "text": "Narzędzia/Інструменти"
                                        },
                                        {
                                            "class": "",
                                            "link": "pomieszczenia-w-szkole.html",
                                            "text": "Pomieszczenia w szkole / Приміщення в школі"
                                        },
                                        {
                                            "class": "",
                                            "link": "polozenie-i-kierunki.html",
                                            "text": "Położenie i kierunki / Розташування та напрямки"
                                        },
                                        {
                                            "class": "",
                                            "link": "inne-zwroty.html",
                                            "text": "Inne zwroty / Інші фрази"
                                        }
                                    ]
                                })
                            </ul>
                            <p class="mb-0 mt-2 dropdown-item">
                                <b>
                                    Matematyka/Математика
                                </b>
                            </p>
                            <ul>
                                @@include("components/list-of-words-nav.html", {
                                "list": [
                                    {
                                        "class": "",
                                        "link": "polecenia.html",
                                        "text": "Polecenia/Команди"
                                    },
                                    {
                                        "class": "",
                                        "link": "podstawowe-pojecia-matematyka.html",
                                        "text": "Podstawowe pojęcia / Основні поняття"
                                    }
                                ]
                                })
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>