<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                Razemwszkole
                <span class="sr-only ">
                    Razemwszkole
                </span>
            </a>
            <button class="navbar-toggler"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
            >
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Słówka / Словник
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <div class="row">
                                <div class="col-12 col-md-6">
                                    <p class="mb-0 dropdown-item">
                                        <b>
                                            Słownictwo ogólne/Базова лексика
                                        </b>
                                    </p>
                                    <ul>
                                        @@include("components/list-of-words-nav.html", {
                                            "list": [
                                                {
                                                    "class": "",
                                                    "link": "zwroty-ogolne/polecenia.html",
                                                    "text": "Polecenia/Команди"
                                                },
                                                {
                                                    "class": "",
                                                    "link": "zwroty-ogolne/narzedzia.html",
                                                    "text": "Narzędzia/Інструменти"
                                                },
                                                {
                                                    "class": "",
                                                    "link": "zwroty-ogolne/pomieszczenia-w-szkole.html",
                                                    "text": "Pomieszczenia w szkole / шкільні приміщення"
                                                },
                                                {
                                                    "class": "",
                                                    "link": "zwroty-ogolne/droga.html",
                                                    "text": "Droga / шлях"
                                                },
                                                {
                                                    "class": "",
                                                    "link": "zwroty-ogolne/inne-zwroty.html",
                                                    "text": "Inne zwroty / Інші фрази"
                                                },
                                                {
                                                    "class": "",
                                                    "link": "zwroty-ogolne/pracownicy-szkoly.html",
                                                    "text": "Pracownicy szkoły/ працівники школи"
                                                },
                                                {
                                                    "class": "",
                                                    "link": "zwroty-ogolne/wyposazenie-sali.html",
                                                    "text": "Wyposażenie sali/ в кімнаті"
                                                }
                                            ]
                                        })
                                    </ul>
                                </div>
                                <div class="col-12 col-md-6">
                                    <p class="mb-0 dropdown-item">
                                        <b>
                                            Matematyka/Математика
                                        </b>
                                    </p>
                                    <ul>
                                        @@include("components/list-of-words-nav.html", {
                                        "list": [
                                            {
                                                "class": "",
                                                "link": "matematyka/polecenia.html",
                                                "text": "Polecenia/Команди"
                                            },
                                            {
                                                "class": "",
                                                "link": "matematyka/podstawowe-pojecia.html",
                                                "text": "Podstawowe pojęcia / Основні поняття"
                                            },
                                            {
                                                "class": "",
                                                "link": "matematyka/geometria.html",
                                                "text": "Geometria/Геометрія "
                                            },
                                            {
                                                "class": "",
                                                "link": "matematyka/analiza-funkcji.html",
                                                "text": "Analiza funkcji / Функціональний аналіз"
                                            },
                                            {
                                                "class": "",
                                                "link": "matematyka/jednostki.html",
                                                "text": "Jednostki/Oдиниці"
                                            }
                                        ]
                                        })
                                    </ul>
                                </div>
                                <div class="col-12 col-md-6">
                                    <p class="mb-0 mt-2 dropdown-item">
                                        <b>
                                            Plastyka/мистецтво
                                        </b>
                                    </p>
                                    <ul>
                                        @@include("components/list-of-words-nav.html", {
                                            "list": [
                                                {
                                                    "class": "",
                                                    "link": "plastyka/kolory-i-barwy.html",
                                                    "text": "Kolory i barwy/ кольори"
                                                },
                                                {
                                                    "class": "",
                                                    "link": "plastyka/przybory-i-materialy-plastyczne.html",
                                                    "text": "Przybory i materiały plastyczne / художні матеріали"
                                                },
                                                {
                                                    "class": "",
                                                    "link": "plastyka/malarstwo-rysunek-grafika.html",
                                                    "text": "Malarstwo, rysunek, grafika/ Живопис, малюнок, графіка"
                                                },
                                                {
                                                    "class": "",
                                                    "link": "plastyka/rzezba-i-architektura.html",
                                                    "text": "Rzeźba i architektura / Скульптура, архітектура"
                                                },
                                                {
                                                    "class": "",
                                                    "link": "plastyka/sztuka-w-zyciu-codziennym.html",
                                                    "text": "Sztuka w życiu codziennym/ Декоративно-ужиткове мистецтво"
                                                }
                                            ]
                                        })
                                    </ul>
                                </div>
                                <div class="col-12 col-md-6">
                                    <p class="mb-0 mt-2 dropdown-item">
                                        <b>
                                            Muzyka/музика
                                        </b>
                                    </p>
                                    <ul>
                                        @@include("components/list-of-words-nav.html", {
                                        "list": [
                                            {
                                                "class": "",
                                                "link": "muzyka/podstawowe-pojecia.html",
                                                "text": "Podstawowe pojęcia / Основні поняття"
                                            },
                                            {
                                                "class": "",
                                                "link": "muzyka/instrumenty-muzyczne.html",
                                                "text": "Instrumenty muzyczne / Mузичні інструменти"
                                            },
                                            {
                                                "class": "",
                                                "link": "muzyka/wystepy-i-utwory-muzyczne.html",
                                                "text": "Występy i utwory muzyczne / Виступи i музичні твори"
                                            }
                                        ]
                                        })
                                    </ul>
                                </div>
                                <div class="col-12 col-md-6">
                                    <p class="mb-0 mt-2 dropdown-item">
                                        <b>
                                            Język polski / Польська мова
                                        </b>
                                    </p>
                                    <ul>
                                        @@include("components/list-of-words-nav.html", {
                                        "list": [
                                            {
                                                "class": "",
                                                "link": "jezyk-polski/epoki-literackie.html",
                                                "text": "Epoki literackie / Літературні епохи"
                                            },
                                            {
                                                "class": "",
                                                "link": "jezyk-polski/rodzaje-literackie.html",
                                                "text": "Rodzaje literackie / Літературні види"
                                            },
                                            {
                                                "class": "",
                                                "link": "jezyk-polski/gatunki-literackie.html",
                                                "text": "Gatunki literackie / Літературні жанри"
                                            },
                                            {
                                                "class": "",
                                                "link": "jezyk-polski/czesci-mowy.html",
                                                "text": "Części mowy / Частини мови"
                                            },
                                            {
                                                "class": "",
                                                "link": "jezyk-polski/czesci-mowy.html",
                                                "text": "Części zdania / Члени печення"
                                            },
                                            {
                                                "class": "",
                                                "link": "jezyk-polski/znaki-interpunkcyjne.html",
                                                "text": "Znaki interpunkcyjne / Pозділові знаки"
                                            },
                                            {
                                                "class": "",
                                                "link": "jezyk-polski/gramatyka.html",
                                                "text": "Gramatyka/Граматика"
                                            },
                                            {
                                                "class": "",
                                                "link": "jezyk-polski/przypadki.html",
                                                "text": "Przypadki словоформа"
                                            },
                                            {
                                                "class": "",
                                                "link": "jezyk-polski/epika-liryka-dramat.html",
                                                "text": "Epika, liryka, dramat / епічна поезія, лірика, драма"
                                            },
                                            {
                                                "class": "",
                                                "link": "jezyk-polski/srodki-przekazu.html",
                                                "text": "Środki przekazu / засоби інформації"
                                            },
                                            {
                                                "class": "",
                                                "link": "jezyk-polski/inne.html",
                                                "text": "Inne/Іншe"
                                            }


                                        ]
                                        })
                                    </ul>
                                </div>
                                <div class="col-12 col-md-6">
                                    <p class="mb-0 mt-2 dropdown-item">
                                        <b>
                                            Historia/Історія
                                        </b>
                                    </p>
                                    <ul>
                                        @@include("components/list-of-words-nav.html", {
                                        "list": [
                                            {
                                                "class": "",
                                                "link": "historia/podstawowe-zagadnienia.html",
                                                "text": "Podstawowe zagadnienia / Основні поняття"
                                            },
                                            {
                                                "class": "",
                                                "link": "historia/od-piastow-do-jagiellonow.html",
                                                "text": "Od Piastów do Jagiellonów / Від П’ястів до Ягеллонів "
                                            },
                                            {
                                                "class": "",
                                                "link": "historia/wojny-i-upadek-rzeczypospolitej.html",
                                                "text": "Wojny i upadek Rzeczypospolitej / Війни та падіння Польщі"
                                            },
                                            {
                                                "class": "",
                                                "link": "historia/ku-wspolczesnej-polsce.html",
                                                "text": "Ku współczesnej Polsce / Назустріч сучасній Польщі"
                                            }

                                        ]
                                        })
                                    </ul>
                                </div>
                                <div class="col-12 col-md-6">
                                    <p class="mb-0 mt-2 dropdown-item">
                                        <b>
                                            Nazwy kontynentów / назви континентів
                                        </b>
                                    </p>
                                    <ul>
                                        @@include("components/list-of-words-nav.html", {
                                        "list": [
                                            {
                                                "class": "",
                                                "link": "geografia/nazwy-panstw-i-kontynentow.html",
                                                "text": "Nazwy kontynentów / назви континентів"
                                            },
                                            {
                                                "class": "",
                                                "link": "geografia/nazwy-planet.html",
                                                "text": "Nazwy planet / назви планет"
                                            },
                                            {
                                                "class": "",
                                                "link": "geografia/fazy-ksiezyca.html",
                                                "text": "Fazy Księżyca / фази Місяця"
                                            },
                                            {
                                                "class": "",
                                                "link": "geografia/strony-swiata.html",
                                                "text": "Strony świata / Сторони світу"
                                            },
                                            {
                                                "class": "",
                                                "link": "geografia/inne.html",
                                                "text": "Inne/Іншe"
                                            },
                                            {
                                                "class": "",
                                                "link": "geografia/forma-uksztaltowania-terenu.html",
                                                "text": "Forma ukształtowania terenu / Формa рельєфу"
                                            },
                                            {
                                                "class": "",
                                                "link": "geografia/oceany.html",
                                                "text": "Oceany/океани"
                                            }
                                        ]
                                        })
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>