<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="format-detection" content="telephone=no">
    <meta name="description" content="@@description">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <title>@@title</title>
    <link rel="stylesheet" href="@@css?v=1.0.8">
    <link rel="preload" href="/fonts/icomoon/icomoon.woff" as="font" type="font/woff" crossorigin>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-92WJ1YS7KL"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() {
  dataLayer.push(arguments);
}
        gtag("js", new Date());
        gtag("config", "G-92WJ1YS7KL");
    </script>
</head>
