<tr>
  <td>barwy ciepłe</td>
  <td>теплі барви</td>
  <td>tepli barwy</td>
</tr>
<tr>
  <td>barwy dopełniające</td>
  <td>доповняльні кольори</td>
  <td>dopownielni kolory</td>
</tr>
<tr>
  <td>barwy neutralne</td>
  <td>нейтральні барви</td>
  <td>nejtralni barwy</td>
</tr>
<tr>
  <td>barwy pochodne</td>
  <td>вторинні кольори</td>
  <td>wtorynni kolory</td>
</tr>
<tr>
  <td>barwy podstawowe</td>
  <td>основні кольори</td>
  <td>osnowni kolory</td>
</tr>
<tr>
  <td>barwy zimne</td>
  <td>холодні барви</td>
  <td>holodni barwy</td>
</tr>
<tr>
  <td>beżowy</td>
  <td>бежевий</td>
  <td>beżewyj</td>
</tr>
<tr>
  <td>biały</td>
  <td>білий</td>
  <td>bilyj</td>
</tr>
<tr>
  <td>blady</td>
  <td>блідий</td>
  <td>blidyj</td>
</tr>
<tr>
  <td>błękitny</td>
  <td>блакитний</td>
  <td>blakytnyj</td>
</tr>
<tr>
  <td>bordowy</td>
  <td>бордовий</td>
  <td>bordowyj</td>
</tr>
<tr>
  <td>brązowy</td>
  <td>коричневий</td>
  <td>korycznewyj</td>
</tr>
<tr>
  <td>ciemny</td>
  <td>темний</td>
  <td>temnyj</td>
</tr>
<tr>
  <td>czerwony</td>
  <td>червоний</td>
  <td>czerwonyj</td>
</tr>
<tr>
  <td>czarno-biały</td>
  <td>чорнo-білий</td>
  <td>czorno-bilyj</td>
</tr>
<tr>
  <td>czarny</td>
  <td>чорний</td>
  <td>czornyj</td>
</tr>
<tr>
  <td>fioletowy</td>
  <td>фіолетовий</td>
  <td>fioletowyj</td>
</tr>
<tr>
  <td>gama barw&nbsp;&nbsp;&nbsp;(wąska/szeroka)</td>
  <td>колірна гама </td>
  <td>kolirna hamma</td>
</tr>
<tr>
  <td>granatowy</td>
  <td>темно-синій</td>
  <td>temno-synij</td>
</tr>
<tr>
  <td>jasny</td>
  <td>світлий</td>
  <td>switlyj</td>
</tr>
<tr>
  <td>kontrast</td>
  <td>контраст</td>
  <td>kontrast</td>
</tr>
<tr>
  <td>kremowy</td>
  <td>кремовий</td>
  <td>kremowyj</td>
</tr>
<tr>
  <td>nasycenie</td>
  <td>насиченість</td>
  <td>nasyczenist</td>
</tr>
<tr>
  <td>niebieski</td>
  <td>голубий</td>
  <td>holubyj</td>
</tr>
<tr>
  <td>odcień</td>
  <td>відтінок </td>
  <td>widitnok</td>
</tr>
<tr>
  <td>pomarańczowy</td>
  <td>оранжевий</td>
  <td>oranżewyj</td>
</tr>
<tr>
  <td>przezroczysty</td>
  <td>прозорий</td>
  <td>prozoryj</td>
</tr>
<tr>
  <td>purpurowy</td>
  <td>пурпурний</td>
  <td>purpurnyj</td>
</tr>
<tr>
  <td>różowy</td>
  <td>рожевий</td>
  <td>rożewyj</td>
</tr>
<tr>
  <td>srebrny</td>
  <td>срібний</td>
  <td>sribnyy</td>
</tr>
<tr>
  <td>szary</td>
  <td>сірий</td>
  <td>siryy</td>
</tr>
<tr>
  <td>temperatura barw</td>
  <td>колірна температура</td>
  <td>kolirna temperatura</td>
</tr>
<tr>
  <td>turkusowy</td>
  <td>бірюзовий</td>
  <td>biryuzowyj</td>
</tr>
<tr>
  <td>wielobarwny</td>
  <td>різнокольоровий</td>
  <td>riznokolorowyj</td>
</tr>
<tr>
  <td>zielony</td>
  <td>зелений</td>
  <td>zelenyj</td>
</tr>
<tr>
  <td>złoty</td>
  <td>золотий</td>
  <td>zolotyj</td>
</tr>
<tr>
  <td>żółty</td>
  <td>жовтий</td>
  <td>żowtyj</td>
</tr>