<tr>
  <td>barwy ciepłe</td>
  <td>теплі барви</td>
  <td>tepli barwy</td>
</tr>
<tr>
  <td>barwy dopełniające</td>
  <td>доповняльні кольори</td>
  <td>dopownielni kolory</td>
</tr>
<tr>
  <td>barwy neutralne</td>
  <td>нейтральні барви</td>
  <td>nejtralni barwy</td>
</tr>
<tr>
  <td>barwy pochodne</td>
  <td>вторинні кольори</td>
  <td>wtorynni kolory</td>
</tr>
<tr>
  <td>barwy podstawowe</td>
  <td>основні кольори</td>
  <td>osnowni kolory</td>
</tr>
<tr>
  <td>barwy zimne</td>
  <td>холодні барви</td>
  <td>holodni barwy</td>
</tr>
<tr>
  <td>beżowy</td>
  <td>бежевий</td>
  <td>beżewyj</td>
</tr>
<tr>
  <td>biały</td>
  <td>білий</td>
  <td>bilyj</td>
</tr>
<tr>
  <td>blady</td>
  <td>блідий</td>
  <td>blidyj</td>
</tr>
<tr>
  <td>błękitny</td>
  <td>блакитний</td>
  <td>blakytnyj</td>
</tr>
<tr>
  <td>bordowy</td>
  <td>бордовий</td>
  <td>bordowyj</td>
</tr>
<tr>
  <td>brązowy</td>
  <td>коричневий</td>
  <td>korycznewyj</td>
</tr>
<tr>
  <td>ciemny</td>
  <td>темний</td>
  <td>temnyj</td>
</tr>
<tr>
  <td>czerwony</td>
  <td>червоний</td>
  <td>czerwonyj</td>
</tr>
<tr>
  <td>czarno-biały</td>
  <td>чорнo-білий</td>
  <td>czorno-bilyj</td>
</tr>