<tr>
  <td>abstrakcja</td>
  <td>абстракція</td>
  <td>abstrakcija</td>
</tr>
<tr>
  <td>akwaforta</td>
  <td>офорт</td>
  <td>ofort</td>
</tr>
<tr>
  <td>asymetria</td>
  <td>асиметрія</td>
  <td>asymetrija</td>
</tr>
<tr>
  <td>autoportret</td>
  <td>автопортрет </td>
  <td>awtoportret</td>
</tr>
<tr>
  <td>cień</td>
  <td>тінь</td>
  <td>tiń</td>
</tr>
<tr>
  <td>druk (płaski/wklęsły/wypukły)</td>
  <td>друк</td>
  <td>druk</td>
</tr>
<tr>
  <td>drzeworyt</td>
  <td>гравюра на дереві</td>
  <td>hrawjura na derewi</td>
</tr>
<tr>
  <td>frotaż</td>
  <td>фротаж</td>
  <td>frotaż</td>
</tr>
<tr>
  <td>kompozycja</td>
  <td>композиція</td>
  <td>kompozycija</td>
</tr>
<tr>
  <td>kontur</td>
  <td>контур </td>
  <td>kontur</td>
</tr>
<tr>
  <td>kreska</td>
  <td>лінія</td>
  <td>linija</td>
</tr>
<tr>
  <td>kształt</td>
  <td>форма</td>
  <td>forma</td>
</tr>
<tr>
  <td>linia</td>
  <td>лінія</td>
  <td>linija</td>
</tr>
<tr>
  <td>linoryt</td>
  <td>линогравюра</td>
  <td>lynohrawjura</td>
</tr>
<tr>
  <td>litografia</td>
  <td>літографія</td>
  <td>litohrafija</td>
</tr>
<tr>
  <td>malować</td>
  <td>малювати</td>
  <td>maljuwaty</td>
</tr>
<tr>
  <td>malowidła naskalne</td>
  <td>наскельні малюнки</td>
  <td>naskel’ni maljunky</td>
</tr>
<tr>
  <td>matryca</td>
  <td>матриця</td>
  <td>matrycia</td>
</tr>
<tr>
  <td>martwa natura</td>
  <td>натюрморт</td>
  <td>natjurmort</td>
</tr>
<tr>
  <td>obraz</td>
  <td>картина</td>
  <td>kartyna</td>
</tr>
<tr>
  <td>odbitka</td>
  <td>відбиток</td>
  <td>widbytok</td>
</tr>
<tr>
  <td>panorama</td>
  <td>панорама</td>
  <td>panorama</td>
</tr>
<tr>
  <td>pejzaż</td>
  <td>пейзаж</td>
  <td>pejzaż</td>
</tr>
<tr>
  <td>perspektywa</td>
  <td>перспектива</td>
  <td>perspektywa</td>
</tr>
<tr>
  <td>plama</td>
  <td>пляма</td>
  <td>pliama</td>
</tr>
<tr>
  <td>portret</td>
  <td>портрет</td>
  <td>portret</td>
</tr>
<tr>
  <td>projekt</td>
  <td>проект</td>
  <td>proekt</td>
</tr>
<tr>
  <td>reprodukcja</td>
  <td>репродукція</td>
  <td>reprodukcija</td>
</tr>
<tr>
  <td>rysować</td>
  <td>малювати</td>
  <td>maljuwaty</td>
</tr>
<tr>
  <td>symetria</td>
  <td>симетрія</td>
  <td>symetrija</td>
</tr>
<tr>
  <td>szkic</td>
  <td>ескіз</td>
  <td>eskiz</td>
</tr>
<tr>
  <td>światło</td>
  <td>світло</td>
  <td>switlo</td>
</tr>
<tr>
  <td>światłocień</td>
  <td>світлотінь</td>
  <td>switlotiń</td>
</tr>
<tr>
  <td>zasada równowagi</td>
  <td>правило рівноваги </td>
  <td>prawylo riwnowagi</td>
</tr>