<tr>
  <td>akwarele</td>
  <td>акварельні фарби</td>
  <td>akwarelni farby</td>
</tr>
<tr>
  <td>atrament</td>
  <td>чорнило</td>
  <td>czornylo</td>
</tr>
<tr>
  <td>blok rysunkowy</td>
  <td>альбом для малювання</td>
  <td>al’bom dlia maljuwannia</td>
</tr>
<tr>
  <td>blok techniczny</td>
  <td>альбом</td>
  <td>al’bom</td>
</tr>
<tr>
  <td>dłuto</td>
  <td>зубило</td>
  <td>zubylo</td>
</tr>
<tr>
  <td>drewno</td>
  <td>деревина</td>
  <td>derewyna</td>
</tr>
<tr>
  <td>farby plakatowe</td>
  <td>фарби гуаш</td>
  <td>farby huasz</td>
</tr>
<tr>
  <td>flamaster</td>
  <td>фломастер</td>
  <td>flomaster</td>
</tr>
<tr>
  <td>gips</td>
  <td>гіпс</td>
  <td>hips</td>
</tr>
<tr>
  <td>glina</td>
  <td>глина</td>
  <td>hlyna</td>
</tr>
<tr>
  <td>kalka</td>
  <td>калька</td>
  <td>kal’ka</td>
</tr>
<tr>
  <td>kamień</td>
  <td>камінь</td>
  <td>kamiń</td>
</tr>
<tr>
  <td>kredka</td>
  <td>олівець</td>
  <td>oliwec</td>
</tr>
<tr>
  <td>marmur</td>
  <td>мармур</td>
  <td>marmur</td>
</tr>
<tr>
  <td>masa papierowa</td>
  <td>паперова маса </td>
  <td>paperowa masa</td>
</tr>
<tr>
  <td>metal</td>
  <td>метал</td>
  <td>metal</td>
</tr>
<tr>
  <td>modelina</td>
  <td>полімерна глина</td>
  <td>polimerna hlyna</td>
</tr>
<tr>
  <td>nożyczki</td>
  <td>ножиці</td>
  <td>nożci</td>
</tr>
<tr>
  <td>papier</td>
  <td>папір</td>
  <td>papir</td>
</tr>
<tr>
  <td>pergamin</td>
  <td>пергамент</td>
  <td>perhament</td>
</tr>
<tr>
  <td>pędzel</td>
  <td>пензель </td>
  <td>penzel’</td>
</tr>
<tr>
  <td>plastelina</td>
  <td>пластилін</td>
  <td>plastylin</td>
</tr>
<tr>
  <td>płótno</td>
  <td>полотно</td>
  <td>polotno</td>
</tr>
<tr>
  <td>program graficzny</td>
  <td>графічна програма</td>
  <td>hraficzna prohrama</td>
</tr>
<tr>
  <td>rylec</td>
  <td>стилус</td>
  <td>stylus</td>
</tr>
<tr>
  <td>szkło</td>
  <td>скло</td>
  <td>sklo</td>
</tr>
<tr>
  <td>sztaluga</td>
  <td>мольберт </td>
  <td>mol’bert</td>
</tr>
<tr>
  <td>tkanina</td>
  <td>тканина</td>
  <td>taknyna</td>
</tr>
<tr>
  <td>tusz</td>
  <td>туш</td>
  <td>tusz</td>
</tr>
<tr>
  <td>węgiel</td>
  <td>вугілля</td>
  <td>wuhillia</td>
</tr>