<tr>
  <td>bryła</td>
  <td>брила</td>
  <td>bryla</td>
</tr>
<tr>
  <td>budowla</td>
  <td>будівля</td>
  <td>budiwlia</td>
</tr>
<tr>
  <td>faktura</td>
  <td>фактура</td>
  <td>faktura</td>
</tr>
<tr>
  <td>fasada</td>
  <td>фасад</td>
  <td>fasad</td>
</tr>
<tr>
  <td>fresk</td>
  <td>фреска</td>
  <td>freska</td>
</tr>
<tr>
  <td>głębokość</td>
  <td>глибина</td>
  <td>hlybyna</td>
</tr>
<tr>
  <td>instalacja</td>
  <td>інсталяція</td>
  <td>instaliacija</td>
</tr>
<tr>
  <td>katedra</td>
  <td>катедра</td>
  <td>katedra</td>
</tr>
<tr>
  <td>kolumna</td>
  <td>колона</td>
  <td>kolona</td>
</tr>
<tr>
  <td>materiał</td>
  <td>матеріал</td>
  <td>material</td>
</tr>
<tr>
  <td>odlew</td>
  <td>лиття</td>
  <td>lyttia</td>
</tr>
<tr>
  <td>płaskorzeźba</td>
  <td>барельєф</td>
  <td>barel’jef</td>
</tr>
<tr>
  <td>popiersie</td>
  <td>бюст</td>
  <td>bjest</td>
</tr>
<tr>
  <td>posąg</td>
  <td>статуя</td>
  <td>statuja</td>
</tr>
<tr>
  <td>przestrzeń</td>
  <td>простір</td>
  <td>prostir</td>
</tr>
<tr>
  <td>relief (wklęsły/wypukły)</td>
  <td>рельєф (заглибленний/ горельєф)</td>
  <td>rel’jef (zahlyblennyj/horel’jef)</td>
</tr>
<tr>
  <td>sklepienie</td>
  <td>склепіння</td>
  <td>sklepinnia</td>
</tr>
<tr>
  <td>szerokość</td>
  <td>ширина</td>
  <td>szyryna</td>
</tr>
<tr>
  <td>sztuka użytkowa</td>
  <td>побутове мистецтво</td>
  <td>pobutowe mystectwo</td>
</tr>
<tr>
  <td>tympanon</td>
  <td>тимпан</td>
  <td>tymapan</td>
</tr>
<tr>
  <td>trzy wymiary</td>
  <td>тривимірний простір</td>
  <td>trywymirnyj prostir</td>
</tr>
<tr>
  <td>witraż</td>
  <td>вітраж</td>
  <td>witraż</td>
</tr>
<tr>
  <td>wnętrze</td>
  <td>інтерєр</td>
  <td>interjer</td>
</tr>
<tr>
  <td>wysokość</td>
  <td>висота</td>
  <td>wysota</td>
</tr>