<tr>
  <td>ambalaż</td>
  <td>упаковка</td>
  <td>upakowka</td>
</tr>
<tr>
  <td>architektura wnętrz</td>
  <td>архітектура інтер’єру </td>
  <td>architektura interjeru</td>
</tr>
<tr>
  <td>estetyka</td>
  <td>естетика</td>
  <td>estetyka</td>
</tr>
<tr>
  <td>fotografia</td>
  <td>фотографія</td>
  <td>fotohrafija</td>
</tr>
<tr>
  <td>funkcjonalność</td>
  <td>функціональність</td>
  <td>funkcjonal’nist’</td>
</tr>
<tr>
  <td>galeria</td>
  <td>галерея</td>
  <td>halereja</td>
</tr>
<tr>
  <td>grafika komputerowa</td>
  <td>комп’ютерна графіка</td>
  <td>kompjuterna hrafika</td>
</tr>
<tr>
  <td>happening</td>
  <td>гепенінг</td>
  <td>heleninh</td>
</tr>
<tr>
  <td>kadr</td>
  <td>кадр</td>
  <td>kadr</td>
</tr>
<tr>
  <td>katalog</td>
  <td>каталог</td>
  <td>kataloh</td>
</tr>
<tr>
  <td>kostium</td>
  <td>костюм</td>
  <td>kostjum</td>
</tr>
<tr>
  <td>minimalizm</td>
  <td>мінімалізм</td>
  <td>minimalizm</td>
</tr>
<tr>
  <td>muzeum</td>
  <td>музей</td>
  <td>muzej</td>
</tr>
<tr>
  <td>ornament</td>
  <td>орнамент</td>
  <td>ornament</td>
</tr>
<tr>
  <td>performance</td>
  <td>перформанс</td>
  <td>performans</td>
</tr>
<tr>
  <td>reklama</td>
  <td>реклама </td>
  <td>reklama</td>
</tr>
<tr>
  <td>rekwizyt</td>
  <td>реквізит</td>
  <td>rekwizyt</td>
</tr>
<tr>
  <td>rękodzieło</td>
  <td>рукоділля</td>
  <td>rykodillia</td>
</tr>
<tr>
  <td>rzemiosło</td>
  <td>ремесло</td>
  <td>remeslo</td>
</tr>
<tr>
  <td>scenografia</td>
  <td>сценографія</td>
  <td>scenohrafija</td>
</tr>
<tr>
  <td>skansen</td>
  <td>скансен</td>
  <td>skansen</td>
</tr>
<tr>
  <td>sztuka ludowa</td>
  <td>народне мистецтво</td>
  <td>narodne mystectwo</td>
</tr>
<tr>
  <td>teatr</td>
  <td>театр</td>
  <td>teatr</td>
</tr>
<tr>
  <td>wernisaż</td>
  <td>вернісаж </td>
  <td>wernisaż</td>
</tr>