<section class="container">
  <section class="row">
    <div class="col-12">
      <h2 class="text-center mb-5">
        Lista kategorii / Перелік предметів
      </h2>
    </div>
    <div class="col-12 col-md-6">
      <h2 class="h4">
        Słownictwo ogólne/Базова лексика
      </h2>
      <ul>
        @@include("components/list-of-words.html", {
          "list": [
            {
              "class": "",
               "link": "/zwroty-ogolne/polecenia.html",
              "text": "Polecenia/Команди"
            },
            {
              "class": "",
               "link": "/zwroty-ogolne/narzedzia.html",
              "text": "Narzędzia/Інструменти"
            },
            {
              "class": "",
               "link": "/zwroty-ogolne/pomieszczenia-w-szkole.html",
              "text": "Pomieszczenia w szkole / шкільні приміщення"
            },
            {
              "class": "",
               "link": "/zwroty-ogolne/droga.html",
              "text": "Droga / шлях"
            },
            {
              "class": "",
               "link": "/zwroty-ogolne/inne-zwroty.html",
              "text": "Inne zwroty / Інші фрази"
            },
            {
              "class": "",
               "link": "/zwroty-ogolne/pracownicy-szkoly.html",
              "text": "Pracownicy szkoły/ працівники школи"
            },
            {
              "class": "",
               "link": "/zwroty-ogolne/wyposazenie-sali.html",
              "text": "Wyposażenie sali/ в кімнаті"
            }
          ]
        })
      </ul>

    </div>
    <div class="col-12 col-md-6">
      <h2 class="h4">
        Plastyka/мистецтво
      </h2>
      <ul>
        @@include("components/list-of-words.html", {
          "list": [
            {
              "class": "",
               "link": "/plastyka/kolory-i-barwy.html",
              "text": "Kolory i barwy/ кольори"
            },
            {
              "class": "",
               "link": "/plastyka/przybory-i-materialy-plastyczne.html",
              "text": "Przybory i materiały plastyczne / художні матеріали"
            },
            {
              "class": "",
               "link": "/plastyka/malarstwo-rysunek-grafika.html",
              "text": "Malarstwo, rysunek, grafika/ Живопис, малюнок, графіка"
            },
            {
              "class": "",
               "link": "/plastyka/rzezba-i-architektura.html",
              "text": "Rzeźba i architektura / Скульптура, архітектура"
            },
            {
              "class": "",
               "link": "/plastyka/sztuka-w-zyciu-codziennym.html",
              "text": "Sztuka w życiu codziennym/ Декоративно-ужиткове мистецтво"
            }
          ]
        })
      </ul>
    </div>
    <div class="col-12 col-md-6">
      <h2 class="h4">
        Muzyka/музика
      </h2>
      <ul>
        @@include("components/list-of-words.html", {
        "list": [
          {
            "class": "",
             "link": "/muzyka/podstawowe-pojecia.html",
            "text": "Podstawowe pojęcia / Основні поняття"
          },
          {
            "class": "",
             "link": "/muzyka/instrumenty-muzyczne.html",
            "text": "Instrumenty muzyczne / Mузичні інструменти"
          },
          {
            "class": "",
             "link": "/muzyka/wystepy-i-utwory-muzyczne.html",
            "text": "Występy i utwory muzyczne / Виступи i музичні твори"
          }
        ]
        })
      </ul>
    </div>
    <div class="col-12 col-md-6">
      <h2 class="h4">
        Matematyka/Математика
      </h2>
      <ul>
        @@include("components/list-of-words.html", {
        "list": [
          {
            "class": "",
             "link": "/matematyka/liczby.html",
            "text": "Liczby/Числа"
          },
          {
            "class": "",
             "link": "/matematyka/podstawowe-pojecia.html",
            "text": "Podstawowe pojęcia/Основні поняття "
          },
          {
            "class": "",
             "link": "/matematyka/geometria.html",
            "text": "Geometria/Геометрія "
          },
          {
            "class": "",
             "link": "/matematyka/analiza-funkcji.html",
            "text": "Analiza funkcji / Функціональний аналіз"
          },
          {
            "class": "",
             "link": "/matematyka/jednostki.html",
            "text": "Jednostki/Oдиниці"
          }
        ]
        })
      </ul>
    </div>

    <div class="col-12 col-md-6">
      <h2 class="h4">
        Historia/Історія
      </h2>
      <ul>
        @@include("components/list-of-words.html", {
        "list": [
          {
            "class": "",
             "link": "/historia/podstawowe-zagadnienia.html",
            "text": "Podstawowe zagadnienia / Основні поняття"
          },
          {
            "class": "",
             "link": "/historia/od-piastow-do-jagiellonow.html",
            "text": "Od Piastów do Jagiellonów / Від П’ястів до Ягеллонів "
          },
          {
            "class": "",
             "link": "/historia/wojny-i-upadek-rzeczypospolitej.html",
            "text": "Wojny i upadek Rzeczypospolitej / Війни та падіння Польщі"
          },
          {
            "class": "",
             "link": "/historia/ku-wspolczesnej-polsce.html",
            "text": "Ku współczesnej Polsce / Назустріч сучасній Польщі"
          }
        ]
        })
      </ul>
    </div>
    <div class="col-12 col-md-6">
      <h2 class="h4">
        Geografia/Географія
      </h2>
      <ul>
        @@include("components/list-of-words.html", {
        "list": [
          {
            "class": "",
             "link": "/geografia/nazwy-panstw-i-kontynentow.html",
            "text": "Nazwy państw i kontynentów / назви країн і континентів"
          },
          {
            "class": "",
             "link": "/geografia/nazwy-kontynentow.html",
            "text": "Nazwy kontynentów / назви континентів"
          },
          {
            "class": "",
             "link": "/geografia/nazwy-planet.html",
            "text": "Nazwy planet / назви планет"
          },
          {
            "class": "",
             "link": "/geografia/fazy-ksiezyca.html",
            "text": "Fazy Księżyca / фази Місяця"
          },
          {
            "class": "",
             "link": "/geografia/strony-swiata.html",
            "text": "Strony świata / Сторони світу"
          },
          {
            "class": "",
             "link": "/geografia/inne.html",
            "text": "Inne/Іншe"
          },
          {
            "class": "",
             "link": "/geografia/forma-uksztaltowania-terenu.html",
            "text": "Forma ukształtowania terenu / Формa рельєфу"
          },
          {
            "class": "",
             "link": "/geografia/oceany.html",
            "text": "Oceany/океани"
          }



        ]
        })
      </ul>

    </div>
    <div class="col-12 col-md-6">
      <h2 class="h4">
        Fizyka/Фізика
      </h2>
      <ul>
        @@include("components/list-of-words.html", {
        "list": [
            {
            "class": "",
             "link": "/fizyka/podstawowe-pojecia.html",
            "text": "Podstawowe pojęcia / Основні поняття "
          },
          {
            "class": "",
             "link": "/fizyka/wlasciwosci-i-budowa-materii.html",
            "text": "Właściwości i budowa materii / Властивості i структура матерії"
          },
          {
            "class": "",
             "link": "/fizyka/hydrostatyka-i-aerostatyka.html",
            "text": "Hydrostatyka i aerostatyka / Гідростатика i аеростатика"
          },
          {
            "class": "",
             "link": "/fizyka/kinematyka.html",
            "text": "Kinematyka/Кінематика"
          },
          {
            "class": "",
             "link": "/fizyka/dynamika.html",
            "text": "Dynamika/Динаміка"
          },
          {
            "class": "",
             "link": "/fizyka/praca-moc-energia.html",
            "text": "Praca, moc, energia / Робота, потужність, енергія"
          },
          {
            "class": "",
             "link": "/fizyka/termodynamika.html",
            "text": "Termodynamika/Термодинаміка"
          }

        ]
        })
      </ul>
  </div>
  <div class="col-12 col-md-6">
    <h2 class="h4">
      Chemia/Хімія
    </h2>
    <ul>
      @@include("components/list-of-words.html", {
      "list": [
        {
          "class": "",
           "link": "/chemia/podstawowe-pojecia.html",
          "text": "Podstawowe pojęcia / Основні поняття"
        },
        {
          "class": "",
           "link": "/chemia/sprzet-laboratoryjny.html",
          "text": "Sprzęt laboratoryjny / Лабораторне обладнання "
        },
        {
          "class": "",
           "link": "/chemia/stany-skupienia-i-przemiany-materii.html",
          "text": "Stany skupienia i przemiany materii / Агрегатний стан речовини та його зміни "
        },
        {
          "class": "",
           "link": "/chemia/wlasciwoci-substancji.html",
          "text": "Właściwości substancji / Властивості речовин"
        },
        {
          "class": "",
           "link": "/chemia/uklad-okresowy.html",
          "text": "Układ okresowy/Періодична система "
        },
        {
          "class": "",
           "link": "/chemia/chemia-organiczna.html",
          "text": "Chemia organiczna / Oрганічна хімія"
        }
      ]
      })
    </ul>
  </div>
    <div class="col-12 col-md-6">
      <h2 class="h4">
        Biologia/Біологія
      </h2>
      <ul>
        @@include("components/list-of-words.html", {
        "list": [
          {
            "class": "",
             "link": "/biologia/podstawowe-pojecia.html",
            "text": "Podstawowe pojęcia / основні поняття "
          },
          {
            "class": "",
             "link": "/biologia/organizmy-jednokomorkowe-i-wielokomorkowe.html",
            "text": "Organizmy jednokomórkowe i wielokomórkowe / Oрганізми oдноклітинні і багатоклітинні"
          },
          {
            "class": "",
             "link": "/biologia/kwiat.html",
            "text": "Kwiat/Квіткова рослина"
          },
          {
            "class": "",
             "link": "/biologia/streptofity.html",
            "text": "Streptofity/Вищі рослини"
          },
          {
            "class": "",
             "link": "/biologia/grzyby.html",
            "text": "Grzyby/Гриби"
          }


        ]
        })
      </ul>
    </div>
    <div class="col-12 col-md-6">
      <h2 class="h4">
        Język polski / Польська мова
      </h2>
      <ul>
        @@include("components/list-of-words.html", {
        "list": [
        {
        "class": "",
         "link": "/jezyk-polski/epoki-literackie.html",
        "text": "Epoki literackie / Літературні епохи"
        },
        {
        "class": "",
         "link": "/jezyk-polski/rodzaje-literackie.html",
        "text": "Rodzaje literackie / Літературні види"
        },
        {
        "class": "",
         "link": "/jezyk-polski/gatunki-literackie.html",
        "text": "Gatunki literackie / Літературні жанри"
        },
        {
        "class": "",
         "link": "/jezyk-polski/czesci-mowy.html",
        "text": "Części mowy / Частини мови"
        },
        {
        "class": "",
         "link": "/jezyk-polski/czesci-mowy.html",
        "text": "Części zdania / Члени печення"
        },
        {
        "class": "",
         "link": "/jezyk-polski/znaki-interpunkcyjne.html",
        "text": "Znaki interpunkcyjne / Pозділові знаки"
        },
        {
        "class": "",
         "link": "/jezyk-polski/gramatyka.html",
        "text": "Gramatyka/Граматика"
        },
        {
        "class": "",
         "link": "/jezyk-polski/przypadki.html",
        "text": "Przypadki словоформа"
        },
        {
        "class": "",
         "link": "/jezyk-polski/epika-liryka-dramat.html",
        "text": "Epika, liryka, dramat / епічна поезія, лірика, драма"
        },
        {
        "class": "",
         "link": "/jezyk-polski/srodki-przekazu.html",
        "text": "Środki przekazu / засоби інформації"
        },
        {
        "class": "",
         "link": "/jezyk-polski/inne.html",
        "text": "Inne/Іншe"
        }
        ]
        })
      </ul>
    </div>
    <div class="col-12 col-md-6">
      <h2 class="h4">
        Matura / Матура
      </h2>
      <ul>
        @@include("components/list-of-words.html", {
        "list": [
          {
            "class": "",
            "link": "/matura/slownictwo-ogolne.html",
            "text": "Słownictwo ogólne/Загальна лексика"
          }
        ]
        })
      </ul>
    </div>
    <div class="row d-print-none">
      <div class="col-12">
        <h3 class="mt-5 mb-5 text-center">
          <a href="https://drive.google.com/drive/folders/1ajNcOjHyXqRovvslTWZwqYK89H71BFLh?fbclid=IwAR1DK6K97meZYdLY0vvhLPCOjtDYt160UjZFHrOJa2T-zaIkjidPK5-kc3I" target="_blank" rel="noopener">
            Slownik w formacie PDF / Посилання на словник у форматі PDF
          </a>
        </h3>
      </div>
    </div>
</section>