<div class="container">
  <div class="row">
    <div class="col-12 col-md-6">
      <h2 class="h4">
        Słownictwo ogólne/Базова лексика
      </h2>
      <ul>
        @@include("components/list-of-words.html", {
          "list": [
            {
              "class": "",
              "link": "zwroty-ogolne/polecenia.html",
              "text": "Polecenia/Команди"
            },
            {
              "class": "",
              "link": "zwroty-ogolne/narzedzia.html",
              "text": "Narzędzia/Інструменти"
            },
            {
              "class": "",
              "link": "zwroty-ogolne/pomieszczenia-w-szkole.html",
              "text": "Pomieszczenia w szkole / Приміщення в школі"
            },
            {
              "class": "",
              "link": "zwroty-ogolne/polozenie-i-kierunki.html",
              "text": "Położenie i kierunki / Розташування та напрямки"
            },
            {
              "class": "",
              "link": "zwroty-ogolne/inne-zwroty.html",
              "text": "Inne zwroty / Інші фрази"
            }
          ]
        })
      </ul>

    </div>
    <div class="col-12 col-md-6">
      <h2 class="h4">
        Matematyka/Математика
      </h2>
      <ul>
        @@include("components/list-of-words.html", {
        "list": [
          {
            "class": "",
            "link": "matematyka/liczby.html",
            "text": "Liczby/Числа"
          },
          {
            "class": "",
            "link": "matematyka/podstawowe-pojecia.html",
            "text": "Podstawowe pojęcia/Основні поняття "
          }
        ]
        })
      </ul>

    </div>
  </div>

</div>
