<div class="container">
  <div class="row">
    <div class="col-12 col-md-6">
      <h2 class="h4">
        Słownictwo ogólne/Базова лексика
      </h2>
      <ul>
        @@include("components/list-of-words.html", {
          "list": [
            {
              "class": "",
              "link": "zwroty-ogolne/polecenia.html",
              "text": "Polecenia/Команди"
            },
            {
              "class": "",
              "link": "zwroty-ogolne/narzedzia.html",
              "text": "Narzędzia/Інструменти"
            },
            {
              "class": "",
              "link": "zwroty-ogolne/pomieszczenia-w-szkole.html",
              "text": "Pomieszczenia w szkole / шкільні приміщення"
            },
            {
              "class": "",
              "link": "zwroty-ogolne/droga.html",
              "text": "Droga / шлях"
            },
            {
              "class": "",
              "link": "zwroty-ogolne/inne-zwroty.html",
              "text": "Inne zwroty / Інші фрази"
            },
            {
              "class": "",
              "link": "zwroty-ogolne/pracownicy-szkoly.html",
              "text": "Pracownicy szkoły/ працівники школи"
            },
            {
              "class": "",
              "link": "zwroty-ogolne/wyposazenie-sali.html",
              "text": "Wyposażenie sali/ в кімнаті"
            }
          ]
        })
      </ul>

    </div>
    <div class="col-12 col-md-6">
      <h2 class="h4">
        Plastyka/мистецтво
      </h2>
      <ul>
        @@include("components/list-of-words.html", {
          "list": [
            {
              "class": "",
              "link": "plastyka/kolory-i-barwy.html",
              "text": "Kolory i barwy/ кольори"
            },
            {
              "class": "",
              "link": "plastyka/przybory-i-materialy-plastyczne.html",
              "text": "Przybory i materiały plastyczne / художні матеріали"
            },
            {
              "class": "",
              "link": "plastyka/malarstwo-rysunek-grafika.html",
              "text": "Malarstwo, rysunek, grafika/ Живопис, малюнок, графіка"
            },
            {
              "class": "",
              "link": "plastyka/rzezba-i-architektura.html",
              "text": "Rzeźba i architektura / Скульптура, архітектура"
            },
            {
              "class": "",
              "link": "plastyka/rzezba-i-architektura.html",
              "text": "Rzeźba i architektura / Скульптура, архітектура"
            },
            {
              "class": "",
              "link": "plastyka/sztuka-w-zyciu-codziennym.html",
              "text": "Sztuka w życiu codziennym/ Декоративно-ужиткове мистецтво"
            }
          ]
        })
      </ul>
    </div>
    <div class="col-12 col-md-6">
      <h2 class="h4">
        Muzyka/музика
      </h2>
      <ul>
        @@include("components/list-of-words.html", {
        "list": [
          {
            "class": "",
            "link": "muzyka/podstawowe-pojecia.html",
            "text": "Podstawowe pojęcia / Основні поняття"
          },
          {
            "class": "",
            "link": "muzyka/instrumenty-muzyczne.html",
            "text": "Instrumenty muzyczne / Mузичні інструменти"
          },
          {
            "class": "",
            "link": "muzyka/wystepy-i-utwory-muzyczne.html",
            "text": "Występy i utwory muzyczne / Виступи i музичні твори"
          }
        ]
        })
      </ul>
    </div>
    <div class="col-12 col-md-6">
      <h2 class="h4">
        Matematyka/Математика
      </h2>
      <ul>
        @@include("components/list-of-words.html", {
        "list": [
          {
            "class": "",
            "link": "matematyka/liczby.html",
            "text": "Liczby/Числа"
          },
          {
            "class": "",
            "link": "matematyka/podstawowe-pojecia.html",
            "text": "Podstawowe pojęcia/Основні поняття "
          },
          {
            "class": "",
            "link": "matematyka/geometria.html",
            "text": "Geometria/Геометрія "
          },
          {
            "class": "",
            "link": "matematyka/analiza-funkcji.html",
            "text": "Analiza funkcji / Функціональний аналіз"
          },
          {
            "class": "",
            "link": "matematyka/jednostki.html",
            "text": "Jednostki/Oдиниці"
          }
        ]
        })
      </ul>
    </div>
    <div class="col-12 col-md-6">
      <h2 class="h4">
        Język polski / Польська мова
      </h2>
      <ul>
        @@include("components/list-of-words.html", {
        "list": [
          {
            "class": "",
            "link": "jezyk-polski/epoki-literackie.html",
            "text": "Epoki literackie / Літературні епохи"
          },
          {
            "class": "",
            "link": "jezyk-polski/rodzaje-literackie.html",
            "text": "Rodzaje literackie / Літературні види"
          },
          {
            "class": "",
            "link": "jezyk-polski/gatunki-literackie.html",
            "text": "Gatunki literackie / Літературні жанри"
          },
          {
            "class": "",
            "link": "jezyk-polski/czesci-mowy.html",
            "text": "Części mowy / Частини мови"
          },
          {
            "class": "",
            "link": "jezyk-polski/czesci-mowy.html",
            "text": "Części zdania / Члени печення"
          },
          {
            "class": "",
            "link": "jezyk-polski/znaki-interpunkcyjne.html",
            "text": "Znaki interpunkcyjne / Pозділові знаки"
          },
          {
            "class": "",
            "link": "jezyk-polski/gramatyka.html",
            "text": "Gramatyka/Граматика"
          },
          {
            "class": "",
            "link": "jezyk-polski/przypadki.html",
            "text": "Przypadki словоформа"
          },
          {
            "class": "",
            "link": "jezyk-polski/epika-liryka-dramat.html",
            "text": "Epika, liryka, dramat / епічна поезія, лірика, драма"
          },
          {
            "class": "",
            "link": "jezyk-polski/srodki-przekazu.html",
            "text": "Środki przekazu / засоби інформації"
          },
          {
            "class": "",
            "link": "jezyk-polski/inne.html",
            "text": "Inne/Іншe"
          }




        ]
        })
      </ul>
    </div>
  </div>

</div>
