<div class="container">
  <div class="row">
    <div class="col-12">
      <p>
        <i>Po polsku…</i>
      </p>
      <p>
        Z&nbsp;ogromną radością przedstawiamy drugą wersję słownika <b>Razem w&nbsp;szkole</b>. Został stworzony z&nbsp;myślą o&nbsp;uczniach
        ukraińskojęzycznych, którzy podejmują naukę w polskich szkołach, i&nbsp;ich nauczycielach. Nasz zespół wolontariuszy,
        składający się ze studentów, uczniów oraz absolwentów uczelni, zadbał o&nbsp;wyodrębnienie często występujących słów
        i&nbsp;przedstawienie ich w&nbsp;praktycznej formie z&nbsp;oprawą graficzną. Druga odsłona ma również dodane słowa z&nbsp;nowych
        działów dotychczasowych przedmiotów. W&nbsp;słowniku znajduje się słownictwo z&nbsp;zakresu matematyki, fizyki, chemii,
        geografii, historii, a&nbsp;w&nbsp;nowym wydaniu również języka polskiego, biologii, muzyki i&nbsp;plastyki. Zachęcamy do
        intensywnego korzystania z&nbsp;materiałów, dzielenia się nimi i&nbsp;oznaczania naszego projektu <b>Razem w szkole</b>
        hashtagami #razemwszkole i&nbsp;#Разомушколі. Słownik będzie aktualizowany i&nbsp;wzbogacany w&nbsp;niedalekiej
        przyszłości.
      </p>
      <p>Można nas znaleźć:</p>
      <ul class="mb-5">
        <li>
          na Facebooku: <a href="https://www.facebook.com/Razemwszkole" target="_blank" rel="noopener nofollow noindex">facebook.com/Razemwszkole</a>
        </li>
        <li>
          na Instagramie: <a href="https://www.instagram.com/razemwszkole/" target="_blank"  rel="noopener nofollow noindex">https://www.instagram.com/razemwszkole/</a>
        </li>
      </ul>
      <p >
        <i> Українською… </i>
      </p>
      <p>
        З&nbsp;великою радістю представляємо першу версію словничка <b>Разом у&nbsp;школі</b>. Створеного з&nbsp;думкою про україномовних
        учнів, які почали навчатися у&nbsp;польських школах, та їхніх вчителів. Наша команда волонтерів, студенти, учні та
        випускники університетів, подбали про те, щоб виокремити та представити в&nbsp;зручній графічній формі слова, які
        часто зустрічаються в&nbsp;навчальних програмах. Словник містить слова та терміни з&nbsp;таких предметів як математика,
        фізика, хімія, географія та історія.
      </p>
      <p>
        Користуйтеся, поширюйте матеріали <b>Разом у&nbsp;школі</b> в&nbsp;соціальних мережах з&nbsp;хеш тегами #razemwszkole та
        #Разомушколі.
      </p>
      <p>
        Найближчим часом ми оновимо словничок та додамо нові слова.
      </p>
      <p>
        Нас можна знайти:
      </p>
      <ul>
        <li>
          на Facebooku: <a href="https://www.facebook.com/Razemwszkole">facebook.com/Razemwszkole</a>
        </li>
        <li>
          на Instagramie: <a href="https://www.instagram.com/razemwszkole/">https://www.instagram.com/razemwszkole/</a>
        </li>
      </ul>
    </div>
  </div>
</div>
