<section class="container table-container pb-5">
  <div class="row">
    <div class="col-sm">
      <h2 class="pt-3 mb-5 mt-5 text-center">
        Znajdź słowo / Знайди слово
      </h2>
      <div class="table-responsive js-table-all table-all-container">
        <table class="js-dtTableAll table table-all table-hidden-empty table-striped table-bordered table-sm">
          <thead>
          @@include("components/table/table-head.html", {
          "tableHeadList": [
          {
          "name": "Polski",
          "uk": "Українська",
          "ts": "Транскрипція"
          }
          ]
          })
          </thead>
          <tbody>
          @@include("components/vocabulary/biologia/grzyby.html")
          @@include("components/vocabulary/biologia/kwiat.html")
          @@include("components/vocabulary/biologia/organizmy-jednokomorkowe-i-wielokomorkowe.html")
          @@include("components/vocabulary/biologia/podstawowe-pojecia.html")
          @@include("components/vocabulary/biologia/streptofity.html")


          @@include("components/vocabulary/chemia/chemia-organiczna.html")
          @@include("components/vocabulary/chemia/podstawowe-pojecia.html")
          @@include("components/vocabulary/chemia/sprzet-laboratoryjny.html")
          @@include("components/vocabulary/chemia/stany-skupienia-i-przemiany-materii.html")
          @@include("components/vocabulary/chemia/wlasciwoci-substancji.html")


          @@include("components/vocabulary/fizyka/dynamika.html")
          @@include("components/vocabulary/fizyka/hydrostatyka-i-aerostatyka.html")
          @@include("components/vocabulary/fizyka/kinematyka.html")
          @@include("components/vocabulary/fizyka/podstawowe-pojecia.html")
          @@include("components/vocabulary/fizyka/praca-moc-energia.html")
          @@include("components/vocabulary/fizyka/termodynamika.html")
          @@include("components/vocabulary/fizyka/wlasciwosci-i-budowa-materii.html")


          @@include("components/vocabulary/geografia/fazy-ksiezyca.html")
          @@include("components/vocabulary/geografia/forma-uksztaltowania-terenu.html")
          @@include("components/vocabulary/geografia/inne.html")
          @@include("components/vocabulary/geografia/nazwy-kontynentow.html")
          @@include("components/vocabulary/geografia/nazwy-panstw-i-kontynentow.html")
          @@include("components/vocabulary/geografia/oceany.html")
          @@include("components/vocabulary/geografia/strony-swiata.html")


          @@include("components/vocabulary/historia/ku-wspolczesnej-polsce.html")
          @@include("components/vocabulary/historia/od-piastow-do-jagiellonow.html")
          @@include("components/vocabulary/historia/podstawowe-zagadnienia.html")
          @@include("components/vocabulary/historia/wojny-i-upadek-rzeczypospolitej.html")



          @@include("components/vocabulary/jezyk-polski/czesci-mowy.html")
          @@include("components/vocabulary/jezyk-polski/czesci-zdania.html")
          @@include("components/vocabulary/jezyk-polski/epika-liryka-dramat.html")
          @@include("components/vocabulary/jezyk-polski/epoki-literackie.html")
          @@include("components/vocabulary/jezyk-polski/gatunki-literackie.html")
          @@include("components/vocabulary/jezyk-polski/gramatyka.html")
          @@include("components/vocabulary/jezyk-polski/inne.html")
          @@include("components/vocabulary/jezyk-polski/przypadki.html")
          @@include("components/vocabulary/jezyk-polski/rodzaje-literackie.html")
          @@include("components/vocabulary/jezyk-polski/srodki-przekazu.html")
          @@include("components/vocabulary/jezyk-polski/znaki-interpunkcyjne.html")



          @@include("components/vocabulary/matematyka/analiza-funkcji.html")
          @@include("components/vocabulary/matematyka/geometria.html")
          @@include("components/vocabulary/matematyka/jednostki.html")
          @@include("components/vocabulary/matematyka/liczby.html")
          @@include("components/vocabulary/matematyka/podstawowe-pojecia.html")


          @@include("components/vocabulary/matura/slownictwo-ogolne.html")


          @@include("components/vocabulary/muzyka/instrumenty-muzyczne.html")
          @@include("components/vocabulary/muzyka/podstawowe-pojęcia.html")
          @@include("components/vocabulary/muzyka/wystepy-i-utwory-muzyczne.html")


          @@include("components/vocabulary/plastyka/kolory-i-barwy.html")
          @@include("components/vocabulary/plastyka/malarstwo-rysunek-grafika.html")
          @@include("components/vocabulary/plastyka/przybory-i-materialy-plastyczne.html")
          @@include("components/vocabulary/plastyka/rzezba-i-architektura.html")
          @@include("components/vocabulary/plastyka/sztuka-w-zyciu-codziennym.html")


          @@include("components/vocabulary/zwroty-ogolne/droga.html")
          @@include("components/vocabulary/zwroty-ogolne/inne-zwroty.html")
          @@include("components/vocabulary/zwroty-ogolne/narzedzia.html")
          @@include("components/vocabulary/zwroty-ogolne/polecenia.html")
          @@include("components/vocabulary/zwroty-ogolne/pomieszczenia-w-szkole.html")
          @@include("components/vocabulary/zwroty-ogolne/pracownicy-szkoly.html")
          @@include("components/vocabulary/zwroty-ogolne/wyposazenie-sali.html")



          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
