<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="table-responsive">
        <table class="table table-striped table-bordered table-sm table-how-to">
          <thead>
            <tr>
              @@include("components/table/table-head.html", {
              "tableHeadList": [
                {
                  "name": "Літера в польському алфавіті",
                  "uk": "Літера в українському алфавіті",
                  "ts": "Вимова (з записом за допомогою української мови)"
                }
              ]
              })
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                A, a
              </td>
              <td>
                A, a
              </td>
              <td>
                a
              </td>
            </tr>
            <tr>
              <td>
                Ą, ą
              </td>
              <td>
                Відсутність літери в алфавіті
              </td>
              <td>
                Вимова залежить від послідовної приголосної. Читаємо її як: <br>
                -	[ом] → після приголосних <br>
                б, бь, п, пь, напр. dąb (укр. дуб) - вимова: домб, <br>
                -	[он] → після приголосних d, t, d’, t’, dz, c, dzi, c’, напр. stąd (укр. звідти) - вимова: стонд, <br>
                -	[oń] → після приголосних, np. dź, ć, ź, ś, напр. bądź (укр. будь) - вимова: боньць, <br>
                -	[oŋ] → з н заднемовним, що звучить подібно до розширення й наголосу цієї букви, після приголосних g, k, напр., krąg (укр. коло) вимова: кронґ, <br>
                -	[ą] → назально, як поєднання букв «о» та «ł» (щось між «л» і «в»), напр. змія (укр. змія) - вимова: вąж. <br>
              </td>
            </tr>
            <tr>
              <td>
                B, b
              </td>
              <td>
                Б, б
              </td>
              <td>
                б
              </td>
            </tr>
            <tr>
              <td>
                C, c
              </td>
              <td>
                Ц, ц
              </td>
              <td>
                ц
              </td>
            </tr>
            <tr>
              <td>
                D, d
              </td>
              <td>
                Д, д
              </td>
              <td>
                д
              </td>
            </tr>
            <tr>
              <td>
                E, e
              </td>
              <td>
                E, e
              </td>
              <td>
                e
              </td>
            </tr>
            <tr>
              <td>
                Ę, ę
              </td>
              <td>
                Відсутність літери в алфавіті
              </td>
              <td>
                Вимова залежить від послідовної приголосної. <br>
                -	[em] → після приголосних, np. б, б’, п, п’, напр. tępy (укр. тупий)  - вимова: темпи,  <br>
                -	[en] → після приголосних d, t, d’, t’, dz, c, dzi, c’, напр.  ręce (укр. руки) - вимова: ренце,  <br>
                -	[eń] → після приголосних, напр.  dź, ć, ź, ś, напр. cięcie (укр. різання) - вимова: ціеньціе,  <br>
                -	[eŋ] → з н заднемовним, що звучить подібно до розширення й наголосу цієї букви, після приголосних g, k, напр. ręka (укр. рука) - вимова: ренка,  <br>
                -	[ę] → назально, як поєднання букв «e» i «ł» (щось між «л» і «в»), напр. kęs (укр. кусати)  - вимова кęс.

              </td>
            </tr>
            <tr>
              <td>
                F,f
              </td>
              <td>
                Ф, ф
              </td>
              <td>
                ф
              </td>
            </tr>
            <tr>
              <td>
                G, g
              </td>
              <td>
                Ґ, ґ
              </td>
              <td>
                ґ
              </td>
            </tr>
            <tr>
              <td>
                H, h або Ch, ch <br><br>
                (У польській мові це така сама буква, хоча записується диграфом.
                Обидва записи мають значення лише для правопису і не впливають на вимову)
              </td>
              <td>
                Х, х
              </td>
              <td>
                г
              </td>
            </tr>
          </tbody>
        </table>
    </div>
  </div>
</div>
