<picture @@if(context.class) {class="@@class"} @@if(context.dataAttrs){@@dataAttrs}>
    @@if(context.respImage){
        <source
          srcset="@@src-placeholder.webp"
          data-lazy-src="@@src.avif"
          type="image/avif"
          media="(min-width: 1024px)"
          @@if(context.picWidthHeight){@@picWidthHeight}
        >
        <source
          srcset="@@src-placeholder.webp"
          data-lazy-src="@@srcSmall.avif"
          type="image/avif"
          media="(max-width: 1023px)"
          @@if(context.picWidthHeightMob){@@picWidthHeightMob}
        >
        <source
          srcset="@@src-placeholder.webp"
          data-lazy-src="@@src.webp"
          type="image/webp"
          media="(min-width: 1024px)"
          @@if(context.picWidthHeight){@@picWidthHeight}
        >
        <source
          srcset="@@src-placeholder.webp"
          data-lazy-src="@@srcSmall.webp"
          type="image/webp"
          media="(max-width: 1023px)"
          @@if(context.picWidthHeightMob){@@picWidthHeightMob}
        >
    }

    @@if(!context.respImage){
        <source
          srcset="@@src-placeholder.png"
          data-lazy-src="@@src.avif"
          type="image/avif"
        >
        <source
          srcset="@@src-placeholder.webp"
          data-lazy-src="@@src.webp"
          type="image/webp"
        >
    }
    <img
      src="@@src-placeholder.@@ext"
      data-lazy-src="@@src.@@ext"
      alt="@@alt"
      @@if(context.picWidthHeight){@@picWidthHeight}
    >
</picture>
