<tr>
  <td>czasownik</td>
  <td>дієслово</td>
  <td>dijeslowo</td>
</tr>
<tr>
  <td>imiesłów przymiotnikowy</td>
  <td>дієприкметник</td>
  <td>dijeprykmetnyk</td>
</tr>
<tr>
  <td>imiesłów przysłówkowy</td>
  <td>дієприслівник</td>
  <td>dijeprysliwnyk</td>
</tr>
<tr>
  <td>liczebnik</td>
  <td>числівник</td>
  <td>czysliwnyk</td>
</tr>
<tr>
  <td>partykuła</td>
  <td>частка</td>
  <td>czastka</td>
</tr>
<tr>
  <td>przyimek</td>
  <td>прийменник</td>
  <td>pryjmennyk</td>
</tr>
<tr>
  <td>przymiotnik</td>
  <td>прикметник</td>
  <td>prykmetnyk</td>
</tr>
<tr>
  <td>przysłówek</td>
  <td>прислівник</td>
  <td>prysliwnyk</td>
</tr>
<tr>
  <td>rzeczownik</td>
  <td>іменник</td>
  <td>imennyk</td>
</tr>
<tr>
  <td>spójnik</td>
  <td>сполучник</td>
  <td>spolucznyk</td>
</tr>
<tr>
  <td>wykrzyknik</td>
  <td>вигук</td>
  <td>wyhuk</td>
</tr>
<tr>
  <td>zaimek</td>
  <td>займенник</td>
  <td>zajmennyk</td>
</tr>