<tr>
  <td>narrator</td>
  <td>оповідач</td>
  <td>opowidacz</td>
</tr>
<tr>
  <td>narracja</td>
  <td>розповідь</td>
  <td>rozpowid’</td>
</tr>
<tr>
  <td>akcja</td>
  <td>дія</td>
  <td>dija</td>
</tr>
<tr>
  <td>fabuła</td>
  <td>фабула</td>
  <td>fabula</td>
</tr>
<tr>
  <td>wątek</td>
  <td>сюжет</td>
  <td>sjużet</td>
</tr>
<tr>
  <td>epizod</td>
  <td>епізод</td>
  <td>enizod</td>
</tr>
<tr>
  <td>prolog</td>
  <td>пролог</td>
  <td>proloh</td>
</tr>
<tr>
  <td>bohater/bohaterka</td>
  <td>герой/героїня</td>
  <td>heroj/herojinia</td>
</tr>
<tr>
  <td>opis</td>
  <td>опис</td>
  <td>opys</td>
</tr>
<tr>
  <td>opowiadanie</td>
  <td>оповідання</td>
  <td>opowidannia</td>
</tr>
<tr>
  <td>dialog</td>
  <td>діалог</td>
  <td>dialoh</td>
</tr>
<tr>
  <td>monolog</td>
  <td>монолог</td>
  <td>monoloh</td>
</tr>
<tr>
  <td>punkt widzenia</td>
  <td>точка зору</td>
  <td>toczka zoru</td>
</tr>
<tr>
  <td>charakterystyka</td>
  <td>характеристика</td>
  <td>charakterystyka</td>
</tr>
<tr>
  <td>świat przedstawiony</td>
  <td>сетинг</td>
  <td>setynh</td>
</tr>
<tr>
  <td>podmiot liryczny</td>
  <td>ліричний субєкт </td>
  <td>lirycznyj subjekt</td>
</tr>
<tr>
  <td>wers</td>
  <td>рядок, вірш</td>
  <td>rjadok, wirsz</td>
</tr>
<tr>
  <td>zwrotka, strofa</td>
  <td>строфа</td>
  <td>strofa</td>
</tr>
<tr>
  <td>rym</td>
  <td>рима</td>
  <td>ryma</td>
</tr>
<tr>
  <td>rytm</td>
  <td>ритм</td>
  <td>rytm</td>
</tr>
<tr>
  <td>sylaba</td>
  <td>склад</td>
  <td>sklad</td>
</tr>
<tr>
  <td>dramat</td>
  <td>драма</td>
  <td>drama</td>
</tr>
<tr>
  <td>akt</td>
  <td>акт</td>
  <td>akt</td>
</tr>
<tr>
  <td>scena</td>
  <td>сцена</td>
  <td>scena</td>
</tr>
<tr>
  <td>didaskalia</td>
  <td>дидаскалія</td>
  <td>dydaskalija</td>
</tr>
<tr>
  <td>zasada trzech jedności</td>
  <td>правило трьох єдностей</td>
  <td>prawylo trioch jednostej</td>
</tr>
<tr>
  <td>rola</td>
  <td>роль</td>
  <td>rol’</td>
</tr>
<tr>
  <td>scenariusz</td>
  <td>сценарій</td>
  <td>scenarij</td>
</tr>
<tr>
  <td>scenografia</td>
  <td>сценографія</td>
  <td>scenohrafija</td>
</tr>
<tr>
  <td>reżyseria</td>
  <td>режисура</td>
  <td>reżysura</td>
</tr>