<tr>
  <td><b>ANTYK/STAROŻYTNOŚĆ</b></td>
  <td><b>СТАРОДАВНІЙ СВІТ</b></td>
  <td><b>starodawnij swit</b></td>
</tr>
<tr>
  <td>Starożytna Grecja</td>
  <td>Старода́вня Гре́ція</td>
  <td>starodawnia hrecija</td>
</tr>
<tr>
  <td>Starożytny Rzym</td>
  <td>Стародавній Рим</td>
  <td>starodawnij rym</td>
</tr>
<tr>
  <td>Mitologia</td>
  <td>Міфологія</td>
  <td>mifolohija</td>
</tr>
<tr>
  <td>mit</td>
  <td>міф</td>
  <td>mif</td>
</tr>
<tr>
  <td>epikureizm</td>
  <td>eпікурейство</td>
  <td>epikurejstwo</td>
</tr>
<tr>
  <td>stoicyzm</td>
  <td>cтоїцизм</td>
  <td>stojicyzm</td>
</tr>
<tr>
  <td>hedonizm</td>
  <td>гедонізм</td>
  <td>hedonizm</td>
</tr>
<tr>
  <td>Platon</td>
  <td>Платон</td>
  <td>platon</td>
</tr>
<tr>
  <td>Arystoteles</td>
  <td>Арістотель </td>
  <td>aristotel’</td>
</tr>
<tr>
  <td>Sokrates</td>
  <td>Сократ</td>
  <td>sokrat</td>
</tr>
<tr>
  <td>Homer</td>
  <td>Гомер</td>
  <td>homer</td>
</tr>
<tr>
  <td>“Odyseja”</td>
  <td>“Одіссея”</td>
  <td>oddiseja</td>
</tr>
<tr>
  <td>“Iliada”</td>
  <td>“Іліада”</td>
  <td>iliada</td>
</tr>
<tr>
  <td><b>ŚREDNIOWIECZE</b></td>
  <td><b>СЕРЕДНЬОВІЧЧЯ</b></td>
  <td><b>seredniowiczczia</b></td>
</tr>
<tr>
  <td>scholastyka</td>
  <td>cхоластика</td>
  <td>scholastyka</td>
</tr>
<tr>
  <td>teocentryzm</td>
  <td>теоцентризм</td>
  <td>teocentryzm </td>
</tr>
<tr>
  <td>gotyk/styl gotycki</td>
  <td>го́тика/готичний стиль</td>
  <td>hotyka hotycznyj styl’</td>
</tr>
<tr>
  <td>franciszkanizm</td>
  <td>францисканство</td>
  <td>francyskanstwo</td>
</tr>
<tr>
  <td>augustynizm</td>
  <td>aвгустинізм</td>
  <td>awhustynizm</td>
</tr>
<tr>
  <td>św. Tomasz z&nbsp;&nbsp;&nbsp;Akwinu</td>
  <td>Святий Тома́ Аквінський</td>
  <td>Swiatyj Toma Akwins’kyj</td>
</tr>

<tr>
  <td><b>RENESANS</b></td>
  <td><b>РЕНЕСАНС</b></td>
  <td><b>renesans</b></td>
</tr>
<tr>
  <td>Odrodzenie</td>
  <td>відродження</td>
  <td>widrodżennia</td>
</tr>
<tr>
  <td>William Szekspir</td>
  <td>Вільям Шекспір</td>
  <td>wil’iam szekspir</td>
</tr>
<tr>
  <td>“Romeo i Julia”</td>
  <td>“Ромео і Джульєтта”</td>
  <td>romeo i dżul’ietta</td>
</tr>
<tr>
  <td>“Hamlet”</td>
  <td>“Гамлет”</td>
  <td>hamlet</td>
</tr>
<tr>
  <td>“Makbet”</td>
  <td>“Макбет”</td>
  <td>makbet</td>
</tr>
<tr>
  <td>humanizm</td>
  <td>гуманізм</td>
  <td>humanizm</td>
</tr>
<tr>
  <td>reformacja</td>
  <td>pеформація</td>
  <td>reformacija</td>
</tr>
<tr>
  <td>luteranizm</td>
  <td>лютеранство</td>
  <td>liuteranstwo</td>
</tr>
<tr>
  <td>kalwinizm</td>
  <td>кальвінізм</td>
  <td>kal’winizm</td>
</tr>
<tr>
  <td>protestantyzm</td>
  <td>протестантизм</td>
  <td>protestanizm</td>
</tr>
<tr>
  <td>chrześcijaństwo</td>
  <td>xристиянство</td>
  <td>chrystyjanstwo</td>
</tr>
<tr>
  <td>katolicyzm</td>
  <td>католицизм</td>
  <td>katolycyzm</td>
</tr>
<tr>
  <td>Marcin Luter</td>
  <td>Мартін Лютер</td>
  <td>martin liuter</td>
</tr>
<tr>
  <td>antropocentryzm</td>
  <td>aтропоцентризм</td>
  <td>atropocentryzm</td>
</tr>

<tr>
  <td><b>BAROK</b></td>
  <td><b>БАРОКО</b> </td>
  <td><b>baroko</b></td>
</tr>
<tr>
  <td>M. Cervantes “Don&nbsp;&nbsp;&nbsp;Kichot”</td>
  <td>M. де Сервантес Сааведра “Дон Кіхот”</td>
  <td>M. de serwantes saawedra don kichot</td>
</tr>
<tr>
  <td>Molier “Świętoszek”</td>
  <td>Мольєр “Тартюф, або дурисвіт”</td>
  <td>mol’jer tartiuf, abo duryswit</td>
</tr>
<tr>
  <td>konceptyzm</td>
  <td>консептизм</td>
  <td>konseptyzm</td>
</tr>
<tr>
  <td>kontrreformacja</td>
  <td>Контрреформація</td>
  <td>kontrreformacia</td>
</tr>
<tr>
  <td>sarmatyzm</td>
  <td>cарматизм</td>
  <td>sarmatyzm</td>
</tr>
<tr>
  <td>marinizm</td>
  <td>маринізм</td>
  <td>marynizm</td>
</tr>
<tr>
  <td>mistycyzm</td>
  <td>містицизм</td>
  <td>mistycyzm</td>
</tr>
<tr>
  <td>klasycyzm</td>
  <td>класицизм</td>
  <td>klasycyzm</td>
</tr>
<tr>
  <td>indeks ksiąg&nbsp;&nbsp;&nbsp;zakazanych</td>
  <td>Íндекс заборо́нених книг </td>
  <td>indeks zaboronenych knyh</td>
</tr>
<tr>
  <td><b>OŚWIECENIE</b></td>
  <td><b>ПРОСВІТНИЦТВО</b></td>
  <td><b>proswitnyctwo</b></td>
</tr>
<tr>
  <td>Daniel Defoe „Robinson Crusoe”</td>
  <td>Данієль Дефо “Робінзон Крузо”</td>
  <td>danijel’ defo robinzon kruzo</td>
</tr>
<tr>
  <td>Jonathan Swift&nbsp;&nbsp;&nbsp;„Podróże Guliwera”</td>
  <td>Джонатан Свіфт “Мандри Гулівера”</td>
  <td>dżonatan swift mandry huliwera</td>
</tr>
<tr>
  <td>Encyklopedia</td>
  <td>Енциклопедія</td>
  <td>encylkopedia</td>
</tr>
<tr>
  <td>racjonalizm</td>
  <td>раціоналізм</td>
  <td>racionalizm</td>
</tr>
<tr>
  <td>liberalizm</td>
  <td>лібералізм</td>
  <td>liberalizm</td>
</tr>
<tr>
  <td>John Locke</td>
  <td>Джон Лок</td>
  <td>dżon lok</td>
</tr>
<tr>
  <td>tabula rasa</td>
  <td>табуля ра́са</td>
  <td>tabulia rasa</td>
</tr>
<tr>
  <td>ateizm</td>
  <td>aтеїзм</td>
  <td>atejizm</td>
</tr>
<tr>
  <td>deizm</td>
  <td>деїзм</td>
  <td>dejizm</td>
</tr>
<tr>
  <td>agnostycyzm</td>
  <td>aгностицизм</td>
  <td>ahnostycyzm</td>
</tr>
<tr>
  <td>rokoko</td>
  <td>pококо</td>
  <td>rokoko</td>
</tr>
<tr>
  <td>sentymentalizm</td>
  <td>cентименталізм</td>
  <td>syntementalizm</td>
</tr>
<tr>
  <td>Immanuel Kant</td>
  <td>Іммануїл Кант</td>
  <td>immanujil kant</td>
</tr>
<tr>
  <td>Jean-Jacques Rousseau</td>
  <td>Жан-Жак Руссо́</td>
  <td>żan żak russo</td>
</tr>
<tr>
  <td><b>ROMANTYZM</b></td>
  <td><b>РОМАНТИЗМ</b></td>
  <td><b>romantyzm</b></td>
</tr>
<tr>
  <td>Goethe “Cierpienia&nbsp;&nbsp;&nbsp;młodego Wertera”, “Faust”</td>
  <td>фон Гете “Страждання молодого Вертера”,&nbsp;&nbsp;&nbsp;“Фауст”</td>
  <td>fon hete strażdannia molodoho wertera faust</td>
</tr>
<tr>
  <td>idealizm</td>
  <td>Ідеалізм</td>
  <td>idealizm</td>
</tr>
<tr>
  <td>irracjonalizm</td>
  <td>Ірраціоналізм</td>
  <td>irracionalizm</td>
</tr>
<tr>
  <td>orientalizm</td>
  <td>орієнталізм</td>
  <td>orijentalizm</td>
</tr>
<tr>
  <td><b>POZYTYWIZM</b></td>
  <td><b>ПОЗИТИВІ́ЗМ</b> </td>
  <td><b>pozytywizm</b></td>
</tr>
<tr>
  <td>ewolucjonizm</td>
  <td>cоціа́льна еволю́ція</td>
  <td>social’na ewoliucia</td>
</tr>
<tr>
  <td>organicyzm</td>
  <td>органіцизм</td>
  <td>ophanicyzm</td>
</tr>
<tr>
  <td>naturalizm</td>
  <td>натуралізм</td>
  <td>naturalizm</td>
</tr>
<tr>
  <td>realizm</td>
  <td>реалізм</td>
  <td>realizm</td>
</tr>
<tr>
  <td>scjentyzm</td>
  <td>сцієнтизм</td>
  <td>scijentyzm</td>
</tr>
<tr>
  <td>utylitaryzm</td>
  <td>yтилітаризм</td>
  <td>utylitaryzm</td>
</tr>
<tr>
  <td>Auguste Comte</td>
  <td>Оґюст Конт</td>
  <td>ogjust kont</td>
</tr>
<tr>
  <td>Młoda Polska</td>
  <td>Молода Польща</td>
  <td>moloda pol’szcza</td>
</tr>
<tr>
  <td>Secesja</td>
  <td>модерн</td>
  <td>modern</td>
</tr>

<tr>
  <td><b>DWUDZIESTOLECIE MIĘDZYWOJENNE</b></td>
  <td><b>МІЖВОЄННИЙ ПЕРІОД</b></td>
  <td><b>miżwojennyj period</b></td>
</tr>
<tr>
  <td>abstrakcjonizm</td>
  <td>aбстракціонізм</td>
  <td>abstrakcionizm</td>
</tr>
<tr>
  <td>kubizm</td>
  <td>кубізм</td>
  <td>kubizm</td>
</tr>
<tr>
  <td>futuryzm</td>
  <td>футуризм</td>
  <td>futuryzm</td>
</tr>
<tr>
  <td>dadaizm</td>
  <td>дадаїзм</td>
  <td>dodajizm</td>
</tr>
<tr>
  <td>behawioryzm</td>
  <td>біxевіоризм</td>
  <td>bihewioryzm</td>
</tr>
<tr>
  <td>dystopia</td>
  <td>aнтиутопія</td>
  <td>antytopija</td>
</tr>
<tr>
  <td>surrealizm</td>
  <td>cюрреалізм</td>
  <td>siurrealizm</td>
</tr>
<tr>
  <td><b>LITERATURA&nbsp;&nbsp;&nbsp;WSPÓŁCZESNA</b></td>
  <td><b>СУЧАСНА ЛІТЕРАТУРА</b></td>
  <td><b>suczasna literatura</b></td>
</tr>
<tr>
  <td>Jerome David&nbsp;&nbsp;&nbsp;Salinger "Buszujący w zbożu”</td>
  <td>Джером Девід Селінджер “Ловець у житі”</td>
  <td>dżerom dewid selindżer loweć u żyti</td>
</tr>
<tr>
  <td>Albert Camus&nbsp;&nbsp;&nbsp;“Dżuma”</td>
  <td>Альбер Камю “Чума”</td>
  <td>al’ber kamiu czuma</td>
</tr>
<tr>
  <td>Ernest Hemingway&nbsp;&nbsp;&nbsp;„Stary człowiek i morze”</td>
  <td>Ернест Хемінгуей “Старий і море”</td>
  <td>ernest cheminhuej staryj i more</td>
</tr>
<tr>
  <td>socrealizm</td>
  <td>соцреалізм</td>
  <td>socrealizm</td>
</tr>
<tr>
  <td>neoklasycyzm</td>
  <td>неокласицизм</td>
  <td>neoklasycyzm</td>
</tr>