<tr>
  <td>apokalipsa</td>
  <td>апокаліпсис </td>
  <td>apokalipsys</td>
</tr>
<tr>
  <td>bajka</td>
  <td>казка</td>
  <td>kazka</td>
</tr>
<tr>
  <td>ballada</td>
  <td>балада</td>
  <td>balada</td>
</tr>
<tr>
  <td>baśń</td>
  <td>байка</td>
  <td>bajka</td>
</tr>
<tr>
  <td>epos</td>
  <td>епос</td>
  <td>epos</td>
</tr>
<tr>
  <td>esej</td>
  <td>есе</td>
  <td>ese</td>
</tr>
<tr>
  <td>felieton</td>
  <td>фейлетон</td>
  <td>fejleton</td>
</tr>
<tr>
  <td>fraszka</td>
  <td>жартівливий вірш</td>
  <td>żartiwlywnyj wirsz</td>
</tr>
<tr>
  <td>hymn</td>
  <td>гімн</td>
  <td>himn</td>
</tr>
<tr>
  <td>komedia</td>
  <td>комедія</td>
  <td>komedija</td>
</tr>
<tr>
  <td>list</td>
  <td>лист</td>
  <td>lyst</td>
</tr>
<tr>
  <td>nowela</td>
  <td>новела</td>
  <td>nowela</td>
</tr>
<tr>
  <td>oda</td>
  <td>oда</td>
  <td>oda</td>
</tr>
<tr>
  <td>pieśń</td>
  <td>пісня</td>
  <td>pisnja</td>
</tr>
<tr>
  <td>powieść</td>
  <td>роман</td>
  <td>roman</td>
</tr>
<tr>
  <td>przypowieść</td>
  <td>притча</td>
  <td>prytcza</td>
</tr>
<tr>
  <td>psalm</td>
  <td>псалом </td>
  <td>psalom</td>
</tr>
<tr>
  <td>reportaż</td>
  <td>репортаж</td>
  <td>reportaż</td>
</tr>
<tr>
  <td>rozprawka</td>
  <td>есе </td>
  <td>есе</td>
</tr>
<tr>
  <td>satyra</td>
  <td>сатира</td>
  <td>satyra</td>
</tr>
<tr>
  <td>sonet</td>
  <td>сонет</td>
  <td>sonet</td>
</tr>
<tr>
  <td>tragedia</td>
  <td>трагедія</td>
  <td>trahedija</td>
</tr>
<tr>
  <td>tren</td>
  <td>трен</td>
  <td>tren</td>
</tr>
<tr>
  <td>wywiad</td>
  <td>інтервю</td>
  <td>interwju</td>
</tr>