
<tr>
  <td>koniugacja</td>
  <td>дієвідміна</td>
  <td>dijewidmina</td>
</tr>
<tr>
  <td>deklinacja</td>
  <td>відміна</td>
  <td>widmina</td>
</tr>
<tr>
  <td>przypadki</td>
  <td>словоформа</td>
  <td>slowoforma</td>
</tr>
<tr>
  <td>zdanie proste</td>
  <td>речення просте</td>
  <td>reczennia proste</td>
</tr>
<tr>
  <td>zdanie złożone</td>
  <td>речення складне</td>
  <td>reczennia skladane</td>
</tr>
<tr>
  <td>liczba pojedyncza</td>
  <td>однина</td>
  <td>odnyna</td>
</tr>
<tr>
  <td>liczba mnoga</td>
  <td>множина</td>
  <td>mnożyna</td>
</tr>
<tr>
  <td>rodzaj żeński</td>
  <td>рід жіночий</td>
  <td>rid żinoczyj</td>
</tr>
<tr>
  <td>rodzaj męski</td>
  <td>рід чоловічий</td>
  <td>rid czolowiczyj</td>
</tr>
<tr>
  <td>rodzaj nijaki</td>
  <td>рід середній</td>
  <td>rid serednij</td>
</tr>
<tr>
  <td>czas przyszły</td>
  <td>час майбутній</td>
  <td>czas majbutnij</td>
</tr>
<tr>
  <td>czas teraźniejszy</td>
  <td>час теперішній</td>
  <td>czas teperisznij</td>
</tr>
<tr>
  <td>czas przeszły</td>
  <td>час минулий</td>
  <td>czas mynulyj</td>
</tr>
<tr>
  <td>tryb oznajmujący</td>
  <td>спосіб дійсний</td>
  <td>sposib dijsnyj </td>
</tr>
<tr>
  <td>tryb rozkazujący</td>
  <td>спосіб наказовий</td>
  <td>sposib nakazowyj</td>
</tr>
<tr>
  <td>tryb przypuszczający</td>
  <td>спосіб умовний</td>
  <td>sposib umownyj</td>
</tr>
<tr>
  <td>gramatyka</td>
  <td>граматика</td>
  <td>hramatyka</td>
</tr>
<tr>
  <td>ortografia</td>
  <td>орфографія</td>
  <td>orfohradija</td>
</tr>
<tr>
  <td>kaligrafia</td>
  <td>каліграфія</td>
  <td>kalihrafija</td>
</tr>
<tr>
  <td>interpunkcja</td>
  <td>пунктуація</td>
  <td>punktuacija</td>
</tr>
<tr>
  <td>fonetyka</td>
  <td>фонетика</td>
  <td>fonetyka</td>
</tr>
<tr>
  <td>fleksja</td>
  <td>словозміна</td>
  <td>slowozmina</td>
</tr>
<tr>
  <td>składnia</td>
  <td>синтаксис</td>
  <td>syntaksys</td>
</tr>
<tr>
  <td>powiedzenie</td>
  <td>приказка</td>
  <td>prykazka</td>
</tr>
<tr>
  <td>przysłowie</td>
  <td>прислівя </td>
  <td>prysliwja</td>
</tr>
<tr>
  <td>słowotwórstwo</td>
  <td>словотвір</td>
  <td>slowotwir</td>
</tr>