<tr>
  <td>teatr</td>
  <td>театр</td>
  <td>teatr</td>
</tr>
<tr>
  <td>muzeum</td>
  <td>музей</td>
  <td>muzej</td>
</tr>
<tr>
  <td>opera</td>
  <td>опера</td>
  <td>opera</td>
</tr>
<tr>
  <td>skansen</td>
  <td>скансен</td>
  <td>skansen</td>
</tr>
<tr>
  <td>filharmonia</td>
  <td>філармонія </td>
  <td>filarmonija</td>
</tr>
<tr>
  <td>sztuka</td>
  <td>мистецтво</td>
  <td>mystectwo</td>
</tr>
<tr>
  <td>artysta/artystka</td>
  <td>артист/артистка</td>
  <td>artyst/artystka</td>
</tr>
<tr>
  <td>spektakl</td>
  <td>спектакль</td>
  <td>spektakl’</td>
</tr>
<tr>
  <td>przedstawienie</td>
  <td>вистава</td>
  <td>wystawa</td>
</tr>
<tr>
  <td>muzeum</td>
  <td>музей</td>
  <td>muzej</td>
</tr>
<tr>
  <td>wystawa</td>
  <td>виставка</td>
  <td>wystawka</td>
</tr>
<tr>
  <td>obraz</td>
  <td>картина</td>
  <td>kartyna</td>
</tr>
<tr>
  <td>malarstwo</td>
  <td>живопис, малярство</td>
  <td>żywopys, maliarstwo</td>
</tr>
<tr>
  <td>rzeźba</td>
  <td>скульптура</td>
  <td>skul’ptura</td>
</tr>
<tr>
  <td>płaskorzeźba</td>
  <td>рельєф </td>
  <td>rel’jef</td>
</tr>
<tr>
  <td>architektura</td>
  <td>архітектура</td>
  <td>arkhitektura</td>
</tr>
<tr>
  <td>gazeta</td>
  <td>газета</td>
  <td>hazeta</td>
</tr>
<tr>
  <td>magazyn</td>
  <td>журнал</td>
  <td>żurnal</td>
</tr>
<tr>
  <td>program telewizyjny</td>
  <td>телепрограма</td>
  <td>teleprohrama</td>
</tr>
<tr>
  <td>muzyka</td>
  <td>музика</td>
  <td>muzyka</td>
</tr>
<tr>
  <td>piosenka</td>
  <td>пісня</td>
  <td>pisnja</td>
</tr>
<tr>
  <td>melodia</td>
  <td>мелодія</td>
  <td>melodija</td>
</tr>
<tr>
  <td>koncert</td>
  <td>концерт</td>
  <td>koncept</td>
</tr>
<tr>
  <td>występ</td>
  <td>виступ</td>
  <td>wystup</td>
</tr>
<tr>
  <td>audycja radiowa</td>
  <td>радіопрограма</td>
  <td>radioprohrama</td>
</tr>
<tr>
  <td>grafika</td>
  <td>графіка</td>
  <td>hrafika</td>
</tr>
<tr>
  <td>grafika komputerowa</td>
  <td>компютерна графіка</td>
  <td>kompjuterna hrafika</td>
</tr>
<tr>
  <td>strona internetowa</td>
  <td>Інтернет сторінка</td>
  <td>internet storinka</td>
</tr>
<tr>
  <td>książka</td>
  <td>книжка</td>
  <td>knyżka</td>
</tr>
<tr>
  <td>podręcznik</td>
  <td>підручник </td>
  <td>pidrucznyk</td>
</tr>
<tr>
  <td>fotografia</td>
  <td>фотографія</td>
  <td>fotohrafija</td>
</tr>
<tr>
  <td>zdjęcie</td>
  <td>знімок</td>
  <td>znimok</td>
</tr>
<tr>
  <td>gra komputerowa</td>
  <td>компютерна гра</td>
  <td>kompjuterna hra</td>
</tr>
<tr>
  <td>płyta</td>
  <td>диск</td>
  <td>dysk</td>
</tr>
<tr>
  <td>album</td>
  <td>альбом</td>
  <td>al’bom</td>
</tr>
<tr>
  <td>instrument muzyczny</td>
  <td>музичний інструмент</td>
  <td>muzycznyj instrument</td>
</tr>
<tr>
  <td>aktor/aktorka</td>
  <td>актор/акторка</td>
  <td>aktor/aktorka</td>
</tr>
<tr>
  <td>muzyk</td>
  <td>музикант/музикантка</td>
  <td>muzykant/muzykantka</td>
</tr>
<tr>
  <td>malarz</td>
  <td>художник/художниця</td>
  <td>chudożnyk/chudożnytsia</td>
</tr>
<tr>
  <td>piosenkarz/piosenkarka</td>
  <td>естрадний співак/ естрадна співачка</td>
  <td>estradnyj spiwak/estradna spiwaczka</td>
</tr>
<tr>
  <td>kompozytor</td>
  <td>композитор/композиторка</td>
  <td>kompozytor/kompozytorka</td>
</tr>
<tr>
  <td>orkiestra</td>
  <td>оркестр</td>
  <td>orkestr</td>
</tr>
