<tr>
  <td>Biernik</td>
  <td>знахідний</td>
  <td>znachidnyj</td>
</tr>
<tr>
  <td>celownik</td>
  <td>давальний</td>
  <td>dawal’nyj</td>
</tr>
<tr>
  <td>dopełniacz</td>
  <td>родовий</td>
  <td>rodowyj</td>
</tr>
<tr>
  <td>mianownik</td>
  <td>називний</td>
  <td>nazywnyj</td>
</tr>
<tr>
  <td>miejscownik</td>
  <td>місцевий</td>
  <td>miscewyj</td>
</tr>
<tr>
  <td>nadrzędnik</td>
  <td>орудний</td>
  <td>orudnyj</td>
</tr>
<tr>
  <td>wołacz</td>
  <td>кличний</td>
  <td>klycznyj</td>
</tr>
