
<tr>
  <td>cudzysłów</td>
  <td>лапки</td>
  <td>lapky</td>
</tr>
<tr>
  <td>dwukropek</td>
  <td>двокрапка</td>
  <td>dwokrapka</td>
</tr>
<tr>
  <td>kropka</td>
  <td>крапка</td>
  <td>krapka</td>
</tr>
<tr>
  <td>myślnik</td>
  <td>тире</td>
  <td>tyre</td>
</tr>
<tr>
  <td>nawias</td>
  <td>дужки</td>
  <td>dużky</td>
</tr>
<tr>
  <td>przecinek</td>
  <td>кома</td>
  <td>koma</td>
</tr>
<tr>
  <td>średnik</td>
  <td>крапка з комою</td>
  <td>krapka z komoju</td>
</tr>
<tr>
  <td>wielokropek</td>
  <td>три крапки</td>
  <td>try krapky</td>
</tr>
<tr>
  <td>wykrzyknik</td>
  <td>знак оклику</td>
  <td>znak oklyku</td>
</tr>
<tr>
  <td>znak zapytania</td>
  <td>знак питання</td>
  <td>znak pytannia</td>
</tr>